<div class="user-info-block"  [ngStyle]="styles">

  <ng-container *ngIf="alignLeft === true">
    <img mat-card-avatar src="assets/logos/UniOulu.png" alt="">
  </ng-container>

  <div  class="text-info"
        [ngStyle]="{'text-align': alignLeft ? 'left' : 'right'}"
        >
    <span class="theme-profile-name">{{ user?.nimi }}</span>
    <div class="theme-label">
      <span>{{ senderTitle }}</span>
      –

      <span i18n="@@Nyt" *ngIf="aikaleima === 'now'; else hasDate">
        Nyt
      </span>

      <ng-template #hasDate>

        <span i18n="@@Tänään" *ngIf="isCreatedToday; else notCreatedToday">
          Tänään
        </span>

        <ng-template #notCreatedToday>
          <span>{{ aikaleima | date: 'shortDate' }}</span>
        </ng-template>

        <span>&nbsp;{{ aikaleima | date: 'shortTime' }}</span>

        <ng-container *ngIf="muokattu && aikaleima !== muokattu">
          –
          <span i18n="@@Muokattu">Muokattu</span>
            &nbsp;
          <span i18n="@@Tänään" *ngIf="isEditedToday; else notEditedToday">
            Tänään
          </span>

          <ng-template #notEditedToday>
            <span>{{ muokattu | date: 'shortDate' }}</span>
          </ng-template>

          <span>&nbsp;{{ muokattu | date: 'shortTime' }}</span>
        </ng-container>

      </ng-template>

    </div>
  </div>

  <ng-container *ngIf="alignLeft === false">
    <img mat-card-avatar src="assets/logos/UniOulu.png" alt="">
  </ng-container>

</div>
