<div class="user-info-block"  [ngStyle]="styles">

  <ng-container *ngIf="alignLeft === true">
    <div  aria-hidden="true"
          class="circle"
          [ngClass]="{'circle-teacher': user?.asema === 'opettaja'}"
          [style.background-color]="avatarColor.background"
          [style.outline-color]="avatarColor.background"
          >
      <div class="initials" [style.color]="avatarColor.text">
        {{ userNameInitials }}
      </div>
    </div>
  </ng-container>

  <div  class="text-info"
        [ngStyle]="{'text-align': alignLeft ? 'left' : 'right'}"
        >
    <span class="theme-profile-name">{{ user?.nimi }}</span>
    <div class="theme-label">
      <span>{{ senderTitle }}</span>
      –

      <!----- Aikaleima ------------------------------------------------------->

      <span i18n="@@Nyt" *ngIf="aikaleima === 'now'; else hasDate">
        Nyt
      </span>
      <ng-template #hasDate>

        <span>{{createdString}}&nbsp;</span>

        <span i18n="@@klo">klo</span>
        <span>&nbsp;{{ aikaleima | date: 'shortTime'}}</span>

        <!----- Muokkauksen aikaleima ----------------------------------------->

        <ng-container *ngIf="muokattu && aikaleima !== muokattu">,

          <span i18n="@@muokattu">muokattu</span><span>&nbsp;</span>

          <ng-container *ngIf="isEditedYesterday === true">
            <span i18n="@@Eilen">{{ 'eilen' | lowercase }}</span>
            <span>&nbsp;</span>
          </ng-container>

          <ng-container *ngIf="isEditedToday === false">
            <span>{{muokattu | date: 'shortDate'}} </span>
          </ng-container>

          <span i18n="@@klo">klo</span>
          <span>&nbsp;{{muokattu | date: 'shortTime'}}</span>

        </ng-container>

      </ng-template>

    </div>
  </div>

  <ng-container *ngIf="alignLeft === false">
    <!-- <img mat-card-avatar src="assets/logos/UniOulu.png" alt=""> -->
      <div  aria-hidden="true"
            class="circle"
            [ngClass]="{'circle-teacher': user?.asema === 'opettaja'}"
            [style.background-color]="avatarColor.background"
            [style.outline-color]="avatarColor.background"
            >
        <div class="initials" [style.color]="avatarColor.text">
          {{ userNameInitials }}
        </div>
      </div>
  </ng-container>

</div>
