<div class="user-info-block">

  <ng-container *ngIf="alignLeft === true">
    <img mat-card-avatar src="assets/logos/UniOulu.png" alt="">
  </ng-container>

  <div  class="text-info"
        [ngStyle]="{'text-align': alignLeft ? 'left' : 'right'}"
        >
    <span class="theme-profile-name">{{ user?.nimi }}</span>
    <div class="theme-label">
      <span>{{senderTitle}}</span>
      –
      <span *ngIf="isItToday; else notToday" i18n="@@Tänään">
        Tänään
      </span>

      <ng-template #notToday>
        <span>{{ aikaleima | date: 'shortDate' }}</span>
      </ng-template>

      <span>&nbsp;{{ aikaleima | date: 'shortTime' }}</span>
    </div>
  </div>

  <ng-container *ngIf="alignLeft === false">
    <img mat-card-avatar src="assets/logos/UniOulu.png" alt="">
  </ng-container>

</div>