<!-- Älä korvaa ngIf:llä tai sorting ei toimi. -->
<div [ngStyle]="{ 'display': 'isLoaded' ? 'block' : 'none' }">

<div class="input-field-wrapper">
  <h2 class="theme-subheading table-header" *ngIf="headline.length > 0">
    {{ headline }}
  </h2>

  <div class="spacer"></div>

  <button aria-label="Virkistä näkymä"
          class="refresh-button"
          (click)="fetchTickets(courseid!)"
          i18n-aria-label="@@Virkistä näkymä"
          i18n-matTooltip="@@Virkistä näkymä"
          mat-icon-button
          matTooltip="Virkistä näkymä"
          matTooltipPosition="after"
          #tooltip="matTooltip"
          >
    <mat-icon>refresh</mat-icon>
  </button>

  <app-search-bar i18n="@@Suodata kysymyksiä"
                  (searchResult)="applyFilter($event)"
                  >
    Suodata kysymyksiä
  </app-search-bar>

</div>

<table  class="theme-table mat-elevation-z1"
        [dataSource]="dataSource"
        [hidden]="dataSource.filteredData.length === 0"
        matSort
        matSortActive="viimeisin"
        matSortDirection="desc"
        mat-table
        #sortQuestions="matSort"
        >

  <ng-container matColumnDef="tila">
    <th i18n-sortActionDescription="@@Järjestä tilan mukaan"
        i18n="@@Tila"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Järjestä tilan mukaan"
        >
      Tila
    </th>
    <td mat-cell *matCellDef="let element">
      <!-- Muut kuin otsikko-kentässä olevat linkit eivät ole ARIA-käytössä. -->
      <a  aria-disabled="true"
          [routerLink]="'/course/' + courseid + '/ticket-view/' + element.id"
          tabindex="-1"
          >
        <div class="ticket-state-wrapper">
          <div class="icon-wrapper">
            <img  alt=""
                  class="icon"
                  height="100%"
                  src="assets/icons/{{iconFile[element.tilaID]}}.svg"
                  width="100%"
                  >
          </div>
          <!--  Opiskelijalle tilan string on eri, mutta sama id,
                joten älä käytä id:ä. -->
          <div [style.font-weight]="element.tila === '1-Lukematon' ||
              element.tila === '1-Unread' ? 600 : 400">
              <!-- Ensimmäiset 2 merkkiä ovat tilan numeroarvo ja viiva. -->
            {{ element.tila.substring(2) }}
          </div>
        </div>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="otsikko">
    <th *matHeaderCellDef
        i18n-sortActionDescription="@@Järjestä otsikon mukaan"
        i18n="@@Otsikko"
        mat-sort-header
        sortActionDescription="Järjestä otsikon mukaan"
        mat-header-cell
        >
      Otsikko
    </th>
    <!-- <td mat-cell *matCellDef="let element" (clik)="goTicketView(element.id)"> -->
    <td mat-cell *matCellDef="let element" >
      <a  class="a-left-padding"
          [attr.data-testid]="'table-title-a-' + element.id"
          [routerLink]="'/course/' + courseid + '/ticket-view/' + element.id">
          {{ (element.otsikko.length > maxItemTitleLength)? (element.otsikko |
          slice:0:maxItemTitleLength) + '...':(element.otsikko) }}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="aloittajanNimi">
    <th class="align-right"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Järjestä lähettäjän mukaan"
        i18n-sortActionDescription="@@Järjestä lähettäjän mukaan"
        i18n="@@Lähettäjä">
      Lähettäjä
    </th>
    <td class="cell-align-right" mat-cell *matCellDef="let element">
      <a  aria-disabled="true" disabled
          class="cell-align-right"
          [routerLink]="'/course/' + courseid + '/ticket-view/' + element.id"
          tabindex="-1"
          >
        {{ element.aloittajanNimi }}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="viimeisin">
    <th class="align-right no-left-padding"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Järjestä muokatun päivämäärän mukaan"
        i18n-sortActionDescription="@@Järjestä muokatun mukaan"
        i18n="@@Muokattu"
        >
      Muokattu
    </th>
    <td mat-cell *matCellDef="let element" class="cell-align-right">
      <a  aria-disabled="true"
          class="cell-align-right"
          [routerLink]="'/course/' + courseid + '/ticket-view/' + element.id"
          tabindex="-1"
          >
          {{ element.viimeisinStr }}
<!--         {{ element?.viimeisinTanaan === true ? 'Tänään' : (element.viimeisin |
            date: element.viimeisin.getFullYear() === currentYear ?
            'd.M' : 'shortDate' )}} -->
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="liite">
    <th class="align-right no-left-padding"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        >
      &nbsp;
    </th>
    <td class="attachment-cell" mat-cell *matCellDef="let element">
      <mat-icon aria-label="Liite"
                i18n-aria-label="@@liite"
                i18n-matTooltip="@@Sisältää liitetiedostoja"
                matTooltip="Sisältää liitetiedostoja"
                [matTooltipShowDelay]="600"
                *ngIf="element.liite"
                >
        attach_file
      </mat-icon>
    </td>
  </ng-container>

  <!--  ***** Rivit **** -->

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumn()"></tr>

  <tr mat-row *matRowDef="let row; columns: getDisplayedColumn()">
    <!-- <a [routerLink]="'/course/' + courseid + '/ticket-view/' + row.id"></a> -->
  </tr>

</table>

<p  class="no-items-message" i18n="@@Ei tuloksia"
    *ngIf="dataSource.filteredData.length === 0 && numberOfQuestions > 0">
  Suodattimella ei löytynyt tuloksia.
</p>

  <div  class="no-items-box"
        mat-elevation-z1
        *ngIf="numberOfQuestions === 0 && error === null"
        >
    <p i18n="@@Ei yhtään kysymystä esitetty"
      *ngIf="user?.asema === 'opettaja' || user?.asema === 'admin';
          else noTicketsStudent" >
      Yhtään kysymystä ei ole esitetty.
    </p>
    <ng-template #noTicketsStudent>
      <p i18n="@@Et ole lähettänyt yhtään kysymystä.">
        Et ole lähettänyt yhtään kysymystä.
      </p>
    </ng-template>
  </div>

<!----------------- Virheilm. ja napit ---------------------------------------->

  <app-error  buttonText="{{ error.buttonText }}"
              i18n-title="{{ error.title }}"
              message="{{ error.message }}"
              *ngIf="isLoaded && error"
              #ticketError
              title="{{ error.title }}"
              >
  </app-error>

  <div  class="buttons-wrapper theme-actions"
      [ngStyle]="numberOfQuestions === 0 ?
          {'justify-content': 'flex-start'} : {'justify-content': 'flex-end'}"
      >

  <ng-container *ngIf="user?.asema === 'opettaja' || user?.asema === 'admin'">

    <button class="button"
            (click)="showArchived()"
            i18n="@@Näytä arkistoidut"
            mat-raised-button
            *ngIf="!isArchivedShown else hideArchivedBtn"
            >
        Näytä ratkaistut
    </button>

    <ng-template #hideArchivedBtn>
      <button class="button"
              (click)="hideArchived()"
              i18n="@@Piilota arkistoidut"
              mat-raised-button
              >
          Piilota ratkaistut
      </button>
    </ng-template>

  </ng-container>

  <div class="spacer"></div>

  <button class="button"
          (click)="saveRedirectUrl()"
          [color]="user?.asema === 'opiskelija' ? 'primary' : ''"
          mat-raised-button
          [routerLink]="'/course/' + this.courseid + '/submit'"
          target="_blank"
          >
    <a  i18n="@@Kysy opettajilta"
        [routerLink]="'/course/' + this.courseid + '/submit'"
        >
      Kysy opettajilta
    </a>
  </button>
</div>


<!-------------- Ratkaistut --------------------------------------------------->

<!-- Älä korvaa ngIf:llä tai tableen, koska silloin ei sorting ei toimi. -->
<div [ngStyle]="{ 'display': user?.asema === 'opettaja' ? 'block' : 'none' }">

<h2 class="theme-subheading" i18n="@@Ratkaistut kysymykset" *ngIf="isArchivedShown">
  Ratkaistut kysymykset
</h2>

<table  class="theme-table mat-elevation-z1"
        [dataSource]="dataSourceArchived"
        [hidden]="dataSourceArchived.filteredData.length === 0"
        matSort
        matSortActive="viimeisin"
        matSortDirection="desc"
        mat-table
        [ngStyle]="{ 'display': archivedCount > 0 ? 'table' : 'none' }"
        #sortArchived="matSort"
        >

<ng-container matColumnDef="tila">
  <th i18n-sortActionDescription="@@Järjestä tilan mukaan"
      i18n="@@Tila"
      mat-sort-header
      *matHeaderCellDef
      mat-header-cell
      sortActionDescription="Järjestä tilan mukaan"
      >
    Tila
  </th>
  <td mat-cell *matCellDef="let element">
    <!-- Muut kuin otsikko-kentässä olevat linkit eivät ole ARIA-käytössä. -->
    <a aria-disabled="true"
      [routerLink]="'/course/' + courseid + '/ticket-view/' + element.id"
      tabindex="-1"
      >
      <div class="ticket-state-wrapper">
        <div class="icon-wrapper">
          <img alt=""
              class="icon"
              height="100%"
              src="assets/icons/{{iconFile[element.tilaID]}}.svg"
              width="100%"
              >
        </div>
        <div>{{ element.tila.substring(2) }}</div>
      </div>
    </a>
  </td>
</ng-container>

<ng-container matColumnDef="otsikko">
  <th *matHeaderCellDef
      i18n-sortActionDescription="@@Järjestä otsikon mukaan"
      i18n="@@Otsikko"
      mat-header-cell
      mat-sort-header
      sortActionDescription="Järjestä otsikon mukaan"
      >
    Otsikko
  </th>
  <!-- <td mat-cell *matCellDef="let element" (clik)="goTicketView(element.id)"> -->
  <td mat-cell *matCellDef="let element" >
    <a  class="a-left-padding"
        [routerLink]="'/course/' + courseid + '/ticket-view/' + element.id"
        >
          {{ (element.otsikko.length > maxItemTitleLength)? (element.otsikko |
              slice:0:maxItemTitleLength) + '...':(element.otsikko) }}
    </a>
  </td>
</ng-container>

<ng-container matColumnDef="aloittajanNimi">
  <th class="align-right"
      i18n="@@Lähettäjä"
      i18n-sortActionDescription="@@Järjestä lähettäjän mukaan"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Järjestä lähettäjän mukaan"
      >
    Lähettäjä
  </th>
  <td class="cell-align-right" mat-cell *matCellDef="let element">
    <a  aria-disabled="true"
        class="cell-align-right"
        disabled
        [routerLink]="'/course/' + courseid + '/ticket-view/' + element.id"
        tabindex="-1"
        >
      {{ element.aloittajanNimi }}
    </a>
  </td>
</ng-container>

<ng-container matColumnDef="viimeisin">
<th class="align-right"
    i18n-sortActionDescription="@@Järjestä muokatun mukaan"
    i18n="@@Muokattu"
    mat-header-cell
    *matHeaderCellDef
    mat-sort-header
    sortActionDescription="Järjestä muokkauksen päivämäärän mukaan"
    >
  Muokattu
</th>
<td mat-cell *matCellDef="let element" class="cell-align-right">
  <a  aria-disabled="true"
      class="cell-align-right"
      [routerLink]="'/course/' + courseid + '/ticket-view/' + element.id"
      tabindex="-1"
      >
    {{ element.viimeisinStr }}
  </a>
</td>
</ng-container>

<ng-container matColumnDef="liite">
  <th class="align-right no-left-padding"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      >
  <td class="attachment-cell"mat-cell *matCellDef="let element">
    <mat-icon aria-label="Liite"
              i18n-aria-label="@@liite"
              i18n-matTooltip="@@Sisältää liitetiedostoja"
              matTooltip="Sisältää liitetiedostoja"
              [matTooltipShowDelay]="600"
              *ngIf="element.liite"
              >
      attach_file
    </mat-icon>
  </td>
</ng-container>

<!--  ***** Rivit **** -->

<tr mat-header-row *matHeaderRowDef="getDisplayedColumn()"></tr>

<tr mat-row *matRowDef="let row; columns: getDisplayedColumn()">
<!-- <a [routerLink]="'/course/' + courseid + '/ticket-view/' + row.id"></a> -->
</tr>

</table>

<p  class="no-items-message" i18n="@@Ei tuloksia"
    *ngIf="dataSourceArchived.filteredData.length === 0 && archivedCount">
  Suodattimella ei löytynyt tuloksia.
</p>

<div  class="no-items-box"
      mat-elevation-z1
      *ngIf="isArchivedShown && archivedCount === 0"
      >
  <p  i18n="@@Ei arkistoituja kysymyksiä">
    Ei ratkaistuja kysymyksiä.
  </p>
</div>

</div>

<!--------------------------------------------------------------------------->


<!-- Jos halutaan paginator -->
<!-- <mat-paginator [pageSizeOptions]="[10, 15, 20]" [hidden]="numberOfQuestions < 10"
        #paginatorQuestions showFirstLastButtons
    aria-label="Valitse kysymysten sivu"></mat-paginator> -->

</div>
