.invisible {
  position: absolute;
  left: -9999px;
  color: transparent;
}

.mat-column-aloittajanNimi,
.mat-column-aikaleima {
  text-align: right;
}

.mat-column-aloittajanNimi {
  min-width: 11em;
}

.refresh-button {
  margin: 0 0.7rem 0.9rem auto;
}

.ticket-state-wrapper {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  width: 1.8rem;
}

.attachment-cell {
  padding-right: 0.7rem;
}
