.paragraphs-wrapper {
  margin: 2em 4em 2.3em 4em;
}

p, h2 {
  text-align: center;
}

.buttons-wrapper {
  margin-top: 2rem;
  // margin-right: 2.2rem;
  // outline: 1px gray solid;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) and (min-width: 450px) {
  .paragraphs-wrapper {
    margin: 1em;
  }
}

/*
@media (min-width: 500px) {
  .buttons-wrapper {
    gap: 13%;
  }
}

@media (min-width: 450px) and (max-width: 499px) {
  .buttons-wrapper {
    gap: 1rem;
  }
}
*/

@media (max-width: 449px) {
  .buttons-wrapper {
    // margin: 1rem 0 1rem 0;
    flex-direction: column;
    row-gap: 1rem;
  }

  .paragraphs-wrapper {
    margin: 1em 0;
  }

}