<div class="icon-container">
  <img alt="" class="yo-logo" src="assets/logos/oulun_yliopisto-rgb-{{lang}}.png">
  <img alt="" class="eu-logo" src="assets/logos/EU_ESR-fi.png">
  <img alt="" class="vipuvoimaa-logo" src="assets/logos/vipuvoimaa-eu-rgb-{{lang}}.png">
  <img alt="" class="oamk-logo" src="assets/logos/oamk-rgb-{{lang}}.png">
</div>

<app-headline [appHeadline]="true" [showInIframe]="true">
</app-headline>

<div class="paragraphs-wrapper">

  <p class="first-p" i18n="@@Järjestelmän kuvaus">
    Tukki on Digivertaisverkko-hankkeen toteuttama ohjelmisto, jonka tarkoitus on
    parantaa opiskelijoiden ja opettajien välistä kanssakäymistä etäopiskellessa.
    Järjestelmän avullla opiskelijat voivat lähettää ongelmistaan ja kysymyksistään
    opettajille tikettejä, joiihn opettajat voivat vastata. Järjestelmä sopii hyvin
    kursseilla, joissa on viikottaisia tehtäviä tai muuta aktiivista puuhaa
    opiskelijoille, joiden parissa opiskelijoilla voi tulla haasteita tai ongelmia.
    Se on kuitenkin pyritty suunnittelemaan mahdollisimman monipuoliseksi, jotta
    se sopisi mahdollisimman monelle kurssille.
  </p>

  <p i18n="@@Projektista">
    Digivertaisverkko on Euroopan sosiaalirahaston rahoittama hanke, jonka
    tarkoituksena on kehittää yliopistolle teknisiä ja pedagogisia ratkaisuja
    etäopiskelun parantamiseksi. Hanke toteutetaan yhteistyössä Oulun yliopiston
    ja Oulun ammattikorkeakoulun kanssa.
  </p>

</div>

<h2 i18n="@@Lue lisää">Lue lisää</h2>

<div class="buttons-wrapper">

  <button (click)="true"
          color="primary"
          mat-raised-button
          >
    <a href="https://github.com/Digivertaisverkko/UKK-tiketit/wiki"
       target="_blank"
       i18n="@@Dokumentaatio"
      >
      Dokumentaatio
    </a>
  </button>

  <button (click)="true"
          mat-raised-button
          >
    <a  href="https://interact.oulu.fi/site/digivertaisverkko"
        target="_blank"
        i18n="@@Hanke"
        >
      Hanke
    </a>
  </button>

</div>

