<h1 mat-dialog-title>Tietosuojaseloste</h1>

<mat-dialog-content #dialogContent>

  <p>
    Tämä on Tukki-järjestelmän EU:n yleisen tietosuoja-asetuksen (GDPR)
    ja tietosuojalain (1050/2018) mukainen tietosuojaseloste.
  </p>

  <h2>1.	Rekisterinpitäjä</h2>
  <p>
    Digivertaisverkko, Oulun yliopisto<br>
    PL 8000, 90014 Oulun yliopisto
  </p>

  <h2>2.	Yhteyshenkilö rekisteriä koskevissa asioissa</h2>
  <p>
    Digivertaisverkko hankkeen projektipäällikkö, Helena Tokkonen.<br>
    Yhteydenotot sähköpostiosoite: helena.tokkonen at oulu.fi.
  </p>

  <h2>3.	Rekisterin nimi</h2>
  <p>Digivertaisverkko hankkeen Tukki-järjestelmä.</p>

  <h2>4.	Tietosuojavastaavan yhteystiedot</h2>
  <p>helena.tokkonen at oulu.fi</p>

  <h2>5.	Henkilötietojen käsittelyn tarkoitus ja käsittelyn oikeusperuste</h2>
  <p>
    Henkilötietojen käsittely perustuu EU:n tietosuoja-asetuksen artikla 6
    kohdan 1 perusteella seuraavasti: <i>yleistä etua koskea tehtävä /
    rekisterinpitäjälle kuuluvan julkisen vallan käyttö</i> (GDPR, 6.1 artiklan
    e kohta).
  </p>

  <h2>6.	Kerättävät henkilötiedot, niiden käsittely ja käyttötarve</h2>

  <h3>6.1.	Henkilötiedot</h3>
  <ul>
    <li>Henkilön nimi</li>
    <li>Sähköpostiosoite</li>
    <li>Opiskeluoikeuteen liittyvät tiedot</li>
    <li>Kursseihin liittyvät tiedot</li>
    <li>Käyttäjien itsensä tallentamat tietosisällöt järjestelmään ja niiden
    mahdollinen kommentointi</li>
    <li>Työntekijöiden tiedot ja heidän sisäiset organisaatiotiedot</li>
  </ul>

  <h3>6.2.	Henkilötietojen käyttötarve</h3>
  <p>
    Järjestelmässä olevien tietojen käsittelyn tarkoituksena on tarjota
    opiskelijoille helppokäyttöinen tapa kirjata kysymyksiä järjestelmään
    opettajien luettavaksi ja vastattavaksi, sekä seurata oman kysymyksen
    tilaa. Opettajille taas tarjotaan mahdollisuus luoda usein kysyttyihin
    kysymyksiin vastauksia, jotka ovat julkisesti nähtävillä kaikille kurssin
    osallistujille. Opettajat voivat käyttää opiskelijoiden tallentamia laite-
    ja ongelma/ratkaisu tietoja pohjana luodessaan vastauksia usein kysyttyihin
    kysymyksiin.
  </p>
  <p>Henkilötietoja käytetään seuraaviin toimenpiteisiin:</p>
  <ul>
    <li>
      Käyttäjän tunnistamiseen järjestelmän sisällä ja antamaan oikeat
      oikeudet
    </li>
    <li>Toisten käyttäjien tunnistamiseen</li>
    <li>Ottamaan yhteyttä käyttäjään</li>
  </ul>

  <h3>6.3.	Henkilötietojen käsittely</h3>
  <ul>
    <li>
      Tietoja ei käytetä profilointiin. Käsittelyssä ei tehdä päätöksiä
      automatisoidusti.
    </li>
    <li>
      Tallennettuja tietoja säilytetään järjestelmässä niin kauan, kunnes
      henkilö poistaa tietonsa tai pyytää niitä poistettavaksi.
    </li>
    <li>
      Evästeitä käytetään ainoastaan sellaisiin toimenpiteisiin, jotka ovat
      välttämättömiä käyttäjän pyytämän palvelun käyttämiseen.
    </li>
  </ul>

  <h3>6.4.	Henkilötietojen säännönmukaiset tietolähteet</h3>
  <ul>
    <li>
      Opetushenkilökunnan ja opiskelijoiden tiedot siirretään automaattisesti
      järjestelmän käyttöön LTI-protokollan välityksellä sitä tukevista
      järjestelmistä.
    </li>
    <li>
      Opetushenkilökunta ja opiskelijat voivat luoda itse omat tunnuksensa
      järjestelmään vapaaehtoisesti.
    </li>
  </ul>

  <h3>6.5.	Arkaluonteisten henkilötietojen käsittely ja suojaaminen</h3>
  <p>
    Järjestelmässä ei käsitellä sinänsä arkaluonteisia henkilötietoja. Mikäli
    tällaista tietoa sisältyy käyttäjien tuottamaan aineistoon, aineisto
    poistetaan järjestelmästä seitsemän (7) päivän kuluessa poistopyynnön
    vastaanottamisesta.
  </p>

  <h2>7.	Tietojen siirto EU:n tai ETA:n ulkopuolelle</h2>
  <p>Tietoja ei siirry EU:n ja ETA:n ulkopuolelle.</p>

  <h2>8.	Rekisterin suojauksen periaatteet</h2>
  <p>
    Järjestelmän käytössä noudatetaan Oulun yliopiston tietosuojaperiaatteita.
    Käyttöoikeudet on määritelty opettajille sekä opiskelijoille. Lisätietoa:
    <a  href="https://www.oulu.fi/fi/tietosuojailmoitus"
        target="_blank">
      https://www.oulu.fi/fi/tietosuojailmoitus
    </a>
  </p>
  <p>
    Palvelu toimii ympäristössä, joka on suojattu palomuurilla ja SSL
    suojauksella. Palveluun otetaan yhteys suojatulla verkkoyhteydellä.
    Tietokannat ja niiden varmuuskopiot sijaitsevat lukituissa tiloissa ja
    tietoihin pääsevät käsiksi vain palveluntarjoajan nimetyt henkilöt.
  </p>

  <h2>9.	Rekisteröidyn oikeudet</h2>
  <p>
    Rekisteröidyllä on oikeus tarkastaa, mitä häntä koskevia tietoja
    henkilörekisteriin on tallennettu. Tietosuoja-asetuksen mukaan
    rekisteröidyllä on oikeus:
  </p>
  <ul>
    <li>saada tietoa henkilötietojensa käsittelystä</li>
    <li>saada pääsy tietoihin</li>
    <li>oikaista tietoja</li>
    <li>rajoittaa tietojen käsittelyä</li>
    <li>vastustaa tietojen käsittelyä</li>
    <li>olla joutumatta automaattisen päätöksenteon kohteeksi.</li>
  </ul>
  <p>
    Tarkastuspyynnöt osoitetaan sähköpostitse: helena.tokkonen at oulu.fi
  </p>
  <p>
    Rekisteröidyllä on myös oikeus tehdä henkilötietojesi käsittelystä valitus
    valvontaviranomaiselle, yhteystiedot:
    <a  href="http://www.tietosuoja.fi/yhteystiedot"
        target="_blank">
      http://www.tietosuoja.fi/yhteystiedot
    </a>
  </p>

</mat-dialog-content>

<mat-dialog-actions>
  <button color="primary"
          (click)="closeModal()"
          i18n="@@Sulje"
          mat-raised-button
          >
    Sulje
  </button>
</mat-dialog-actions>
