<h2 mat-dialog-title>Tikettijärjestelmän tietosuojaseloste</h2>

<mat-dialog-content>
  <p>
    Tämä on Tikettijärjestelmän EU:n yleisen tietosuoja-asetuksen (GDPR) ja tietosuojalain (1050/2018) mukainen
    tietosuojaseloste.
  </p>
  <h3>1.	Rekisterinpitäjä</h3>
  <p>
    Digivertaisverkko, Oulun yliopisto<br>
    PL 8000, 90014 Oulun yliopisto
  </p>
  <h3>2.	Yhteyshenkilö rekisteriä koskevissa asioissa</h3>
  <p>
    Digivertaisverkko hankkeen projektipäällikkö, Helena Tokkonen.<br>
    Yhteydenotot sähköpostiosoite: helena.tokkonen at oulu.fi.
  </p>
  <h3>3.	Rekisterin nimi</h3>
  <p>Digivertaisverkko hankkeen Tikettijärjestelmä</p>
  <h3>4.	Tietosuojavastaavan yhteystiedot</h3>
  <p>DPO at oulu.fi</p>
  <h3>5.	Henkilötietojen käsittelyn tarkoitus ja käsittelyn oikeusperuste</h3>
  <p>
    Henkilötietojen käsittely perustuu EU:n tietosuoja-asetuksen artikla 6 kohdan 1 perusteella seuraavasti: <i>yleistä
    etua koskea tehtävä / rekisterinpitäjälle kuuluvan julkisen vallan käyttö</i> (GDPR, 6.1 artiklan e kohta)
  </p>
  <h3>6.	Kerättävät henkilötiedot, niiden käsittely ja käyttötarve</h3>
  <h4>6.1.	Henkilötiedot</h4>
  <ul>
    <li>Henkilön nimi</li>
    <li>Sähköpostiosoite</li>
    <li>Opiskeluoikeuteen liittyvät tiedot</li>
    <li>Koulutusohjelmaan ja koulutusalaan liittyvät tiedot</li>
    <li>Kursseihin liittyvät tiedot</li>
    <li>Käyttäjien itsensä tallentamat tietosisällöt järjestelmään ja niiden mahdollinen kommentointi</li>
    <li>Työntekijöiden tiedot ja heidän sisäiset organisaatiotiedot</li>
  </ul>
  <h4>6.2.	Henkilötietojen käyttötarve</h4>
  <p>
    Järjestelmässä olevien tietojen käsittelyn tarkoituksena on tarjota opiskelijoille helppokäyttöinen tapa kirjata
    tukipyyntö ja seurata oman tukipyynnön tilaa. Henkilön tallentamia laite ja ongelma/ratkaisu tietoja voidaan
    käyttää apuna ratkaisemaan yleisiä ongelmia.
  </p>
  <h4>6.3.	Henkilötietojen käsittely</h4>
  <ul>
    <li>Tietoja ei käytetä profilointiin. Käsittelyssä ei tehdä päätöksiä automatisoidusti.</li>
    <li>
      Tallennettuja tietoja säilytetään Tikettijärjestelmässä yhden (1) vuoden kurssin päättymisen jälkeen tai niin
      kauan, kunnes henkilö poistaa tietonsa tai pyytää niitä poistettavaksi.
    </li>
    <li>
      Evästeitä käytetään ainoastaan sellaisiin toimenpiteisiin, jotka ovat välttämättömiä käyttäjän pyytämän palvelun
      käyttämiseen.
    </li>
  </ul>
  <h4>6.4.	Henkilötietojen säännönmukaiset tietolähteet</h4>
  <ul>
    <li>
      Opetushenkilökunnan ja opiskelijoiden tiedot siirretään automaattisesti järjestelmän käyttöön LTI-protokollan
      välityksellä sitä tukevista järjestelmistä.
    </li>
    <li>Opetushenkilökunta ja opiskelijat voivat luoda itse omat tunnuksensa järjestelmään vapaaehtoisesti.</li>
  </ul>
  <h4>6.5.	Arkaluonteisten henkilötietojen käsittely ja suojaaminen</h4>
  <p>
    Tikettijärjestelmässä ei käsitellä sinänsä arkaluonteisia henkilötietoja. Mikäli tällaista tietoa sisältyy
    käyttäjien tuottamaan aineistoon, aineisto poistetaan järjestelmästä seitsemän (7) päivän kuluessa poistopyynnön
    vastaanottamisesta.
  </p>
  <h3>7.	Tietojen siirto EU:n tai ETA:n ulkopuolelle</h3>
  <p>Tietoja ei siirry EU:n ja ETA:n ulkopuolelle.</p>
  <h3>8.	Rekisterin suojauksen periaatteet</h3>
  <p>
    Järjestelmän käytössä noudatetaan Oulun yliopiston tietosuojaperiaatteita. Käyttöoikeudet on määritelty opettajille
    sekä opiskelijoille.
  </p>
  <p>
    Palvelu toimii ympäristössä, joka on suojattu palomuurilla ja SSL suojauksella. Palveluun otetaan yhteys suojatulla
    verkkoyhteydellä. Tietokannat ja niiden varmuuskopiot sijaitsevat lukituissa tiloissa ja tietoihin pääsevät käsiksi
    vain palveluntarjoajan nimetyt henkilöt.
  </p>
  <h3>9.	Rekisteröidyn oikeudet</h3>
  <p>
    Rekisteröidyllä on oikeus tarkastaa, mitä häntä koskevia tietoja henkilörekisteriin on tallennettu.
    Tietosuoja-asetuksen mukaan rekisteröidyllä on oikeus:
  </p>
  <ul>
    <li>saada tietoa henkilötietojensa käsittelystä</li>
    <li>saada pääsy tietoihin</li>
    <li>oikaista tietoja</li>
    <li>rajoittaa tietojen käsittelyä</li>
    <li>vastustaa tietojen käsittelyä</li>
    <li>olla joutumatta automaattisen päätöksenteon kohteeksi.</li>
  </ul>
  <p>
    Tarkastuspyynnöt osoitetaan sähköpostitse: helena.tokkonen at oulu.fi<br>
    Rekisteröidyllä on myös oikeus tehdä henkilötietojesi käsittelystä valitus valvontaviranomaiselle, yhteystiedot:
    <a href="http://www.tietosuoja.fi/yhteystiedot" target="_blank">http://www.tietosuoja.fi/yhteystiedot</a>.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closeModal()">Sulje</button>
</mat-dialog-actions>
