$debug: false;

.vertical-spacer {
  height: var(--margin-top-embedded);
}

/* Yläotsikko, jossa punainen viiva. Käytetään esim:
  <h1 class="main-header"><span>Otsikko</span</h1>
*/
h1 {
  // Ei ota jostain syystä custom teemasta fonttia.
  font-family: var(--display-font);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  // Älä laita enempää ala-marginaalia. Alkuun -nappi sijoittuu muuten väärin.
  margin-top: 2.2rem;
  margin-bottom: 0.6rem;
  overflow: hidden;
  position: relative;
  z-index: 0;

  // Tarvitaan pituuden mukaan muuttuvan inline-elementti alla olevan otsikon
  // alla olevan viivan pituuden määrittelyyn.
  span {
    @if $debug { outline: 2px dotted blue }
    position: relative;
    // Firefoxilla korkeutta ei määritellä span-elementillä, vaan tarvitaan tämä.
    // Viiva on tällöin useammalla rivillä koko näkymän leveyksinen.
    @-moz-document url-prefix() {
      display: inline-block;
    }
    // padding-right: 2em;
    // Otsikon viimeisen rivin alla oleva viiva.lock;
    &:after {
      @if $debug { outline: 2px solid green }
      border-bottom: 3px solid var(--accent-color);
      bottom: 4px;
      content: "";
      left: 0;
      padding-right: 3em;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }
}

.login-h1 {
  margin: 1.8em auto 0 auto;
  text-align: center;
  span:after {
    bottom: 4px;
    left: -6%;
    padding-right: 0;
    width: 112%;
  }
}
