$debug: false;

footer {
  // border: {
  //     style: dashed;
  //     color: black;
  //     width: 2px;
  // }
  margin: 0;
  width: 100%;

  // #top-row {

  //   @if $debug {
  //     border: {
  //       style: solid;
  //       color: yellow;
  //       width: 1px;
  //     }
  //   }

  //   align-items: space-between;
  //   display: flex;
  //   flex-direction: row;
  //   // padding: 3em;
  //   height: 130px;
  //   margin: 0;
  //   padding: 7px 0 0 0;
  //   width: 100%;
  // }

  #icon-container {

    @if $debug {
      border: {
        style: dashed;
        color: white;
        width: 1px;
      }
    }

    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;

    // height: 100px;
    max-width: 1024px;
    min-width: 380px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px 50px 10px;
  }

  // .col {

    // @if $debug {
    //   border: {
    //     style: dashed;
    //     color: gray;
    //     width: 1px;
    //   }
    // }

    // padding: 2em 1em 1em 1em;

    img {
      display: block;
      height: 100%;
      margin-left: 10px;
      margin-right: 10px;
      // padding-top: 1em;
      // padding-bottom: 1em

      @if $debug {
        border: {
          style: dashed;
          color: green;
          width: 1px;
        }
      }
    }

    #yo-logo {
      height: 80px;
      margin-bottom: 10px;
      // width: 200px;
    }

    #oamk-logo {
      height: 70px;
      margin-left: 0;
      margin-right: 0;
    }

    #vipuvoimaa-logo {
      margin-bottom: 5px;
      height: 80px;
    }

    #eu-logo {
      height: 80px;
    }

    mat-nav-list {
      display: block;
      font-weight: 500;
      text-align: right;
    }

    a {
      height: 22px;
    }

    ::ng-deep .mdc-list-item__primary-text {
      color: white !important;
    }
  // }

  // #bottom-row {
  //   color: inherit;
  //   background-color: inherit;
  //   display: flex;
  //   width: 100%;
  //   justify-content: center;
  //   // Tool-bar -määrittelyissä on:
  //   // flex-direction: row;
  //   // align-items: center;
  //   // white-space: nowrap;
  //   // height: 64px;
  //   // font-size: 20px;
  //   // border: {
  //   //     style: dashed;
  //   //     color: red;
  //   //     width: 2px;
  //   // }
  //   margin: 0;
  // }
}

