@import '../styles/financier-logos.scss';

$debug: false;

.curve-wrapper {
  background-color: transparent;
  margin-top: -20px;
  position: relative;
  > svg {
    margin-bottom: -8px ;
  }
}

footer {
  margin: 0;
  width: 100%;

  .icon-container {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto 0 auto;
    max-width: 1024px;
    min-width: 300px;
    padding: 12px 8px 30px 4px;
    width: 100%;
  }

  mat-nav-list {
    align-self: flex-start;
    padding: 18px 0 10px 0;
    margin-left: auto;
    max-width: 16em;
    text-align: right;
  }

  .spacer {
    display: block;
    flex: 3 0 auto;
    @if $debug { border: solid yellow 1px;  }
  }

  .about-software {
    font-weight: 500;
    box-sizing: border-box;
    color: var(--contrast-color);
    max-width: 445px;
    margin-right: auto;

    padding: 16px 13px 14px 18px;
    @if $debug { border: dashed gray 1px; }
  }

  a {
    height: 22px;
  }

  // Tärkeää olla footerin sisällä, vaikuttaa muuten muihin menuihin.
  ::ng-deep .mdc-list-item__primary-text {
    color: var(--contrast-color) !important;
  }
}

@media (max-width: 1015px) {
  mat-nav-list {
    order: 6;
  }
}
