<footer class="theming-footer" color="primary">
  <div id="top-row">

  <div id="icon-container">
      <!-- <div class="col" id="col1"> -->
        <img id="yo-logo" src="../../../assets/logos/oulun_yliopisto-white.png" alt="">
      <!-- </div> -->
      <!-- <div class="col" id="col2"> -->
        <img id="oamk-logo" src="../../../assets/logos/oamk-white.png" alt="">
      <!-- </div> -->
      <!-- <div class="col" id="col3"> -->
        <img id="vipuvoimaa-logo" src="../../../assets/logos/vipuvoimaa-eu-white.png" alt="">
      <!-- </div> -->
      <!-- <div class="col" id="col4"> -->
        <img id="eu-logo" src="../../../assets/logos/EU_ESR.png" alt="">
      <!-- </div> -->
      <mat-nav-list color="primary">
        <a (click)="openPrivacyModal()" mat-list-item i18n="@@Yksityisyystiedot">Yksityisyystiedot</a>
        <a mat-list-item><span class="list-item">Oulun Yliopisto</span></a>
        <a mat-list-item>Oulun Ammattirkorkeakoulu</a>
        <a mat-list-item>Hankkeen toimijat</a>
      </mat-nav-list>
    </div>

  </div>

</footer>
