$debug: false;

hr {
  background-color: #dc5323;
  border-width: 0;
  height: 5px;
  margin: 0;
  // width: 100%;
  position: relative;
  top: 14px;
}

footer {
  // border: {
  //     style: dashed;
  //     color: black;
  //     width: 2px;
  // }
  margin: 0;
  width: 100%;

  // #top-row {

  //   @if $debug {
  //     border: {
  //       style: solid;
  //       color: yellow;
  //       width: 1px;
  //     }
  //   }

  //   align-items: space-between;
  //   display: flex;
  //   flex-direction: row;
  //   // padding: 3em;
  //   height: 130px;
  //   margin: 0;
  //   padding: 7px 0 0 0;
  //   width: 100%;
  // }

  #icon-container {

    @if $debug {
      border: {
        style: dashed;
        color: white;
        width: 1px;
      }
    }

    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;

    // height: 100px;
    max-width: 1024px;
    min-width: 300px;
    width: 100%;
    margin: 8px auto 0 auto;
    padding: 10px 2px 40px 2px;
  }

  // .col {

    // @if $debug {
    //   border: {
    //     style: dashed;
    //     color: gray;
    //     width: 1px;
    //   }
    // }

    // padding: 2em 1em 1em 1em;

    img {
      display: block;
      height: 100%;
      margin-left: 10px;
      margin-right: 10px;
      // padding-top: 1em;
      // padding-bottom: 1em

      @if $debug {
        border: {
          style: dashed;
          color: green;
          width: 1px;
        }
      }
    }

    #yo-logo {
      height: 80px;
      // margin-bottom:
      padding-bottom: 22px;;
      // width: 200px;
    }

    #oamk-logo {
      height: 70px;
      margin-left: 0;
      margin-right: 0;
      padding-top: 4px;
      padding-bottom: 15px;
    }

    #vipuvoimaa-logo {
      height: 80px;
      padding-bottom: 15px;
    }

    #eu-logo {
      height: 80px;
      padding: 12px 12px 12px 12px;
    }

    mat-nav-list {
      // flex-grow: 5;
      // display: block;§
      font-weight: 500;
      padding: 18px 10px 10px 10px;
      text-align: right;
      // max-width: 220px;
      @if $debug {
        border: {
          style: dashed;
          color: gray;
          width: 1px;
        }
      }
    }

    #about-software {
      align-self: flex-start;
      color:white;
      display: block;
      max-width: 440px;
      padding: 18px 22px 18px 16px;
      @if $debug {
        border: {
          style: dashed;
          color: gray;
          width: 1px;
        }
      }
    }

    a {
      height: 22px;
    }

    ::ng-deep .mdc-list-item__primary-text {
      color: white !important;
    }
  // }

  // #bottom-row {
  //   color: inherit;
  //   background-color: inherit;
  //   display: flex;
  //   width: 100%;
  //   justify-content: center;
  //   // Tool-bar -määrittelyissä on:
  //   // flex-direction: row;
  //   // align-items: center;
  //   // white-space: nowrap;
  //   // height: 64px;
  //   // font-size: 20px;
  //   // border: {
  //   //     style: dashed;
  //   //     color: red;
  //   //     width: 2px;
  //   // }
  //   margin: 0;
  // }
}

@media (max-width: 1000px) {
  #link-list {
    order: 6;
  }
}

