
<app-headline [appHeadline]="true"></app-headline>

<div class="content">
  <h2 class="sub-header" i18n="@@Sisäänkirjautuminen">
    Tilin luominen
  </h2>
  <form [formGroup]="form" (ngSubmit)="registerUser">
    <!-- <mat-form-field>
      <input
        matInput
        placeholder="Käyttäjätunnus"
        i18n-placeholder="@@Käyttäjätunnus"
        required
        name="username"
        [(ngModel)]="username"
      />
      <mat-icon matSuffix>perm_identity</mat-icon>
      <mat-error *ngIf="username.length === 0" i18n="@@Käyttäjätunnus tarvitaan.">
        Käyttäjätunnus tarvitaan.
      </mat-error>
    </mat-form-field> -->

    <mat-form-field>
      <input  formControlName="email"
              i18n-placeholder="@@Sähköposti"
              matInput
              name="email"
              placeholder="Sähköposti"
              required
              />
      <mat-error i18n="@@Sähköposti tarvitaan">
        Sähköposti tarvitaan
      </mat-error>
      <!-- <mat-icon matSuffix>email</mat-icon> -->
    </mat-form-field>

    <mat-form-field>
      <input  formControlName="password"
              matInput
              placeholder="Salasana"
              i18n-placeholder="@@Salasana"
              type="password"
              required
              />
      <mat-error>Salasana tarvitaan.</mat-error>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input  formControlName="repassword"
              matInput
              placeholder="Salasana uudelleen"
              i18n-placeholder="@@Salasana uudelleen"
              type="password"
              required
              />
      <mat-error i18n="@@Kirjoita salasana uudelleen">
        Kirjoita salasana uudelleen.
      </mat-error>
      <!-- <mat-error i18n="@@Salasanat eivät täsmää.">
        Salasanat eivät täsmää.
      </mat-error> -->
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <app-error-card
        *ngIf="serverMessage.length > 0"
        i18n-title="@@Tilin luominen ei onnistunut"
        title="Tilin luominen ei onnistunut"
        message="{{ serverMessage }}"
        [styles]="{ margin: '1em 10% 1em 10%' }"
        >
    </app-error-card>

    <button class="login-button"
            color="primary"
            i18n="@@Luo tili"
            mat-raised-button
            type="submit"
            >
      Luo tili
    </button>
  </form>
</div>
  <!-- <button (click)="changeActiveTab()" mat-raised-button>
    Vaihda tabia
  </button> -->
