<mat-card-content>
  <form action="">
    <!-- <mat-form-field>
      <input
        matInput
        placeholder="Käyttäjätunnus"
        i18n-placeholder="@@Käyttäjätunnus"
        required
        name="username"
        [(ngModel)]="username"
      />
      <mat-icon matSuffix>perm_identity</mat-icon>
      <mat-error *ngIf="username.length === 0" i18n="@@Käyttäjätunnus tarvitaan.">
        Käyttäjätunnus tarvitaan.
      </mat-error>
    </mat-form-field> -->

    <mat-form-field>
      <input
        matInput
        placeholder="Sähköposti"
        i18n-placeholder="@@Sähköposti"
        required
        name="email"
        [(ngModel)]="email"
      />
      <mat-error i18n="@@Sähköposti tarvitaan">Sähköposti tarvitaan</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Salasana"
        i18n-placeholder="@@Salasana"
        type="password"
        required
        minlength="8"
        name="newPassword"
        [(ngModel)]="newPassword"
      />
      <mat-error *ngIf="newPassword.length < minPasswordLength" i18n="@@Salasanan pituus"
      >
        Vähintään {{minPasswordLength}} merkkiä pitkä salasana tarvitaan.
      </mat-error>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Salasana uudelleen"
        i18n-placeholder="Salasana uudelleen"
        type="password"
        required
        minlength="8"
        name="repassword"
        [(ngModel)]="repassword"
      />
      <mat-error *ngIf="repassword.length === 0" i18n="@@Kirjoita salasana uudelleen">
        Kirjoita salasana uudelleen.
      </mat-error>
      <mat-error *ngIf="newPassword !== repassword" i18n="@@Salasanat eivät täsmää.">
        Salasanat eivät täsmää.
      </mat-error>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <app-error-card
    *ngIf="serverMessage.length > 0"
    i18n-title="@@Tilin luominen ei onnistunut"
    title="Tilin luominen ei onnistunut"
    message="{{ serverMessage }}"
    [styles]="{ margin: '1em 10% 1em 10%' }"
  >
  </app-error-card>

    <button mat-raised-button color="primary" class="login-button" i18n="@@Luo tili"
    [disabled]="email.length < 3 || newPassword.length < minPasswordLength || newPassword !== repassword"
    (click)="register()"
    >
      Luo tili
    </button>
  </form>
  <!-- <button (click)="changeActiveTab()" mat-raised-button>
    Vaihda tabia
  </button> -->
</mat-card-content>
