@use "@angular/material" as mat;
@import 'variables.scss';

/**
* Globaalit tyylimäärittelyt. Nämä ovat voimassa kaikkialla. Teeman muokkaaminen
* on tiedostossa custom-theme.scss ja muuttujien määrittely variables.scss.
* Tiettyyn tai tiettyihin templatehin liittyvät määrittelyt ovat niihin liitetyissä
* tyylitiedostoissa.
*
* Uusia tyylejä määrittäessä on hyvä nimetä ne ".theme-" -alkuisiksi, jotta
* templateissa ne tunnistetaan täällä määritellyiksi eikä käytetä samoja
* nimiä kuin templateissa on määritelty.
*/

// Material teeman määrittely:
@import 'custom-theme.scss';

html {
  font-family: $textFont
}

body {
  line-height: 1.45;
  margin: 0;
}

.theme-anchor {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.theme-footer {
  background-color: mat.get-color-from-palette($custom-primary-palette, 500);
}

.theme-header-text, .theme-header-text-small, .main-header, .theme-subheading {
  font-family: $displayFont;
}

// Käytetään headerin käyttäjän nimessä.
.theme-header-text {
  font-weight: 700;
  font-size: 1.3rem;
}

// Headerin pieni teksti, käyttäjärooli.
.theme-header-text-small {
  font-weight: 500;
  font-size: 1rem;
}

// Jos haluat divejä näkyviin.
$debug: false;

// Alaotsikko, yleensä H2.
.theme-subheading {
  font-size: 1.66rem;
  font-weight: 700;
  line-height: 1.2;
  margin-block-start: 2.5rem;
  margin-block-end: 0.8em; // Älä muuta
}

// Käyttäjän nimi.
.theme-profile-name {
  font-size: 1.3rem;
  font-weight: 500;
}

// Pieni harmaa teksti.
.theme-label {
  color: #757575;
  font-size: 0.8rem;
  line-height: 0.9rem;
  margin-bottom: 0.2rem;
  + p {
    margin-top: 0.3rem;
  }
}

// Näkymän alaosassa olevien nappien asemoiminen ja tarvittavan tilan ottaminen.
.theme-actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 1.4rem;
}

mat-hint {
  color: #757575;
}

.theme-progress-bar {
  position: absolute !important;
  left: 0 !important;
}

// Punainen tilan jakava viiva.
.theme-divider {
  background-color :var(--accent-color);
  display: block;
  height: 3px;
  margin: 56px auto;
  width: 94%;
}

// Testaamiseen jos haluaa osan block-elementeistä näkyviin.
$debug: false;

.theme-table {
  width: 100%; line-height: 1.4rem;
  .mat-mdc-header-row {
      background-color: #D3D3D3;
    }
    // Jotta olisi enemmän klikattavaa aluetta. Lisää tarvittaessa anchoreihin
    // tämän sijaan.
    .mdc-data-table__cell {
      padding-left: 0;
      padding-right: 0;
    }
    .mdc-data-table__header-row {
      height: 3em;
    }
  }

.theme-hyperlink {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

// ---------------- Utilityt ---------------------------------------------------

// Ottaa horisontaalisesti käytettävissä olevan tilan.
.spacer {
  display: block;
  flex: 1 0 auto;
}

// ---------------- Media queryt -----------------------------------------------

@media (max-width: $XSmall) {

  .theme-subheading {
    font-family: $displayFont;
    font-size: 1.66rem * 0.8;
    line-height: 1;
  }

  .theme-h3 {
    font-family: $displayFont;
  }

  .theme-header-text {
    font-size: 1.25rem
  }

  .theme-header-text-small {
    font-size: 1rem
  }

  .ticket-header {
    flex-wrap: wrap
  }
}
