@import '@angular/material/theming';

/**
  * Täällä on variablet, jotka on tarkoitettu importoitavaksi ja käytettäväksi
  * muissa tyylitiedostoissa.
  *
  * Käyttö:
  * @import '/src/styles/variables.scss';
  *
*/

$right-padding: 40px;
$button-gap: 1rem;

$displayFont: Montserrat;
$textFont: Roboto;

$XSmall: '600px';
