@import '@angular/material/theming';

// Täällä on variablet, jotka on tarkoitettu importoitavaksi ja käytettäväksi näkymien tyyleissä.

$right-padding: 40px;
$button-gap: 1rem;

// Breakpoints. Material Designista.

$displayFont: Montserrat;
$textFont: Roboto;

$XSmall: '600px';
