<div class="vertical-spacer"></div>

<app-headline [appHeadline]="true"></app-headline>

<div class="content">
  <h2 class="theme-subheading" i18n="@@Sisäänkirjautuminen">
    Tilin luominen
  </h2>

  <p *ngIf="state !== 'error'">
    <span i18n='@@Sinut on kutsuttu'>
      Sinut on kutsuttu osallistumaan kurssille
    </span>

    <strong data-testid="course-name">{{ courseName }}</strong>.
    <span i18n="@@Jos et halua liittyä kurssille">
      Jos et halua liittyä kurssille, sinun ei tarvitse tehdä mitään.
    </span>
  </p>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <ng-container *ngIf="state !== 'error'">
      <mat-form-field>
        <mat-label i18n="@@Sähköposti">Sähköposti</mat-label>

        <input  formControlName="email"
                data-testid="email"
                matInput
                name="email"
                required
                />
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n="@@Muille näkyvä nimesi">Muille näkyvä nimesi</mat-label>
        <input  formControlName="name"
                data-testid="name"
                matInput
                maxlength="255"
                type="name"
                required
                />
        <mat-error  i18n="@@Nimi tarvitaan"
                    *ngIf="name?.errors?.['required']"
                    >
          Nimi tarvitaan.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n="@@Salasana">Salasana</mat-label>
        <input  data-testid="password"
                formControlName="password"
                matInput
                maxlength="255"
                type="password"
                required
                />
        <mat-error  i18n="@@Salasana tarvitaan"
                    *ngIf="password?.errors?.['required']"
                    >
          Salasana tarvitaan.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n="@@Salasana uudelleen">Salasana uudelleen</mat-label>
        <input  data-testid="repassword"
                formControlName="repassword"
                matInput
                type="password"
                required
                />
        <mat-error  i18n="@@Salasanat eivät täsmää"
                    *ngIf="repassword.errors?.['notEqual']"
                    >
          Salasanat eivät täsmää.
        </mat-error>
        <mat-error  i18n="@@Kirjoita salasana uudelleen"
                    *ngIf="repassword.errors?.['required']"
                    >
          Kirjoita salasana uudelleen.
        </mat-error>
      </mat-form-field>

    </ng-container>

    <app-error  *ngIf="errorMessage"
                message="{{ errorMessage }}"
                [styles]="{ 'margin-bottom': '1rem'}"
                >
    </app-error>

    <ng-container *ngIf="state !== 'error'">

      <mat-checkbox class="checkbox"
                    data-testid="consent-checkbox"
                    formControlName="isAcceptingDataConsent"
                    name="checkbox"
                    type="checkbox"
                    >
        <span i18n="@@Hyväksyn, että tietojani käsitellään">
          Hyväksyn, että tietojani käsitellään</span>
          <label  class="theme-hyperlink"
                  (click)="openPrivacyModal($event)"
                  i18n="@@Väli ja tietosuojaseloste"
                  >
            tietosuojaselosteen
          </label>
          <span i18n="@@tyhjä">mukaisesti</span>.&nbsp;<sup>*</sup>
      </mat-checkbox>
      <mat-error  class="checkbox-error"
                  i18n="@@Sinun tulee hyväksyä tämä"
                  *ngIf="isAcceptingDataConsent.hasError('required') &&
                    isAcceptingDataConsent.touched"
                  >
        Sinun tulee hyväksyä tämä, jos haluat käyttää järjestelmää.
      </mat-error>

      <button class="login-button"
              color="primary"
              data-testid="submit-button"
              i18n="@@Luo tili"
              mat-raised-button
              type="submit"
              >
        Luo tili
      </button>

      <div class="required-wrapper">
        *&nbsp;
        <span i18n="@@Pakollinen">Pakollinen</span>
      </div>
    </ng-container>

  </form>

</div>
