<button (click)="openInNewTab()"
        i18n="@@Avaa uuteen välilehteen"
        mat-menu-item
        *ngIf="isInIframe"
        >
    Avaa uuteen välilehteen
</button>

<button mat-menu-item
          (click)="toggleLanguage()"
          [disabled]="disableLangSelect"
          i18n="@@vaihda kieli"
          >
  Change to English
</button>

<button i18n="@@Profiili"
        i18n-aria-label="@@Profiili"
        mat-menu-item
        *ngIf="courseID !== null && (isLoggedIn$ | async) === true"
        [routerLink]="'/course/' + courseID + '/profile'"
        >
  Profiili
</button>


<button i18n="@@Kurssin asetukset"
        mat-menu-item
        *ngIf="((user$ | async)?.asema === 'opettaja' ||
                (user$ | async)?.asema === 'admin') &&
              (isParticipant$ | async) === true"
        [routerLink]="'/course/' + courseID + '/settings'"
        >
        Kurssin asetukset
</button>

<ng-container *ngIf="isDevBuild">

  <button (click)="setHeader(true)"
          mat-menu-item
          *ngIf="isInIframe; else headerOff"
          >
      Header päälle (dev)
  </button>

  <ng-template #headerOff>
    <button (click)="setHeader(false)"
            mat-menu-item
            >
      Header pois (dev)
    </button>
  </ng-template>

</ng-container>

<button (click)="login()"
        i18n="@@Kirjaudu sisään"
        mat-menu-item
        *ngIf="(isLoggedIn$ | async) === false"
        >
  Kirjaudu sisään
</button>

<button (click)="logout()"
        i18n="@@Kirjaudu ulos"
        mat-menu-item
        *ngIf="(isLoggedIn$ | async) === true && !isInIframe"
        >
  Kirjaudu ulos
</button>


  <!--  + Kurssin asetukset
        + Upotuksessa avaa uuteen välilehteen. -->
