<mat-card appearance="outlined" class="submit-ticket-card">

  <mat-card-header>
    <mat-card-title i18n="@@Uusi kysymys">Uusi kysymys</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <button mat-raised-button (click)="goBack()" id="backButton" i18n="@@Kysymyslistaan">Kysymyslistaan</button>

    <mat-form-field appearance="fill">
      <mat-label i18n="@@Otsikko">Otsikko</mat-label>
      <input
        name="titleText"
        [(ngModel)]="titleText"
        matInput
        placeholder=""
        required
        autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label i18n="@@Tehtävä">Tehtävä</mat-label>
      <input
        name="assignmentText"
        [(ngModel)]="assignmentText"
        matInput
        placeholder=""
        required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label i18n="@@Ongelman tyyppi">Ongelman tyyppi</mat-label>
      <input
        name="problemText"
        [(ngModel)]="problemText"
        matInput
        placeholder=""
        required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label i18n="@@Viesti">Viesti</mat-label>
      <textarea
        name="messageText"
        [(ngModel)]="messageText"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="50"
        required></textarea>
    </mat-form-field>

  </mat-card-content>
  
  <div id="ticketActionsWrapper">

  <mat-checkbox [(ngModel)]="isFaq">Usein kysytty kysymys</mat-checkbox>
  
  <div class="spacer"></div>

  <mat-card-actions align="end">
    <button
      mat-raised-button color="primary" id="submitButton"
      [disabled]="titleText.length < 1 || assignmentText.length < 1 || problemText.length < 1 || messageText.length < 1"
      (click)="sendTicket()"
      i18n="@@Lähetä">
      Lähetä
    </button>
  </mat-card-actions>

</div>

</mat-card>
