@import "/src/variables.scss";

form { margin-top: -6px; }
mat-form-field { min-width: 21rem; }

.vertical-spacer { height: var(--margin-top-embedded) }

.ticket-header {
  margin-bottom: -20px;
  mat-form-field { flex-grow: 3; }
  .user-info-block {
    margin-bottom: 1.5rem;
    padding-top: 1.1rem;
  }
}

.short-field-wrapper {
  width: 24em;

  mat-form-field { margin-top: 2px; }
}

.status-message-p {
  text-align: center;
}

.theme-actions {
  align-items: center;
  gap: 0.8rem;
}

@media (min-width: $XSmall) {
  .submit-ticket { padding-right: $right-padding; }
}

@media (max-width: $XSmall) {
  .user-info-block, .mat-mdc-card-avatar { display: none; }
}
