<h1 class="main-header"
    *ngIf="courseName.length > 0 && !isInIframe">
  <span>{{ courseName }}</span>
</h1>

<div class="submit-ticket">

  <div class="vertical-spacer" *ngIf="isInIframe"></div>

  <app-to-beginning-button [disabled]="state==='sending'"></app-to-beginning-button>

  <form accept-charset="UTF-8"
        enctype="multipart/form-data"
        [formGroup]="ticketForm"
        (ngSubmit)="sendTicket()">

    <div class="ticket-header">

      <mat-form-field appearance="fill" class="sub-header">
        <textarea aria-label="Otsikko"
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMaxRows="3"
                  cdkAutosizeMinRows="1"
                  cdkTextareaAutosize
                  class="sub-header"
                  i18n-placeholder="@@Otsikko"
                  formControlName="title"
                  matInput
                  maxlength="255"
                  name="title"
                  [placeholder]="titlePlaceholder"
                  type="text">
        </textarea>
        <mat-error  i18n="@@Pakollinen kenttä."
                    *ngIf="title?.errors?.['required']">
          Pakollinen kenttä.
        </mat-error>
      </mat-form-field>

      <div class="user-info-block">
        <div class="text-info">
          <span class="theme-profile-name">{{ userName }}</span>
          <div class="theme-label">
            <span i18n="@@Minä">Minä</span>-
            <span i18n="@@Tänään">Tänään </span>
            <span>{{ currentDate | date: 'shortTime' }}</span>
          </div>
        </div>
        <img alt="" mat-card-avatar src="../../../assets/logos/UniOulu.png">
      </div>

    </div>

    <section class="short-field-wrapper">

      <ng-container formArrayName="additionalFields"
                    *ngFor="let af of additionalFields.controls; let i = index">

        <mat-form-field appearance="fill">
          <mat-label>{{ ticketFields[i].otsikko }}</mat-label>
          <input  formControlName="{{i}}"
                  (keydown.enter)="$event.preventDefault()"
                  [matAutocomplete]="auto"
                  matInput
                  maxlength="50"
                  name="{{ ticketFields[i].otsikko }}"
                  type="text">

          <mat-icon matSuffix
                    *ngIf="ticketFields[i].valinnat[0] !== ''"
                    [ngStyle]="{ 'color': '#000000' }">
            keyboard_arrow_down
          </mat-icon>

          <mat-autocomplete #auto="matAutocomplete">
            <!-- Jos lisäkenttä ei sisällä valintoja, niin
              ticketFields[i].valinnat[0] sisältää tyhjän merkkijonon, eikä
              suinkaan ole tyhjä. -->
            <ng-container *ngIf="ticketFields[i].valinnat[0] !== ''">
              <mat-option *ngFor="let valinta of ticketFields[i].valinnat"
                          [value]="valinta">
                {{ valinta }}
              </mat-option>
            </ng-container>
          </mat-autocomplete>

          <mat-error  i18n="@@Pakollinen kenttä."
                      *ngIf="af?.errors?.['required']">
            Pakollinen kenttä.
          </mat-error>

          <mat-hint align="end">{{ af.value.length }} / 50</mat-hint>

        </mat-form-field>

        <mat-icon (click)="tooltip.toggle()"
                  matTooltip="{{ ticketFields[i].ohje }}"
                  matTooltipPosition="after"
                  *ngIf="ticketFields[i].ohje.length > 0"
                  [ngStyle]="{ 'padding-left': '15px' }"
                  #tooltip="matTooltip"
                  >
          help_outline
        </mat-icon>

      </ng-container>

    </section>

    <h2 class="sub-header"><span i18n="@@Viesti">Viesti</span><span>*</span></h2>
    <app-editor [disabled]="state!=='editing'"
                [(editorContent)]="message">
    </app-editor>

    <!-- Kun lähetetään liitetiedostoja -->
    <p *ngIf="state==='sending' || state==='done'" class="theme-success-message"
        i18n="@@Uuden kysymyksen lähettäminen onnistui">
            Uuden kysymyksen lähettäminen onnistui.
    </p>

    <p class='attachments-message' *ngIf="state==='sending'"
        i18n="@@Lähetetään liitetiedostoja">
          Lähetetään liitetiedostoja, ole hyvä ja odota hetki...
    </p>

    <app-error-card i18n-title="@@Virhe"
                    message="{{ errorMessage }}"
                    *ngIf="errorMessage.length > 0"
                    [styles]="{ margin: '1em 0 1em 0;' }"
                    title="Virhe">
    </app-error-card>

    <div class="theme-actions">

<!-- ! Toistaiseksi ei lisätä tiedostoja, jos muokataan olemassa olevaa tikettiä. -->
      <button (click)="uploadClick.next('add')"
              [disabled]="state!=='editing'"
              i18n="@@Liitä tiedostoja"
              mat-raised-button
              >
        <mat-icon>attach_file</mat-icon>
        Liitä tiedostoja
      </button>

      <div class="spacer"></div>

      <div class="required-span">*&nbsp;
        <span i18n="@@Pakollinen">Pakollinen</span>
      </div>

      <button class="cancel-button"
              [disabled]="state!=='editing'"
              i18n="@@Peru"
              mat-raised-button
              *ngIf="editExisting"
              [routerLink]="'/course/' + courseId + '/ticket-view/' + ticketId"
              >
        Peru
      </button>

      <button class="submit-button"
              *ngIf="state==='editing'"
              color="primary"
              i18n="@@Lähetä opettajille"
              mat-raised-button
              type="submit">
        Lähetä opettajille
      </button>

      <button class="submit-button"
              *ngIf="state==='done'"
              (click)="goBack()"
              color="primary"
              mat-raised-button>
        OK
      </button>

    </div>

    <!-- (fileListOutput)="fileList = $event" -->
    <app-edit-attachments
        [uploadClicks]="uploadClick.asObservable()"
        (attachmentsMessages)="attachmentsMessages = $event"
        [oldAttachments]="oldAttachments"
        >
    </app-edit-attachments>

  </form>

</div>
