@import "/src/variables.scss";

form {
  margin-top: 20px;
}

mat-form-field {
  min-width: 21em;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  // align-items: flex-start;
  mat-form-field {
    flex-basis: 100%;
  }
}

.sender-info {
  margin-bottom: 2rem;
}

.short-field-wrapper {
  width: 21em;
}
.additional-field {
  margin-bottom: -20px;
}
.characters-label {
  text-align: right;
  margin-bottom: 5px;
}

mat-checkbox {
  margin-left: -10px;
}

mat-card-actions {
  margin-bottom: 1em;
  margin-right: 0.5em;
  button {
    margin-top: 1rem;
    margin-right: -8px;
  }
}

@media (min-width: $XSmall) {
  .submit-ticket {
    padding-right: $right-padding;
  }
}

@media (max-width: 800px) {
  .sender-info, .mat-mdc-card-avatar {
    display: none;
  }
  mat-form-field {
    min-width: 95%;
  }
}
