@import "./variables.scss";
@import "./styles.scss";

.submit-ticket {
  // margin: auto;
  padding-right: $right-padding;
}

  form {
    margin-top: 30px;
  }

  mat-form-field {
    min-width: 21em;
  }

    #messageTitleField {
      // margin-bottom: 5px;
      #titleText {
        font-family: $displayFont;
        font-size: 30px;
        font-weight: 900;
        // font-size: calc(32px * 0.8);
        // font-weight: 900;
      }
    }

    #shortFieldsDiv {
      width: 21em;

    .additional-field {
      margin-bottom: -20px;
    }

    .characters-label {
      text-align: right;
      margin-bottom: 5px;
    }
  }

  mat-card-actions {
    margin-bottom: 1em;
    margin-right: 0.5em;
    button {
      color: white;
      min-width: 10.5em;
      margin-top: 15px;
      margin-right: -8px;
    }
  }

  #ticketActionsWrapper {
    display: flex;
    align-items: center;
    padding: 8px 0;
    mat-checkbox {
      margin-top: -15px;
      margin-left: -10px;
    }
  }

  #titleLabel {
    margin-left: 0;
  }

  .spacer {
    display: block;
    flex: 1 1 auto;
  }
