.ticket-header {
  // flex-wrap: wrap;
  h2 {
    max-width: 80%;
  }
}

#question {
 
}

.vertical-spacer {
  height: 18px;
}

#discussion-header {
  margin-bottom: 0.5em;
}

mat-card {
  margin: 0 auto 12px;
  mat-card-subtitle {
    margin-top: 3px;
  }
  .ticket-state {
    color: var(--primary);
    margin-right: 1em;
  }
}

.actions-wrapper {
  display: flex;
  align-items: center;
  padding: 8px 0;
  margin-top: 10px;
  mat-radio-button {
    margin: 3px 28px 3px 0px;
  }
}

.mdc-form-field > label {
  padding-left: 0;
}

.spacer {
  display: block;
  flex: 1 1 auto;
}

::ng-deep .mat-mdc-card-content:last-child {
  padding-bottom: 0 !important;
}
