<mat-progress-bar mode="indeterminate" *ngIf="!isLoaded"></mat-progress-bar>

<div *ngIf="isLoaded">

  <section *ngIf="ticket.tila > 0">

    <h1 class="theme-h1" *ngIf="courseName.length > 0">
      <span>{{ courseName }}</span>
    </h1>

    <app-to-beginning-button></app-to-beginning-button>

  <!-- ----------- Kysymys -------------------------------------- -->

  <div class="ticket-header">

    <h2 class="theme-h2">{{ ticket.otsikko }}</h2>

    <div class="spacer"></div>

    <div class="user-info-block">
      <div class="text-info">
        <span class="theme-profile-name">{{ ticket.aloittaja.nimi }}</span>
        <div class="theme-label">
          <span>{{getSenderTitle(ticket.aloittaja.nimi, ticket.aloittaja.asema)}} - </span>
          <span *ngIf="isToday(ticket.aikaleima); else notToday" i18n="@@Tänään">Tänään</span>
          <ng-template #notToday>
            <span>{{ ticket.aikaleima | date: 'shortDate' }}</span>
          </ng-template>
          <span>&nbsp;{{ ticket.aikaleima | date: 'shortTime' }}</span>
        </div>
      </div>
      <img mat-card-avatar src="../../../assets/logos/UniOulu.png" alt="">
    </div>

  </div>

    <div class="additional-field" *ngIf="ticket.kentat !== undefined && ticket.kentat[0] !== null">
      <p class="theme-label"><span i18n="@@Tehtävä">Tehtävä</span></p>
        <p class="short-field-value">{{ticket.kentat[0].arvo }}</p>
    </div>

    <div class="additional-field" *ngIf="ticket.kentat !== undefined && ticket.kentat[1] !== null">
      <p class="theme-label" i18n="@@Tyyppi">Tyyppi</p>
      <p class="short-field-value">{{ ticket.kentat[1].arvo }}</p>
    </div>

    <!-- TODO: Lisää tähän muiden kenttien näyttäminen. -->

    <app-message [messageHtml]=ticket.viesti></app-message>

  </section>

  <hr class="theme-divider">

  <!-- ----------- Keskustelu -------------------------------------- -->

  <h2 class="theme-h2" *ngIf="ticket.tila > 0" i18n="@@Keskustelu">Keskustelu</h2>

    <mat-card appearance="outlined" class="answer" *ngFor="let comment of ticket.kommentit">

      <mat-card-header>

        <img mat-card-avatar src="../../../assets/logos/UniOulu.png" alt={{comment.lahettaja.nimi}}>
        <mat-card-title class="theme-profile-name">
          {{ comment.lahettaja.nimi }}
        </mat-card-title>

        <mat-card-subtitle class="theme-label">
          <span>{{getSenderTitle(comment.lahettaja.nimi, comment.lahettaja.asema)}} - </span>
          <span *ngIf="isToday(comment.aikaleima)" i18n="@@Tänään">Tänään</span>
          <span *ngIf="!isToday(comment.aikaleima)" >{{ comment.aikaleima | date: 'shortDate' }}</span>
          {{ comment.aikaleima | date: 'shortTime' }}
        </mat-card-subtitle>
        <div class="spacer"></div>
        <span class="ticket-state" *ngIf="comment.tila === 5">{{proposedSolution}}</span>

      </mat-card-header>

      <mat-card-content>
        <app-message [messageHtml]=comment.viesti></app-message>
      </mat-card-content>
    </mat-card>

  <div class="vertical-spacer"></div>

  <app-editor [(editorContent)]="commentText"></app-editor>

  <app-error-card
    *ngIf="errorMessage.length > 0"
    i18n-title="@@Virhe"
    title="Virhe"
    message="{{ errorMessage }}"
    [styles]="{ margin: '1em 0' }"
    >
  </app-error-card>

  <div class="theme-actions">

    <mat-radio-group align="start" [(ngModel)]="newCommentState" *ngIf="userRole !== 'opiskelija'">
      <mat-radio-button [value]=4 i18n="@@Kommentti">Kommentti</mat-radio-button>
      <mat-radio-button [value]=3 i18n="@@Lisätietoa tarvitaan">Lisätietoa tarvitaan</mat-radio-button>
      <mat-radio-button [value]=5 i18n="@@Ratkaisuehdotus">Ratkaisuehdotus</mat-radio-button>
    </mat-radio-group>

    <div class="spacer"></div>

    <button
      mat-raised-button
      color="primary"
      [disabled]="commentText.length < 1"
      *ngIf="ticket.tila > 0"
      (click)="sendComment()"
      i18n="@@Lähetä">
      Lähetä
    </button>

  </div>

</div>
