<mat-progress-bar mode="indeterminate" *ngIf="!isLoaded"></mat-progress-bar>

<div class="ticket-view" *ngIf="isLoaded">

  <div *ngIf="ticket.tila > 0">

    <h1 class="theme-h1" *ngIf="courseName.length > 0">
      <span>{{ courseName }}</span>
    </h1>

    <app-to-beginning-button></app-to-beginning-button>

  <div class="ticket-header">
    <h2 class="theme-h2">{{ ticket.otsikko }}</h2>
    <div class="spacer"></div>
    <div class="sender-info">
      <span class="theme-profile-name">{{ ticket.aloittaja.nimi }}</span>
      <div>
        <span *ngIf="ticket.aloittaja.asema === 'opettaja'"><span class="theme-label" i18n="@@Opettaja">Opettaja</span></span>
        <span *ngIf="ticket.aloittaja.asema === 'opiskelija'"><span class="theme-label" i18n="@@Minä">Minä</span></span>
        -
        <span class="theme-label">{{ ticket.aikaleima | date: 'short' }}</span>
      </div>
        <!-- <img mat-card-avatar src="../../../assets/logos/UniOulu.png" alt={{comment.lahettaja.nimi}}> -->
    </div>
    <img mat-card-avatar src="../../../assets/logos/UniOulu.png" alt="">
  </div>

  <!-- <mat-card-header> -->

    <!-- <mat-card-subtitle> -->

    <div *ngIf="ticket.kentat !== undefined && ticket.kentat[0] !== null">
      <p class="theme-label"><span i18n="@@Tehtävä">Tehtävä</span></p>
        <p>{{ticket.kentat[0].arvo }}</p>
          <!-- <span *ngIf="ticket.kentat !== undefined && ticket.kentat[0] !== null" i18n="@@Tehtävä">Tehtävä {{
            ticket.kentat[0].arvo }} </span> -->
    </div>

    <div *ngIf="ticket.kentat !== undefined && ticket.kentat[1] !== null">
      <p class="theme-label" i18n="@@Tyyppi">Tyyppi</p>
        <!-- 🞄<span>{{ ticket.aikaleima | date : "short" }}</span> -->
      <p>{{ ticket.kentat[1].arvo }}</p>
    </div>

    <p id="question" class="theme-p">{{ticket.viesti}}</p>

      <!-- <span *ngIf="ticket.kentat !== undefined && ticket.kentat[0] !== null" i18n="@@Tehtävä">Tehtävä {{ ticket.kentat[0].arvo }} </span>
      🞄
      <span *ngIf="ticket.kentat !== undefined && ticket.kentat[1] !== null"> {{ ticket.kentat[1].arvo }}</span> -->
    <!-- </mat-card-subtitle> -->

  <!-- </mat-card-header> -->

  <!-- <mat-card-content>

    <mat-card appearance="outlined" class="question">
      <mat-card-header>
        <img mat-card-avatar src="../../../assets/financier-icons/UniOulu.png" alt={{ticket.aloittaja.nimi}}>
        <mat-card-title>
          {{ ticket.aloittaja.nimi }}
          <span *ngIf="ticket.aloittaja.asema === 'opettaja'" i18n="@@Opettaja"> 🞄 Opettaja</span>
        </mat-card-title>
        <mat-card-subtitle>{{ ticket.aikaleima | date: 'short' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="message" [innerHTML]=ticket.viesti></p>
        <h2>{{tila}}</h2>
      </mat-card-content>
    </mat-card>

  </mat-card-content> -->

  </div>

<hr class="theme-divider">

<!-- <mat-card appearance="outlined" class="ticket-view-card"> -->

  <h2 class="theme-h2" id="discussion-header" *ngIf="ticket.tila > 0" i18n="@@Keskustelu">Keskustelu</h2>

  <!-- <mat-card-header *ngIf="ticket.tila > 0">
    <mat-card-title i18n="@@Kommentit">Kommentit</mat-card-title>
  </mat-card-header> -->

  <!-- <mat-card-content> -->

    <mat-card appearance="outlined" class="answer" *ngFor="let comment of ticket.kommentit">

      <mat-card-header>

        <img mat-card-avatar src="../../../assets/logos/UniOulu.png" alt={{comment.lahettaja.nimi}}>
        <mat-card-title>
          {{ comment.lahettaja.nimi }}
          <!-- {{ comment.lahettaja.nimi }} <span *ngIf="comment.lahettaja.asema === 'opettaja'">🞄 <span i18n="@@Opettaja">Opettaja</span></span> -->
        </mat-card-title>

        <mat-card-subtitle class="theme-label">
          <span *ngIf="comment.lahettaja.asema === 'opettaja'"><span i18n="@@Opettaja">Opettaja</span></span>
          -
          {{ comment.aikaleima | date: 'short' }}
        </mat-card-subtitle>
        <div class="spacer"></div>
        <span class="ticket-state" *ngIf="comment.tila === 5">{{proposedSolution}}</span>
        <!-- <mat-card-subtitle>{{ comment.aikaleima | date: 'short' }}</mat-card-subtitle> -->

      </mat-card-header>

      <mat-card-content>
        <p class="message" [innerHTML]=comment.viesti></p>
      </mat-card-content>
    </mat-card>

    <!-- <mat-card-title i18n="@@Jatka keskustelua...">Jatka keskustelua...</mat-card-title> -->
    <div class="vertical-spacer"></div>

    <app-editor [(editorContent)]="commentText"></app-editor>

  <app-error-card
  *ngIf="errorMessage.length > 0"
  i18n-title="@@Virhe"
  title="Virhe"
  message="{{ errorMessage }}"
  [styles]="{ margin: '1em 0' }"
>
</app-error-card>

<!-- <p>{{newCommentState}}</p> -->

<div id="ticketActionsWrapper">

<mat-radio-group align="start" [(ngModel)]="newCommentState" *ngIf="userRole !== 'opiskelija'">
  <mat-radio-button [value]=4 i18n="@@Kommentti">Kommentti</mat-radio-button>
  <mat-radio-button [value]=3 i18n="@@Lisätietoa tarvitaan">Lisätietoa tarvitaan</mat-radio-button>
  <mat-radio-button [value]=5 i18n="@@Ratkaisuehdotus">Ratkaisuehdotus</mat-radio-button>
</mat-radio-group>

<div class="spacer"></div>

  <!-- <a mat-raised-button routerLink="/list-tickets">Tikettilistaan</a> -->
  <button
    id="sendButton"
    mat-raised-button
    color="primary"
    [disabled]="commentText.length < 1"
    *ngIf="ticket.tila > 0"
    (click)="sendComment()"
    i18n="@@Lähetä">
    Lähetä
  </button>

</div>

</div>

<!-- </mat-card-content> -->

<!-- </mat-card> -->
