<mat-progress-bar mode="indeterminate" *ngIf="!isLoaded"></mat-progress-bar>

<mat-card class="ticket-view-card" *ngIf="isLoaded">

  <mat-card-header>
    <mat-card-title>{{ ticket.otsikko }}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="ticket.kentat !== undefined && ticket.kentat[0] !== null">Tehtävä {{ ticket.kentat[0].arvo }} </span>
      🞄
      <span *ngIf="ticket.kentat !== undefined && ticket.kentat[1] !== null"> {{ ticket.kentat[1].arvo }}</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <mat-card class="question">
      <mat-card-header>
        <img mat-card-avatar src="../../../assets/financier-icons/UniOulu.png" alt={{ticket.aloittaja.nimi}}>
        <mat-card-title>
          {{ ticket.aloittaja.nimi }}
          <span *ngIf="ticket.aloittaja.asema === 'opettaja'" i18n="@@Opettaja"> 🞄 Opettaja</span>
        </mat-card-title>
        <mat-card-subtitle>{{ ticket.aikaleima | date: 'short' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="message" [innerHTML]=ticket.viesti></p>
        <h2>{{tila}}</h2>
      </mat-card-content>
    </mat-card>

  </mat-card-content>

</mat-card>

<mat-card class="ticket-view-card">

  <mat-card-header>
    <mat-card-title i18n="@@Kommentit">Kommentit</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <mat-card class="answer" *ngFor="let comment of ticket.kommentit">
      <mat-card-header>
        <img mat-card-avatar src="../../../assets/financier-icons/UniOulu.png" alt={{comment.lahettaja.nimi}}>
        <mat-card-title>
          {{ comment.lahettaja.nimi }}
          <span *ngIf="comment.lahettaja.asema === 'opettaja'" i18n="@@Opettaja"> 🞄 Opettaja</span>
        </mat-card-title>
        <mat-card-subtitle>{{ comment.aikaleima | date: 'short' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="message" [innerHTML]=comment.viesti></p>
      </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-form-field appearance="fill">
      <mat-label i18n="@@Jatka keskustelua...">Jatka keskustelua...</mat-label>
      <textarea name="commentText"
                [(ngModel)]="commentText"
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="10"></textarea>
    </mat-form-field>

  </mat-card-content>

  <app-error-card
  *ngIf="errorMessage.length > 0"
  i18n-title="@@KVirhe"
  title="Virhe"
  message="{{ errorMessage }}"
  [styles]="{ margin: '1em 0' }"
>
</app-error-card>

  <mat-card-actions align="end">
    <a mat-raised-button (click)="goBack()" i18n="@@Kysymyslistaan">Kysymyslistaan</a>
    <!-- <a mat-raised-button routerLink="/list-tickets">Tikettilistaan</a> -->
    <button
      mat-raised-button color="primary"
      [disabled]="commentText.length < 1"
      (click)="sendComment()"
      i18n="@@Lähetä">
      Lähetä
    </button>
  </mat-card-actions>

</mat-card>
