<div class="app-wrapper">

  <header>
    <app-header *ngIf="!isInIframe">
      <span class="spacer"></span>
    </app-header>

    <!-- Tämä on upotuksessa oleva kapeampi header. -->
    <mat-toolbar color="primary" class="embedded-wrapper" *ngIf="isInIframe">

      <div class="logo" *ngIf="courseID === null; else clickableLogo">
        <img alt="" src="assets/logos/dvv-white.svg">
      </div>

      <ng-template #clickableLogo>
        <div  class="logo logo-clickable"
              matRipple
              >
        <img  alt=""
              (click)="logoClicked()"
              src="assets/logos/dvv-white.svg"
              >
          </div>
      </ng-template>

      <span class="spacer"></span>

      <div class="role theme-header-text-small">{{ (user$ | async)?.asemaStr }}</div>
      <!-- <div class="name theme-header-text-small">{{(user$ | async)?.nimi }}</div> -->

      <button aria-label="Valikko"
              i18n-aria-label="@@Valikko"
              i18n-matTooltip="@@Valikko"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              [matTooltipShowDelay]="600"
              matTooltip="Valikko"
              >
        <mat-icon>menu</mat-icon>
        <!-- <mat-icon>account_circle</mat-icon> -->
      </button>

      <mat-menu #menu="matMenu">
        <button (click)="openInNewTab()"
                i18n="@@Avaa uuteen välilehteen"
                mat-menu-item
                *ngIf="isInIframe"
                >
            Avaa uuteen välilehteen
        </button>

        <button mat-menu-item
                (click)="toggleLanguage()"
                [disabled]="disableLangSelect"
                i18n="@@vaihda kieli"
                >
          Change to English
        </button>

        <button (click)="goTo('profile')"
              i18n="@@Profiili"
              i18n-aria-label="@@Profiili"
              mat-menu-item
              *ngIf="(isLoggedIn$ | async) === true && courseID"
              >
          Profiili
        </button>

        <button i18n="@@Kurssin asetukset"
                mat-menu-item
                *ngIf="((user$ | async)?.asema === 'opettaja' ||
                        (user$ | async)?.asema === 'admin') &&
                        (isParticipant$ | async) === true &&
                        courseID"
                (click)="goTo('settings')"
                >
          Kurssin asetukset
        </button>


      </mat-menu>

    </mat-toolbar>
  </header>

  <main>

    <mat-progress-bar
        class="theme-progress-bar"
        mode="indeterminate"
        *ngIf="isLoading | async"
        [ngStyle]="{'margin-bottom': isInIframe ? '1rem' : '0'}"
        >
    </mat-progress-bar>

    <div class="vertical-spacer" *ngIf="isInIframe"></div>

    <router-outlet></router-outlet>

  </main>

  <app-footer></app-footer>

</div>
