// Jotta footer ei nouse sivun alaosasta.
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto 0 auto;
  position: relative;
  width: 1024px;
  min-width: 250px;
  padding: 0 40px 70px 40px;
}

.embedded-header {
  display: flex;
  gap: 0.5rem;
  height: 2.3rem;
  justify-content: flex-end;
}

.logo {
  margin: auto;
  height: 100%;
  img {
    height: 100%;
  }
  &-clickable {
    &:hover {
      filter: brightness(97%);
    }
    cursor: pointer;
  }
}

.vertical-spacer {
  height: 0.8rem;
}

@media (max-width: 1024px) {
  main {
    width: 100%;
    min-width: 280px;
  }
}

@media (max-width: 840px) {
  main {
    padding: 0 20px 60px 20px;
  }
}

@media (max-width: 600px) {
  main {
    padding: 0 20px 50px 3px;
  }
}
