<div class="app-wrapper">

  <!-- Upotuksen ulkopuolella käytössä oleva header. -->
  <header>
      <app-header [courseid]="courseid" *ngIf="!isInIframe">
      <span class="spacer"></span>
    </app-header>

    <!-- Tämä on upotuksessa oleva kapeampi header. Upotuksen ulkopuolella
         käytetään core:n header -komponenttia (yllä). Testaamista varten
         voi asettaa app.component.ts -tiedostossa päälle. -->

    <mat-toolbar color="primary" class="embedded-header" *ngIf="isInIframe">

      <div class="logo" *ngIf="courseid === null; else clickableLogo">
        <img alt="" src="assets/logos/Tukki_logo_rgb_tummasini.svg">
      </div>

      <ng-template #clickableLogo>
        <div  class="logo logo-clickable"
              matRipple
              >
          <img  alt=""
                (click)="logoClicked()"
                (keydown)="logoPressed($event)"
                src="assets/logos/Tukki_logo_rgb_tummasini.svg"
                tabindex="0"
                >
        </div>
      </ng-template>

      <span class="spacer"></span>

      <div class="role theme-header-text-small" data-testid="header-user-role">
        {{ (user$ | async)?.asemaStr }}
      </div>

      <button aria-label="Valikko"
              data-testid="account-button"
              i18n-aria-label="@@Valikko"
              i18n-matTooltip="@@Valikko"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              [matTooltipShowDelay]="600"
              matTooltip="Valikko"
              >
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button (click)="openInNewTab()"
                i18n="@@Avaa uuteen välilehteen"
                mat-menu-item
                *ngIf="isInIframe"
                >
            Avaa uuteen välilehteen
        </button>

        <button mat-menu-item
                (click)="toggleLanguage()"
                [disabled]="disableLangSelect"
                i18n="@@vaihda kieli"
                >
          Change to English
        </button>

        <button (click)="goTo('profile')"
                data-testid="profile-button"
                i18n="@@Profiili"
                i18n-aria-label="@@Profiili"
                mat-menu-item
                *ngIf="(user$ | async) !== null &&
                       (user$ | async) !== undefined &&
                       courseid !== undefined"
                >
          Profiili
        </button>

        <button data-testid="settings-button"
                i18n="@@Kurssin asetukset"
                mat-menu-item
                *ngIf="((user$ | async)?.asema === 'opettaja' ||
                        (user$ | async)?.asema === 'admin') &&
                        (user$ | async)?.osallistuja === true &&
                        courseid !== undefined"
                (click)="goTo('settings')"
                >
          Kurssin asetukset
        </button>
      </mat-menu>

    </mat-toolbar>

  </header>

  <main>

    <mat-progress-bar
        class="theme-progress-bar"
        mode="indeterminate"
        *ngIf="isLoading | async"
        [ngStyle]="{'margin-bottom': isInIframe ? '1rem' : '0'}"
        >
    </mat-progress-bar>

    <div class="vertical-spacer" *ngIf="isInIframe"></div>

    <!-- Tähän renderöidään reitityksessä määritelty komponentti. -->
    <router-outlet></router-outlet>

  </main>

  <app-footer></app-footer>

</div>
