// $header-height: 64px;
// $footer-height: 182px;
@import '/variables.scss';

main {
  // border-color: red;
  // border-style: solid;
  // border-width: 2px;
  margin: 0 auto;
  max-width: 1024px;
  // Jotta footer asemoitaisiin oikealle korkeudelle.
  min-height: calc(100vh - $header-height - $footer-height);
  // padding-top: 1em;
  // padding-bottom: 1em;
  // Vain alapalkilla
  // min-height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
}

app-root {
  background-color: black;
}

// main > * {
//   flex-grow: 1;
//   display: flex;
//   flex-direction: column;
// }

// FIXME: ei toimi
// main:first-child {
// main:nth-child(2) {
//   flex-grow: 1;
//   display: flex;
//   flex-direction: column;
// }



main.is-phone-portrait {
  min-height: calc(100vh - $header-height - 164px);

  // Vain alapalkilla
  // min-height: calc(100vh - 112px);
}

.spacer {
  flex: 1 1 auto;
}
