<div class="app-wrapper">

  <app-header *ngIf="!isInIframe">
    <span class="spacer"></span>
  </app-header>

  <main>

    <mat-progress-bar
        class="theme-progress-bar"
        mode="indeterminate"
        *ngIf="isLoading | async"
        >
    </mat-progress-bar>

      <div class="embedded-wrapper" *ngIf="isInIframe">

        <div class="user-role">{{ (user$ | async)?.asemaStr }}</div>

        <button aria-label="Käyttäjävalikko"
                i18n-aria-label="@@Käyttäjävalikko"
                i18n-matTooltip="@@Käyttäjävalikko"
                mat-icon-button
                [matMenuTriggerFor]="menu"
                [matTooltipShowDelay]="600"
                matTooltip="Käyttäjävalikko"
                >
          <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <app-usermenu></app-usermenu>
        </mat-menu>

      </div>

    <router-outlet></router-outlet>

  </main>

  <app-footer></app-footer>

</div>
