<app-headline></app-headline>

<div class="top-buttons">
  <app-beginning-button
      (clicked)="showConfirm = true"
      [confirm]=form.dirty
      >
  </app-beginning-button>

  <button class="remove-button"
          (click)="changeRemoveButton()"
          i18n="@@Poista"
          mat-raised-button
          *ngIf="fieldid !== undefined &&
            isRemovePressed === false &&
            state !== 'error'"
          >
    Poista
  </button>

  <button (click)="removeField(field.id)"
          color="accent"
          i18n="@@Vahvista poisto"
          *ngIf="isRemovePressed === true"
          mat-raised-button
          >
    Vahvista poisto
  </button>
</div>

<app-error  [confirmLeave]="true"
            *ngIf="showConfirm"
            [styles]="{ margin: '2rem 0 0 0' }"
            >
</app-error>

<div class="view-wrapper" *ngIf="isLoaded">
  <h2 class="theme-subheading" i18n="@@Kysymysten lisäkenttä">
    Kysymysten lisäkenttä
  </h2>

  <form action=""
        [formGroup]="form"
        (ngSubmit)="submitField()"
        #submitForm="ngForm"
        >

    <ng-container *ngIf="state !== 'error'">


    <mat-form-field class="field-title" appearance="fill">
      <input  data-testid="title-input"
              formControlName="title"
              id="field-name"
              i18n-placeholder="@@Kentän nimi"
              matInput
              maxlength="50"
              name="kentta.otsikko"
              placeholder="Kentän nimi"
              />
      <mat-label i18n="@@Kentän nimi">Kentän nimi</mat-label>
      <mat-hint align="end">{{ title.value.length }} / 50</mat-hint>

      <mat-error  i18n="@@Pakollinen kenttä."
                  *ngIf="title.errors?.['required']"
                  >
        Pakollinen kenttä.
      </mat-error>
    </mat-form-field>

    <!------------- Monivalinnat ---------------------------------------------->

    <div class="multiple-selection-wrapper">

      <mat-checkbox
          (click)="enableSelections(areSelectionsEnabled.value)"
          formControlName="areSelectionsEnabled"
          name="checkbox"
          i18n="@@Monivalinta"
          type="checkbox"
          >
        Monivalinta
      </mat-checkbox>

      <mat-form-field class="chip-list-form-field" appearance="fill">
        <mat-label i18n="@@Monivalinnan vaihtoehdot">
          Monivalinnan vaihtoehdot
        </mat-label>

        <mat-chip-grid
            #chipGrid
            aria-label="Valitse monivalinnan vaihtoehtoja"
            i18n-aria-label="@@Valitse monivalinnan vaihtoehtoja"
            formControlName="selections"
            >
          <mat-chip-row
              [aria-description]="'paina enter muokataksesi valintaa ' + valinta"
              class="chipRow"
              [editable]="true"
              (edited)="editSelection(valinta, $event)"
              *ngFor="let valinta of field.valinnat"
              (removed)="removeSelection(valinta)"
              >
            {{ valinta }}
            <button [attr.aria-label]="'poista valinta ' + valinta"
                    matChipRemove
                    type="button"
                    >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>

          <input  formControlName="selectionName"
                  i18n-placeholder="@@Paina enter valinnan kirjoittamisen jälkeen."
                  (keydown.arrowleft)="onArrowLeft($event)"
                  [matChipInputFor]="chipGrid"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addSelection($event)"
                  maxlength="80"
                  placeholder="Paina enter valinnan kirjoittamisen jälkeen."
                  />
        </mat-chip-grid>
        <mat-hint align="end">
          {{ selectionName?.value?.length ?? 0 }} / 80
        </mat-hint>
      </mat-form-field>
    </div>

    <!------------------------------------------------------------------------->

    <label class="theme-label info-text-label" for="info-text" i18n="@@Infoteksti">
      Info-teksti
    </label>

    <mat-form-field class="text-area-wrapper">
      <textarea autocomplete="off"
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMaxRows="5"
                cdkAutosizeMinRows="3"
                cdkTextareaAutosize
                contenteditable
                data-testid="info-text-input"
                formControlName="infoText"
                id="info-text"
                i18n-placeholder="@@Infoteksti"
                matInput
                maxlength="255"
                name="infoText"
                placeholder="Info-teksti"
                >
      </textarea>
      <mat-hint align="end">{{ infoText.value.length }} / 255</mat-hint>
    </mat-form-field>

    </ng-container>

    <app-error *ngIf="errorMessage.length > 0"
                i18n-title="@@Virhe"
                title="Virhe"
                message="{{ errorMessage }}"
                [styles]="{ margin: '1rem 0' }"
                >
    </app-error>

    <div class="bottom-buttons-wrapper">

      <ng-container *ngIf="state !== 'error'">

      <mat-checkbox data-testid="mandatory-checkbox"
                    formControlName="mandatory"
                    name="checkbox-mandatory"
                    i18n="@@Pakollinen"
                    >
        Pakollinen
      </mat-checkbox>

      <mat-checkbox formControlName="isPrefillable"
                    name="checkbox-prefillable"
                    >
        <div  class="checkbox-content"
              i18n-matTooltip="@@Esitäytä käyttäjille heidän edellinen vastauksensa"
              matTooltip="Esitäytä käyttäjille heidän edellinen vastauksensa."
              [matTooltipShowDelay]="600"
              >
          <span  i18n="@@Esitäytettävä">Esitäytettävä</span>
          <mat-icon class="help-icon">help_outline</mat-icon>
        </div>
      </mat-checkbox>

    </ng-container>

      <div class="spacer bottom-spacer"></div>

      <button class="cancel-button"
              i18n="@@Peru"
              mat-raised-button
              [routerLink]="'/course/' + courseid + '/settings'"
              type="button"
              >
        Peru
      </button>

      <button class="send-button"
              color="primary"
              data-testid="save-button"
              id="save-button"
              i18n="@@Tallenna"
              mat-raised-button
              *ngIf="state !== 'error'"
              type="submit"
              >
        Tallenna
      </button>
    </div>

  </form>
</div>
