
<h2 class="main-header" *ngIf="courseName.length > 0 && !isInIframe" id="courseName">
  <span>{{courseName}}</span>
</h2>

<app-to-beginning-button></app-to-beginning-button>

<h3 class="sub-header">Tiketin tarkentavat kysymykset</h3>

<form>

<table mat-table [dataSource]="dataSource" [hidden]="dataSource.filteredData.length === 0"
class="theme-table mat-elevation-z1">

  <ng-container matColumnDef="valittu">
    <th mat-header-cell *matHeaderCellDef>

    </th>
    <td mat-cell *matCellDef="let element;let index = index">
      <!-- <mat-form-field> -->
        <mat-checkbox class="checkbox" name="valittu-{{index}}"
          [(ngModel)]="element.valittu"/>
      <!-- </mat-form-field> -->
    </td>
  </ng-container>

  <ng-container matColumnDef="otsikko">
    <th mat-header-cell *matHeaderCellDef i18n="@@Otsikko">
      Nimi
    </th>
    <td mat-cell *matCellDef="let element;let index = index">
      <!-- <mat-form-field> -->
        <input class="text-input" matInput maxlength="70" name="otsikko-{{index}}" type="text" placeholder="Nimi"
          [(ngModel)]="element.otsikko"/>
      <!-- </mat-form-field> -->
    </td>
  </ng-container>

  <ng-container matColumnDef="ohje">
    <th mat-header-cell *matHeaderCellDef i18n="@@OInfo-teksti">
      Info-teksti
    </th>
    <td mat-cell *matCellDef="let element;let index = index">
      <!-- <mat-form-field> -->
        <input class="text-input" matInput maxlength="70" name="ohje-{{index}}" type="text" placeholder="Info-teksti"
          [(ngModel)]="element.ohje"/>
      <!-- </mat-form-field> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumn()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumn()"></tr>

</table>

</form>

<div class="theme-actions">
  <button *ngIf="dataSource.data.length > 0"
    class="remove-button"
    [disabled]="isAllChecked()"
    mat-raised-button
    (click)="removeSelected()"
    i18n="@@Poista valitut">
    Poista valitut
  </button>

  <button
    class="add-button"
    color="primary"
    mat-raised-button
    (click)="addField()"
    i18n="@@Lisää">
    Lisää
  </button>
</div>

<app-error-card *ngIf="errorMessage.length > 0" i18n-title="@@Virhe" title="Virhe"
  message="{{ errorMessage }}" [styles]="{ margin: '3em 20% 1em 20%' }">
</app-error-card>
