<app-headline></app-headline>

<app-beginning-button
    (clicked)="showConfirm = true"
    [confirm]="isDirty === true"
    >
</app-beginning-button>

<app-error-card
    [confirmLeave]="true"
    *ngIf="showConfirm === true"
    [styles]="{ margin: '2rem 0 0 0' }"
    >
</app-error-card>

<div class="view-wrapper" *ngIf="isLoaded">

  <h2 class="theme-subheader" i18n="@@Kurssin asetukset">
      Kurssin asetukset
  </h2>

  <!----------------- Lisäkentät ---------------------------------------------->

  <h3 class="table-header" i18n="@@Kysymysten lisäkentät">
    Kysymysten lisäkentät
  </h3>

  <p class="help-text" i18n="@@Asetukset-kuvaus">
    Voit asettaa kysymyksille lisäkenttiä, joita kysytään kaikilta uuden kysymyksen
    esittäviltä käyttäjiltä. Lisäkenttiä voi asettaa pakollisiksi, antaa niille
    valmiita vastausvaihtoehtoja sekä kuvaustekstejä. Voit muuttaa lisäkenttien
    esitysjärjestystä muuttamalla alla olevan listan järjestystä.
  </p>

  <div  cdkDropList
        (cdkDropListDropped)="drop($event)"
        class="list-wrapper"
        *ngIf="fieldList.length > 0; else noFieldsMessage"
        >
    <div class="list-row" *ngFor="let field of fieldList" cdkDrag>
      <!-- <div class="list-row" *ngFor="let field of fieldList" cdkDrag> -->
      <div class="title-column">{{ field.otsikko }}</div>
      <div class="info-text-column">{{ field.ohje }}</div>
      <a [routerLink]="'/course/' + courseid + '/settings/field/' + field.id" >
        <mat-icon class="edit-icon">edit_indicator</mat-icon>
      </a>
      <mat-icon class="resize-icon">drag_indicator</mat-icon>
    </div>
  </div>

  <ng-template #noFieldsMessage>
    <div class="list-wrapper">
      <p class="no-fields-p"
          i18n="@@Yhtään lisäkenttää ei ole lisätty"
          >
        Yhtään lisäkenttää ei ole lisätty.
      </p>
    </div>
  </ng-template>

</div>

<app-error-card
    i18n-title="@@Virhe"
    *ngIf="errorMessage.length > 0"
    message="{{ errorMessage }}"
    [styles]="{ margin: '2em 0 1em 0' }"
    title="Virhe"
    >
</app-error-card>

<p *ngIf="message.length >0" class="theme-success-message">{{message}}</p>

<div class="theme-actions" *ngIf="errorMessage.length === 0">

  <button class="add-button"
          i18n="@@Lisää kenttä"
          mat-raised-button
          [routerLink]="'/course/' + this.courseid + '/settings/field'"
          >
    Lisää kenttä
  </button>
</div>

<!----------------- UKK Siirtäminen ------------------------------------------->

<div class="vertical-spacer"></div>

<h3 class="theme-subheader faq-transfer-h2"
    i18n="@@Usein kysyttyjen kysymysten siirtäminen"
    >
  Usein kysyttyjen kysymysten siirtäminen
</h3>

<!-- Ei näytetä käyttäjällä, koska näytetään muotoiltu nappi tämän sijaan. -->
<input  accept=".json"
        aria-disabled="true"
        (change)="onFileAdded($event)"
        class="file-input"
        #fileInput
        multiple
        style="display: none"
        type="file"
        >

<div class="transfer-buttons-wrapper">
  <button i18n="@@Lataa tiedostona"
          (click)="exportFAQs()"
          mat-raised-button
          type="button"
          >
    Lataa tiedostona
  </button>
  <button i18n="@@Lisää tiedostona"
          mat-raised-button
          (click)="fileInput.click()"
          >
    Lisää tiedostosta
  </button>
</div>

<!---------------- Ulkopuolisten kutsuminen --------------------------------->

<div class="vertical-spacer"></div>

<form class="invite-form"
      [formGroup]="form"
      (ngSubmit)="sendInvite()"
      >

  <h2 class="sub-header" i18n="@@Kutsu ulkopuolisia kurssille">
    Kutsu ulkopuolisia kurssille
  </h2>

  <p class="help-text" i18n="@@Kutsumisohje">
    Voit kutsua kurssin ulkopuolisia toimijoita osallistumaan kurssille.
  </p>

  <app-error-card
      i18n-title="@@Virhe"
      *ngIf="inviteErrorMessage.length > 0"
      message="{{ inviteErrorMessage }}"
      [styles]="{ margin: '1em 0 1em 0' }"
      title="Virhe"
      >
  </app-error-card>

  <div class="invite-wrapper">

    <mat-form-field class="invite-field">
      <mat-label i18n="@@Sähköposti">Sähköposti</mat-label>
      <input formControlName="email" matInput (value)="email">
      <mat-error  i18n="@@Pakollinen kenttä."
                  *ngIf="email.errors?.['required']"
                  >
        Pakollinen kenttä.
      </mat-error>
    </mat-form-field>


    <button class="invite-button"
            color="primary"
            i18n="@@Kutsu"
            mat-raised-button
            >
      Kutsu
    </button>

    </div>

    <mat-label class="role-label"><span i18n="@@Rooli">Rooli</span>:</mat-label>
    <mat-radio-group formControlName="role">
      <mat-radio-button [value]=1 i18n="@@Opiskelija">
        Opiskelija
      </mat-radio-button>
      <mat-radio-button [value]=2 i18n="@@Opettaja">
        Opettaja
      </mat-radio-button>
    </mat-radio-group>

  <p *ngIf="inviteMessage.length >0" class="theme-success-message">
    {{ inviteMessage }}
  </p>


</form>
