
<h2 class="main-header" *ngIf="courseName.length > 0 && !isInIframe" id="courseName">
  <span>{{courseName}}</span>
</h2>

<app-to-beginning-button></app-to-beginning-button>

<h3 class="sub-header table-header">Tiketin tarkentavat kysymykset</h3>

<div class="container" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="list-row" *ngFor="let field of fieldList" cdkDrag>
    <!-- <div class="list-row" *ngFor="let field of fieldList" cdkDrag> -->
    <div class="title-column">{{field.otsikko}}</div>
    <div class="info-text-column">{{field.ohje}}</div>
    <a [routerLink]="'/course/' + courseID + '/settings/field/' + field.id" ><mat-icon class="edit-icon">edit_indicator</mat-icon></a>
    <mat-icon class="resize-icon">drag_indicator</mat-icon>
  </div>
</div>

<div class="theme-actions">

  <button
    class="add-button"
    mat-raised-button
    (click)="addField()"
    i18n="@@Lisää kenttä">
    Lisää kenttä
  </button>

  <button
  class="save-button"
  color="primary"
  mat-raised-button
  (click)="addField()"
  i18n="@@Save">
  Tallenna
</button>
</div>

<div class="vertical-spacer"></div>

<form class="invite-form">

  <h3 class="sub-header">Kutsu ulkopuolisia kurssille</h3>

  <p>Tästä voit kutsua kurssin ulkopuolisia toimijoita osallistumaan kurssille.</p>

  <div class="invite-wrapper">
    <mat-form-field class="invite-field">
      <mat-label i18n="@@Sähköposti">Sähköposti</mat-label>
      <input matInput (value)="inviteEmail">
    </mat-form-field>
    <button
      class="invite-button"
      color="primary"
      mat-raised-button
      i18n="@@Kutsu">
      Kutsu
    </button>
  </div>
</form>


<app-error-card *ngIf="errorMessage.length > 0" i18n-title="@@Virhe" title="Virhe"
  message="{{ errorMessage }}" [styles]="{ margin: '3em 20% 1em 20%' }">
</app-error-card>
