@import '/src/variables.scss';

// Taulukko ---------------------

table, .theme-actions { width: 103%; }
table, .theme-actions { margin-left: -15px; }

table {
  margin-top: 1.5rem;
}

.mat-mdc-header-cell:first-child {
  padding-left: 1.8em !important;
}

.mat-column-valittu {
  width: 2.2rem;
  padding-right: 1rem;
}

td {
  padding-top: 0.6em;
  padding-bottom: 0.6em
}

.text-input {
  width: 90%;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border: none;
  border-bottom: 1px #8e8e8e solid;
  background-color: #f5f5f5;
}

:host ::ng-deep .mat-sort-header-content { color: #595959; }

:host ::ng-deep .mat-sort-header-sorted > .mat-sort-header-content {
  color: #5379FC;
}

tr > :first-child { padding-left: 1em; }

// ---------------------

.theme-actions {
  justify-content: space-between;
}

@media (max-width: $XSmall) {
  table {width: 106% }
  .text-input { width: 85%; }
}
