<div class="login-page">
  <mat-card appearance="outlined" class="mat-elevation-z12">
    <mat-card-title style="text-align: center"
      >Testisivu</mat-card-title
    >
    <mat-card-content>
      <!-- <mat-card-content> Vastaus: {{ response }} </mat-card-content> -->
      <mat-card-content>Vastauksen tulevat consoleen</mat-card-content>

      <button (click)="getCourseName('1')" class="test-button" mat-raised-button>
        Hae kurssin 1 nimi
      </button>
      <button (click)="getQuestions()" class="test-button" mat-raised-button>
        Hae omat kysymykset.
      </button>
      <button (click)="getCourses()" class="test-button" mat-raised-button>
        Hae kurssit
      </button>
      <button (click)="getTicketInfo()" class="test-button" mat-raised-button>
        Hae yhden tiketin tiedot
      </button>
      <input placeholder="id" required name="ticketID" [(ngModel)]="ticketID" >
      <button (click)="addTicket()" class="test-button" mat-raised-button>
        Lisää uusi tiketti
      </button>
      <button (click)="getFieldInfo()" class="test-button" mat-raised-button>
        Hae tiketin lisäkenttien lisätiedot.
      </button>
    </mat-card-content>
  </mat-card>
</div>
