@import '/variables.scss';

mat-toolbar {
  height: 100px;
}

#projectLogo {
  // background: no-repeat 50% contain;
  // position: relative;
  // display: inline-block;
  // width: 1.33333333em;
  cursor: pointer;
  height: 75%;
  // line-height: 1em;
  margin-left: 0.5em;
  // background-image: url(../../../assets/logos/dvv-blue.svg);
  img {
    max-height: 100%;
  }
  &:hover {
    filter: brightness(97%);
  }
}

.spacer { flex: 1 1 auto; }

#userName, #userEmail, #userRole {
  display: block;
  align-self: flex-end;
}

#userName.is-phone-portrait {
  display: none;
}

#userName, #userEmail {
  margin-right: 5px;
  line-height: 1.1;
  font-weight: 600;
}

#userInfo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 0.5em;

  // border: solid red 1px;
}

#userRole {
  // margin-top: 3x;
  margin-right: 7px;
  font-weight: 500;
}

$icon-size: 80px;

#account-icon-button {
  // border: solid red 1px;
  align-items: center;
  font-size: $icon-size;
  height: $icon-size;
  margin-bottom: auto;
  margin-top: auto;
  position: relative;
  width: $icon-size;

  mat-icon {
    // border: solid green 1px;
    font-size: $icon-size;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: auto;
  }
}

.flag {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 40px;
  cursor: pointer;
  line-height: 0.7em;
  margin-right: 10px;
  margin-left: 15px;
}
.flag:before { content: '\00a0'; }

// Ikonit ovat täältä: https://flagicons.lipis.dev/
.flag-fi {
  background-image: url(../../../assets/flag-icons/fi.svg);
}

.flag-en {
  background-image: url(../../../assets/flag-icons/gb.svg);
}


@media (max-width: $XSmall) {
  #account-icon-button {
    height: 60px;
    width: 60px;
    font-size: 15px;
    mat-icon {
      font-size: 65px;
    }
  }
}
