<mat-toolbar color="primary">
  <!--
    Jos tulee tarve menulle.
    <button mat-icon-button class="menu-icon" aria-label="Navigation menu">
        <mat-icon>menu</mat-icon>
    </button> -->

    <!-- [disabled]="!isUserLoggedIn$" -->

    <div class="logo" matRipple [matRippleUnbounded]="isLoggedIn" [matRippleRadius]="30"
      [ngStyle]="{ 'cursor': ( isLoggedIn ) ? 'pointer' : 'unset' }">
      <img src="../../../assets/logos/dvv-white.svg" (click)="goToFrontPage()" alt="">
    </div>

  <span class="spacer"></span>

  <!-- Näkymät voivat asettaa näiden tagien sisään sisältöä, jos tulee tarpeen. -->
  <ng-content></ng-content>

  <!-- <mat-slide-toggle [checked]="sliderChecked" style="font-size: 1rem; color: white;">Upotus</mat-slide-toggle> -->


  <section class="user-info">

    <div class="theme-header-text" *ngIf="userName.length > 0">

      <!-- <span class="flag flag-fi" (click)="changeLanguage('fi-FI')" *ngIf="language !== 'fi-FI'"
      alt="Vaihda kieli suomeksi"></span>

    <span class="flag flag-en" (click)="changeLanguage('en-US')" *ngIf="language !== 'en-US'"
      alt="Vaihda kieli englanniksi"></span> -->

      {{ (userName.length > maxUserLength)? (userName | slice:0:maxUserLength) + '...':(userName) }}
    </div>

    <div class="email" *ngIf="userName.length === 0 && userEmail.length > 0" class="theme-header-text">
      {{ (userEmail.length > maxUserLength)? (userEmail | slice:0:maxUserLength) + '...':(userEmail) }}
    </div>

    <div class="theme-header-text-small">{{userRole}}</div>

  </section>

  <button mat-icon-button id="account-icon-button" class="material-symbols-outlined"
    [matMenuTriggerFor]="accountMenu" aria-label="Tili" (click)="updateMenu()">
    <mat-icon >account_circle</mat-icon>
  </button>

</mat-toolbar>

<mat-menu #accountMenu="matMenu">
  <button mat-menu-item (click)="toggleLanguage()" i18n="@@vaihda kieli" [disabled]="disableLanguageSelection">Change to English</button>

  <button mat-menu-item (click)="logOut()" *ngIf="isLoggedIn === true; else logIn" i18n="@@Kirjaudu ulos">Kirjaudu ulos</button>
  <ng-template #logIn>
    <button mat-menu-item (click)="login()" i18n="@@Kirjaudu sisään">Kirjaudu sisään</button>
  </ng-template>

</mat-menu>
