@import '/src/variables.scss';

//----------------- Korkeudesta riippuvaiset osat ------------------------------

// Skaalataan headerin korkeuden mukaan.
@mixin height-dependant($header-height) {
  mat-toolbar {
    height: $header-height;
    padding-left: 1rem;
  }

  $icon-size: calc($header-height * 0.8);

  #account-icon-button {
    align-items: center;
    font-size: $icon-size;
    height: $icon-size;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: $icon-size;

    mat-icon {
      font-size: $icon-size;
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: auto;
    }

  }
}

//----------------- Muut -------------------------------------------------------

// Jostain syystä oletus-focusta ei enää tullut.
#account-icon-button:focus {
  color: #f2f3f7;
  background-color: #008abd;
  // filter: brightness(85%);
  // outline: 1px solid gray; /* Example: Add a blue outline when focused */
}

.logo {
  margin: auto 1rem auto auto;
  height: 75%;

  img {
    height: 100%;
  }

  &-clickable {
    &:hover {
      filter: brightness(97%);
    }
    cursor: pointer;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2rem;
  margin-top: 0.1em;
  margin-right: 0.5em;
}

@media screen and (min-width: $XSmall) {
  @include height-dependant($header-height: 80px);
}

@media screen and (max-width: $XSmall) {
  @include height-dependant($header-height: 70px);
  .use-name {
    display: none;
  }
}
