<mat-toolbar color="primary">

    <div class="logo" *ngIf="courseID === null; else clickableLogo">
      <img alt="" src="../../../assets/logos/dvv-white.svg">
    </div>

  <ng-template #clickableLogo>
    <div class="logo logo-clickable"
        matRipple
        [matRippleRadius]="30"
        [matRippleUnbounded]="true"
        >
    <img  alt=""
          (click)="logoClicked()"
          src="../../../assets/logos/dvv-white.svg"
          >
      </div>
  </ng-template>

  <span class="spacer"></span>

  <!-- Näkymät voivat asettaa näiden tagien sisään sisältöä, jos tulee tarpeen. -->
  <ng-content></ng-content>

  <section class="user-info" *ngIf="user">

    <div class="theme-header-text">

      {{ user.nimi.length > maxUserLength ?
            (user.nimi | slice:0:maxUserLength) + '...' :
            (user.nimi) | titlecase }}
    </div>

    <!-- Voi olla tilanteita, missä käyttäjälle ei ole asetettu nimeä,
    niin näytetään silloin sähköpostiosoite. -->
    <div class="email theme-header-text"
        *ngIf="user.nimi.length === 0 && user.sposti.length > 0">
        {{ user.sposti.length > maxUserLength ?
            (user.sposti | slice:0:maxUserLength) + '...':(user.sposti) }}
    </div>

    <div class="theme-header-text-small">{{ userRole | titlecase }}</div>

  </section>

  <button aria-label="Tili"
          class="material-symbols-outlined"
          id="account-icon-button"
          i18n-aria-label="@@Tili"
          mat-icon-button
          [matMenuTriggerFor]="accountMenu"
          >
          <!-- (click)="updateMenu()" -->
    <mat-icon >account_circle</mat-icon>
  </button>

</mat-toolbar>

<!----------------- Valikko --------------------------------------------------->
<mat-menu #accountMenu="matMenu">
  <app-usermenu>
  </app-usermenu>
</mat-menu>
<!--

<mat-menu #accountMenu="matMenu">

  <button mat-menu-item
          (click)="toggleLanguage()"
          [disabled]="disableLangSelect"
          i18n="@@vaihda kieli"
          >
    Change to English
  </button>

  <button i18n="@@Profiili"
          mat-menu-item
          *ngIf="courseID !== null && isLoggedIn === true"
          [routerLink]="'/course/' + courseID + '/profile'"
          >
    Profiili
  </button>

  <button (click)="logout()"
          i18n="@@Kirjaudu ulos"
          mat-menu-item
          *ngIf="isLoggedIn === true; else logIn"
          >
    Kirjaudu ulos
  </button>

  <ng-template #logIn>
    <button (click)="login()"
            i18n="@@Kirjaudu sisään"
            mat-menu-item
            >
      Kirjaudu sisään
    </button>
  </ng-template>


   + Kurssin asetukset
        + Upotuksessa avaa uuteen välilehteen.

</mat-menu>


-->
