<mat-toolbar color="primary">
  <!--
    Jos tulee tarve menulle.
    <button mat-icon-button class="menu-icon" aria-label="Navigation menu">
        <mat-icon>menu</mat-icon>
    </button> -->

  <!-- <span id="headerTitle" (click)="goToFrontPage()" class="mat-headline-1"
    [ngStyle]="{ 'cursor': ( isUserLoggedIn$ | async ) ? 'pointer' : 'unset' }">
    {{productName}}
  </span> -->

  <img id="projectLogo" src="../../../assets/logos/dvv-white.svg"  (click)="goToFrontPage()"
    [ngStyle]="{ 'cursor': ( isUserLoggedIn$ | async ) ? 'pointer' : 'unset' }">

  <span class="spacer"></span>

  <!-- Näkymät voivat asettaa näiden tagien sisään sisältöä. -->
  <ng-content></ng-content>

  <div id="userName" [ngClass]="{ 'is-phone-portrait': isPhonePortrait }" *ngIf="userName.length > 0">
    {{ (userName.length > maxUserLength)? (userName | slice:0:maxUserLength) + '...':(userName) }}
  </div>

  <div id="userEmail" *ngIf="userName.length === 0" >
    {{ (userEmail.length > maxUserLength)? (userEmail | slice:0:maxUserLength) + '...':(userEmail) }}
  </div>

  <div id="userRole">{{userRole}}</div>

  <!-- <mat-slide-toggle>Custom theme</mat-slide-toggle> -->

  <span class="flag flag-fi" (click)="changeLanguage('fi-FI')" *ngIf="language !== 'fi-FI'"
    alt="Vaihda kieli suomeksi"></span>
  <span class="flag flag-en" (click)="changeLanguage('en-US')" *ngIf="language !== 'en-US'"
    alt="Vaihda kieli englanniksi"></span>

  <button mat-icon-button class="material-symbols-outlined" *ngIf="isUserLoggedIn$ | async"
    [matMenuTriggerFor]="accountMenu" aria-label="Tili">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>

<mat-menu #accountMenu="matMenu">

  <button mat-menu-item (click)="logOut()" i18n="@@Kirjaudu_ulos">Kirjaudu ulos</button>
  </mat-menu>
