<div class="editor NgxEditor__Wrapper">
  <ngx-editor-menu *ngIf="!disabled" [editor]="editor" [toolbar]="toolbar" [customMenuRef]="customMenu"></ngx-editor-menu>
  <ngx-editor
      [editor]="editor"
      [(ngModel)]="editorContent"
      (ngModelChange)="editorContentChange.emit(editorContent)"
      [disabled]="disabled"
      [placeholder]="''"
  ></ngx-editor>
</div>

<ng-template #customMenu>
  <div class="NgxEditor__Seperator"></div>
  <app-menu-link [editor]="editor"></app-menu-link>
  <div class="NgxEditor__Seperator"></div>
  <app-menu-src [editor]="editor"></app-menu-src>
</ng-template>
