<div class="editor NgxEditor__Wrapper">
  <ngx-editor-menu  [customMenuRef]="customMenu"
                    [editor]="editor"
                    [toolbar]="toolbar"
                    >
  </ngx-editor-menu>
  <ngx-editor *ngIf="formControlName"
              [editor]="editor"
              [formControlName]="formControlName"
              [placeholder]="''"
              >
  </ngx-editor>
</div>

<ng-template #customMenu>
  <div class="NgxEditor__Seperator"></div>
  <app-menu-link [editor]="editor"></app-menu-link>
  <div class="NgxEditor__Seperator"></div>
  <app-menu-src [editor]="editor"></app-menu-src>
</ng-template>
