@import '/src/styles/variables.scss';

.view-wrapper {
  margin-bottom: 0.5em;
  padding-right: calc($right-padding * 2);
}

.main-text {
  margin-top: 2.5em;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8%;
  justify-content: center;
  margin-top: 4rem;
  row-gap: 1rem;
}

@media (max-width: 800px) {
  .view-wrapper {
    padding-right: 0;
  }
}

@media (max-width: $XSmall) {

  .main-text {
    margin-top: 1.5em;
  }

  .buttons-wrapper {
    gap: 4%;
    margin-bottom: 1rem;
    margin-top: 2rem;
    row-gap: 1rem;
  }

}
