<h1 class="main-header" >
  <span i18n="@@Tervetuloa">Tervetuloa</span>
</h1>

<p i18n="@@Tietojenkäyttösuostumus">
  Tämä on Digivertaisverkkohankkeen rakentama tikettijärjestelmä kurssin
  opettajien ja oppilaiden väliseen keskusteluun ja kysymysten kysymiseen.
  Ohjelmisto tarvitsee toimiakseen tiedon siitä, kuka olet, millä kurssilla olet
  ja mitä olet kurssilla tekemässä. Tämän vuoksi pyydämme sinulta lupaa tiedon
  siirtämiseen tikettijärjestelmän käyttöön. Jos olet kiinnostunut siitä, miten
  käsittelemme tietojasi, voit lukea tietoturvaselosteen.
</p>

<span i18n="@@Tallennamme seuraavat tiedot">
  Tallennamme seuraavat tiedot Moodlesta omaan tietokantaamme:
</span>

  <ul>
    <li i18n="@@Koko nimesi">Koko nimesi</li>
    <li i18n="@@Sähköpostiosoitteesi">Sähköpostiosoitteesi</li>
    <li i18n="@@Kurssialueen, jolla järjestelmä on käytössä">
        Kurssialueen, jolla järjestelmä on käytössä
    </li>
    <li i18n="@@Roolisi kurssilla">Roolisi kurssilla (opettaja / opiskelija)</li>
  </ul>

<div class="buttons-wrapper">

  <!-- <button i18n="@@Älä siirrä"
          mat-raised-button
          >
    Älä siirrä
  </button> -->

  <button (click)="giveConsent()"
          color="primary"
          i18n="@@Hyväksyn"
          mat-raised-button
          >
    Hyväksyn
  </button>

</div>
