@import "/src/variables.scss";

form {
  margin-top: -6px;
}

mat-form-field {
  min-width: 21rem;
}

.ticket-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: -20px;

  mat-form-field {
    flex-grow: 3;
  }
}

.short-field-wrapper {
  width: 24em;
  mat-form-field {
    margin-top: 2px;
  }
}

.theme-actions {
  gap: $button-gap;
}

@media (min-width: $XSmall) {
  .submit-faq {
    padding-right: $right-padding;
  }

  .required-span {
    margin-right: 1rem;
  }
}
