@import "/src/variables.scss";

form { margin-top: -6px; }
mat-form-field { min-width: 21rem; }

.vertical-spacer { height: 1rem; }

.ticket-header {
  margin-bottom: -20px;
  mat-form-field { flex-grow: 3; }
}

.short-field-wrapper {
  width: 24em;

  mat-form-field { margin-top: 2px; }
}

.theme-actions {
  gap: 1.5rem;
}

@media (min-width: $XSmall) {
  .submit-faq { padding-right: $right-padding; }
}

@media (max-width: $XSmall) {
  .user-info-block { display: none; }

  .theme-actions {
    gap: 1rem;
  }
}
