<app-headline></app-headline>

<div class="view-wrapper">

  <app-beginning-button
      (clicked)="showConfirm = true"
      [confirm]=form.dirty
      [disabled]="state === 'sending'"
      >
  </app-beginning-button>

  <app-error-card
      [confirmLeave]="true"
      *ngIf="showConfirm"
      [styles]="{ margin: '2rem 0 0 0' }"
      >
  </app-error-card>

  <form accept-charset="UTF-8"
        enctype="multipart/form-data"
        [formGroup]="form"
        (ngSubmit)="submit()"
        >

    <div class="ticket-header">
      <mat-form-field appearance="fill" class="sub-header">
        <textarea aria-label="Otsikko"
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMaxRows="3"
                  cdkAutosizeMinRows="1"
                  cdkTextareaAutosize
                  class="sub-header"
                  i18n-placeholder="@@Otsikko"
                  formControlName="title"
                  matInput
                  maxlength="255"
                  name="title"
                  [placeholder]="titlePlaceholder"
                  type="text"
                  >
        </textarea>
        <mat-error  i18n="@@Pakollinen kenttä."
                    *ngIf="title?.errors?.['required']"
                    >
          Pakollinen kenttä.
        </mat-error>
      </mat-form-field>
    </div>

    <section class="short-field-wrapper">

      <ng-container formArrayName="additionalFields"
                    *ngFor="let af of additionalFields.controls; let i = index"
                    >

        <mat-form-field appearance="fill">
          <mat-label>{{ ticketFields[i].otsikko }}</mat-label>
          <input  formControlName="{{i}}"
                  (keydown.enter)="$event.preventDefault()"
                  [matAutocomplete]="auto"
                  matInput
                  maxlength="50"
                  name="{{ ticketFields[i].otsikko }}"
                  type="text"
                  >

          <mat-icon matSuffix
                    *ngIf="ticketFields[i].valinnat[0] !== ''"
                    [ngStyle]="{ 'color': '#000000' }"
                    >
            keyboard_arrow_down
          </mat-icon>

          <mat-autocomplete #auto="matAutocomplete">
            <!-- Jos lisäkenttä ei sisällä valintoja, niin
              ticketFields[i].valinnat[0] sisältää tyhjän merkkijonon, eikä
              suinkaan ole tyhjä. -->
            <ng-container *ngIf="ticketFields[i].valinnat[0] !== ''">
              <mat-option *ngFor="let valinta of ticketFields[i].valinnat"
                          [value]="valinta"
                          >
                {{ valinta }}
              </mat-option>
            </ng-container>
          </mat-autocomplete>

          <mat-error  i18n="@@Pakollinen kenttä."
                      *ngIf="af?.errors?.['required']"
                      >
            Pakollinen kenttä.
          </mat-error>

          <mat-hint align="end">{{ af.value.length }} / 50</mat-hint>

        </mat-form-field>

        <mat-icon (click)="tooltip.toggle()"
                  matTooltip="{{ ticketFields[i].ohje }}"
                  matTooltipPosition="after"
                  *ngIf="ticketFields[i].ohje.length > 0"
                  [ngStyle]="{ 'padding-left': '15px' }"
                  #tooltip="matTooltip"
                  >
          help_outline
        </mat-icon>

      </ng-container>

    </section>

    <h1><span i18n="@@Kysymys">Kysymys</span><span>*</span></h1>
    <app-editor formControlName="question"></app-editor>
    <mat-error  i18n="@@Pakollinen kenttä."
                *ngIf="question?.errors?.['required'] && question?.touched"
                >
      Pakollinen kenttä.
    </mat-error>
    <mat-error  i18n="@@Tekstikenttään lisäämäsi kuva on liian iso. Liitä kenttään pienempi kuva tai lisää kuva liitetiedostona viestiin."
                *ngIf="question?.errors?.['maxlength']"
                >
      Tekstikenttään lisäämäsi kuva on liian iso. Liitä kenttään pienempi kuva tai lisää kuva liitetiedostona viestiin.
    </mat-error>

    <h1><span i18n="@@Vastaus">Vastaus</span><span>*</span></h1>
    <app-editor formControlName="answer"></app-editor>
    <mat-error  i18n="@@Pakollinen kenttä."
                *ngIf="answer?.errors?.['required'] && answer?.touched"
                >
      Pakollinen kenttä.
    </mat-error>
    <mat-error  i18n="@@Tekstikenttään lisäämäsi kuva on liian iso. Liitä kenttään pienempi kuva tai lisää kuva liitetiedostona viestiin."
                *ngIf="answer?.errors?.['maxlength']"
                >
      Tekstikenttään lisäämäsi kuva on liian iso. Liitä kenttään pienempi kuva tai lisää kuva liitetiedostona viestiin.
    </mat-error>

    <!-- Kun lähetetään liitetiedostoja -->
    <p  i18n="@@UKK lähettäminen onnistui"
        *ngIf="isFaqSent"
        >
      Uuden usein kysytyn kysymyksen lähettäminen onnistui.
    </p>

    <app-error-card i18n-title="@@Virhe"
                    message="{{ errorMessage }}"
                    *ngIf="errorMessage.length > 0"
                    [styles]="{ margin: '1em 0' }"
                    title="Virhe"
                    >
    </app-error-card>

    <div class="theme-actions">

      <button (click)="uploadClick.next('add')"
              [disabled]="state!=='editing'"
              i18n="@@Liitä tiedostoja"
              mat-raised-button
              type="button"
              >
        <mat-icon>attach_file</mat-icon>
        Liitä tiedostoja
      </button>

      <div class="spacer"></div>

      <div class="required-span">
        *&nbsp;
        <span i18n="@@Pakollinen">Pakollinen</span>
      </div>

      <!-- TicketId on asetettu, jos editoidaan olemassa olevaa UKK:a. -->
      <button class="cancel-button"
              [disabled]="state!=='editing'"
              i18n="@@Peru"
              mat-raised-button
              *ngIf="ticketId"
              [routerLink]="'/course/' + courseId + '/faq-view/' + ticketId"
              type="button"
              >
        Peru
      </button>

      <button class="submit-button"
              color="primary"
              *ngIf="state==='editing'"
              i18n="@@Julkaise"
              mat-raised-button
              type="submit"
              >
        Julkaise
      </button>

      <button class="submit-button"
              (click)="goBack()"
              color="primary"
              mat-raised-button
              *ngIf=""
              type="button"
              >
        OK
      </button>

    </div>

    <!-- (fileListOutput)="fileList = $event" -->
    <app-edit-attachments (attachmentsMessages)="attachmentsMessages = $event"
                          formControlName="attachments"
                          [oldAttachments]="oldAttachments"
                          [uploadClicks]="uploadClick.asObservable()"
                          >
    </app-edit-attachments>

  </form>

<!--------------- Alkuperäinen kysymys ---------------------------------------->

  <ng-container *ngIf="originalTicket !== undefined && !ticketId">
    <hr class="theme-divider">
    <h1 class="main-header" i18n="@@Alkuperäinen kysymys">
      Alkuperäinen kysymys
    </h1>
    <app-ticket-view [ticketIdFromParent]="ticketId"></app-ticket-view>
  </ng-container>

</div>
