@import "/src/variables.scss";
@import "../components/edit-attachments/edit-attachments.component.scss";

form { margin-top: -6px; }
mat-form-field { min-width: 21rem; }

.vertical-spacer { height: var(--margin-top-embedded) }

.ticket-header {
  margin-bottom: -20px;
  mat-form-field { flex-grow: 3; }
}

.short-field-wrapper {
  width: 24em;
  mat-form-field { margin-top: 2px; }
}

.status-message-p {
  text-align: center;
}

.theme-actions {
  gap: $button-gap;
}

@media (min-width: $XSmall) {
  .submit-faq { padding-right: $right-padding; }
}

@media (max-width: $XSmall) {
  .theme-actions {
    gap: 1rem;
  }
}
