<h2 class="main-header"
    *ngIf="courseName.length > 0 && !isInIframe">
  <span>{{ courseName }}</span>
</h2>

<div class="submit-faq">

  <div class="vertical-spacer" *ngIf="isInIframe"></div>

  <app-to-beginning-button [disabled]="state==='sending'"></app-to-beginning-button>

  <form accept-charset="UTF-8"
        action=""
        enctype="multipart/form-data"
        #submitForm="ngForm">

    <div class="ticket-header">
      <mat-form-field appearance="fill" class="sub-header">
        <textarea [disabled]="state!=='editing'"
                  autocomplete="off"
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMaxRows="3"
                  cdkAutosizeMinRows="1"
                  cdkTextareaAutosize
                  contenteditable
                  class="sub-header"
                  i18n-placeholder="@@Otsikko"
                  matInput
                  maxlength="255"
                  name="titleText"
                  [(ngModel)]="title"
                  placeholder="Otsikko"
                  required>
          </textarea>
      </mat-form-field>
    </div>

    <section class="short-field-wrapper">

      <ng-container *ngFor="let kentta of ticketFields; let i = index">
        <mat-form-field appearance="fill">
          <mat-label>{{ kentta.otsikko }}</mat-label>
          <input  [disabled]="state==='sending'"
                  [matAutocomplete]="auto"
                  matInput
                  maxlength="50"
                  name="kentta.otsikko_{{i}}"
                  [(ngModel)]="ticketFields[i].arvo"
                  placeholder=""
                  [required]="kentta.pakollinen"
                  name="title"
                  >

          <mat-icon matSuffix
                    *ngIf="kentta.valinnat[0] !== ''"
                    [ngStyle]="{ 'color': '#000000' }">
            keyboard_arrow_down
          </mat-icon>

          <mat-autocomplete #auto="matAutocomplete">
            <!-- Jos lisäkenttä ei sisällä valintoja, niin kentta.valinnat[0]
                  sisältää tyhjän merkkijonon, eikä suinkaan ole tyhjä. -->
            <ng-container *ngIf="kentta.valinnat[0] !== ''">
              <mat-option [disabled]="state==='sending'"
                          *ngFor="let valinta of kentta.valinnat"
                          [value]="valinta">
                {{ valinta }}
              </mat-option>
            </ng-container>
          </mat-autocomplete>

          <mat-hint align="end">{{ kentta.arvo.length }} / 50</mat-hint>
        </mat-form-field>

        <mat-icon (click)="tooltip.toggle()"
                  matTooltip="{{ kentta.ohje }}"
                  matTooltipPosition="after"
                  *ngIf="kentta.ohje.length > 0"
                  [ngStyle]="{ 'padding-left': '15px' }"
                  #tooltip="matTooltip">
          help_outline
        </mat-icon>

      </ng-container>

    </section>

    <h2 i18n="@@Kysymys">Kysymys</h2>
    <app-editor [disabled]="state!=='editing'" [(editorContent)]="faqMessage"></app-editor>

    <h2 i18n="@@Vastaus">Vastaus</h2>
    <app-editor [disabled]="state!=='editing'" [(editorContent)]="faqAnswer"></app-editor>

    <app-error-card i18n-title="@@Virhe"
                    message="{{ errorMessage }}"
                    *ngIf="errorMessage.length > 0"
                    [styles]="{ margin: '1em 20% 1em 20%' }"
                    title="Virhe">
    </app-error-card>

    <p class="status-message-p" *ngIf="state==='sending'" i18n="@@Lähetetään liitetiedostoja">
      Lähetetään liitetiedostoja, ole hyvä ja odota hetki...</p>

    <div class="theme-actions">

      <!-- ! Tällä hetkellä ei tueta liitetiedostojen editointia. -->
      <button (click)="fileUpload.click()"
              *ngIf="!editExisting"
              [disabled]="state!=='editing'"
              i18n="@@Liitä tiedostoja"
              mat-raised-button>
        <mat-icon>attach_file</mat-icon>
        Liitä tiedostoja
      </button>

      <div class="spacer"></div>

      <button class="cancel-button"
              [disabled]="state!=='editing'"
              i18n="@@Peru"
              mat-raised-button
              *ngIf="editExisting"
              [routerLink]="'/course/' + courseId + '/faq-view/' + ticketId">
        Peru
      </button>

      <button class="submit-button"
              *ngIf="state==='editing'"
              (click)="sendFaq()"
              color="primary"
              [disabled]="submitForm.invalid || this.faqMessage.length === 0 || this.faqAnswer.length === 0"
              i18n="@@Julkaise"
              mat-raised-button
              >
        Julkaise
      </button>

      <button class="submit-button"
        *ngIf="state==='done'"
        (click)="goBack()"
        color="primary"
        mat-raised-button>
        OK
      </button>

    </div>

    <!-- ! (event) ei toiminut, jos käytti tähän omaa child komponenttia ja tuli Muokkaa-napin kautta. -->
    <input type="file" class="file-input" multiple (change)="onFileChanged($event)" #fileUpload>
    <!-- <input type="file" class="file-input" id="file-input-{{url}}" multiple name="file-input-{{url}}"
      (change)="onFileChanged($event)" #fileUpload> -->
    <div class="file-list-wrapper" *ngIf="fileList !== null">
      <div class="file-list-row" *ngFor="let file of fileInfoList; let index = index">
        <div class="list-item">
          <span class="filename" matTooltip="{{file.filename}}" [matTooltipShowDelay]="600">{{file.filename}}</span>
          <div class="file-error-message" matError *ngIf="file.error" matTooltip="{{file?.errorToolTip}}" 
            [matTooltipShowDelay]="600">
            <mat-icon>warning</mat-icon>{{file.error}}
          </div>
          <button mat-icon-button [disabled]="file.progress !== undefined" class="remove-file-button"
            (click)="removeSelectedFile(index)"><mat-icon>close</mat-icon></button>
        </div>
        <mat-icon class="ok-icon" *ngIf="file.progress === 100">done</mat-icon>
        <mat-icon class="error-icon" *ngIf="file.error">error</mat-icon>
        <mat-progress-bar [value]="file.progress" *ngIf="file.progress" mode="determinate" value=100>
        </mat-progress-bar>
      </div>
    </div>

    <!-- Ylläoleva lapsikomponenttina -->
    <!-- <app-edit-attachments
    (fileListOutput)="fileList = $event"
    [uploadClicks]="uploadClick.asObservable()"
    >
    </app-edit-attachments> -->


  </form>

  <!-------------- Alkuperäinen kysymys ----------------------------------------->

  <ng-container *ngIf="originalTicket !== undefined && !editExisting">
    <hr class="theme-divider">
    <h2 class="main-header" i18n="@@Alkuperäinen kysymys">
      Alkuperäinen kysymys
    </h2>
    <app-ticket-view [ticketIdFromParent]="ticketId"></app-ticket-view>
  </ng-container>

</div>
