
mat-card {
  margin: 0 auto 12px;

  mat-card-subtitle {
    margin-top: 3px;
  }

  .remove-btn {
    top: 1px;
    font-size: 120%;
    mat-icon {
      font-size: 120%;
    }
  }

  .more-info-needed {
    color: #8c8c8c;
    margin-right: 1em;
  }

  .proposed-solution {
    color: var(--primary-color);
    margin-right: 1em;
  }
}

.theme-actions {
  gap: 0.8rem
}

mat-radio-button {
  margin: 3px 1.7rem 3px 0px
}
