
mat-card {
  margin: 0 auto 12px;

  mat-card-subtitle {
    margin-top: 3px;
  }

  .remove-btn {
    top: -3px;
    font-size: 130%;
    mat-icon {
      font-size: 130%;
    }
  }

  .ticket-state {
    color: var(--primary-color);
    margin-right: 1em;
  }
}

.theme-actions {
  gap: 0.8rem
}
