
<mat-card appearance="outlined" class="answer">

<mat-card-header>

  <img  alt=''
        mat-card-avatar
        src="../../../assets/logos/UniOulu.png"
        >
  <mat-card-title class="theme-profile-name">
    {{ comment.lahettaja.nimi }}
  </mat-card-title>

  <mat-card-subtitle class="theme-label">
    <span>{{getSenderTitle(comment.lahettaja.nimi, comment.lahettaja.asema)}}
      -
    </span>
    <span i18n="@@Tänään" *ngIf="isToday(comment.aikaleima)" >
      Tänään
    </span>
    <span *ngIf="!isToday(comment.aikaleima)">
      {{ comment.aikaleima | date: 'shortDate' }}
    </span>
    {{ comment.aikaleima | date: 'shortTime' }}
  </mat-card-subtitle>

  <div class="spacer"></div>
  <span class="ticket-state" *ngIf="comment.tila === 5">
    {{ this.strings.get('proposedSolution') }}
  </span>

  <!-- i18n-aria-label="@@Muokkaa kommenttia" -->
    <button aria-label="Poista kommentti"
            class="remove-btn"
            (click)="changeRemoveBtn()"
            [disabled]="state==='sending'"
            mat-icon-button
            *ngIf="(comment.lahettaja.id === user?.id) &&
                (editingCommentID === comment.id) &&
                isRemovePressed === false"
            >
      <mat-icon>delete</mat-icon>
    </button>

    <button aria-label="Vahvista kommentin poistaminen"
            class="remove-btn"
            (click)="removeComment(comment.id)"
            [disabled]="state==='sending'"
            color="accent"
            i18n-aria-label="@@Vahvista kommentin poistaminen"
            mat-icon-button
            matTooltip="{{ strings.get('confirmRemoveTooltip') }}"
            *ngIf="(comment.lahettaja.id === user?.id) &&
                (editingCommentID === comment.id) &&
                isRemovePressed === true"
            matTooltipPosition="after"
            #tooltip="matTooltip"
            >
            <mat-icon>delete_forever</mat-icon>
    </button>

  <button aria-label="Muokkaa kommenttia"
          (click)="editComment(comment.id)"
          [disabled]="state==='sending'"
          i18n-aria-label="@@Muokkaa kommenttia"
          mat-icon-button
          *ngIf="(comment.lahettaja.id === user?.id) &&
              (editingCommentID !== comment.id)"
          >
    <mat-icon>edit</mat-icon>
  </button>

  <button (click)="cancelCommentEditing()"
          aria-label="Peru kommentin muokkaaminen"
          [disabled]="state==='sending'"
          i18n-aria-label="@@Peru kommentin muokkaaminen"
          mat-icon-button
          *ngIf="editingCommentID === comment.id"
          >
    <mat-icon>close</mat-icon>
  </button>

</mat-card-header>

<mat-card-content>
<div *ngIf="editingCommentID !== comment.id; else commentEditing">
  <app-message [messageHtml]=comment.viesti>
  </app-message>
  <app-view-attachments
      (errorMessage)="errorMessage = $event"
      [files]="comment.liitteet"
      *ngIf="comment.liitteet"
      [ticketID]="ticketID"
      >
  </app-view-attachments>
</div>
</mat-card-content>

<ng-template #commentEditing>
<app-editor [disabled]="state==='sending'"
            [(editorContent)]="comment.viesti"
            *ngIf="editingCommentID === comment.id"
            >
<!-- *ngIf="!ticketIdFromParent && editingComment === comment.id" -->

</app-editor>


<app-error-card
    *ngIf="errorMessage.length > 0"
    i18n-title="@@Virhe"
    message="{{ errorMessage }}"
    [styles]="{ 'margin-top': '1rem:' }"
    title="Virhe"
    >
</app-error-card>

<div class="theme-actions">

  <button [attr.aria-label]="attachFilesText"
          class="attach-button"
          (click)="uploadClick.next('add')"
          [disabled]="state==='sending'"
          mat-raised-button="attachFilesText"
          >
    <mat-icon>attach_file</mat-icon>{{attachFilesText}}
  </button>

  <div class="spacer"></div>

  <button class="send-button"
          (click)="sendComment(comment.id, comment.viesti)"
          color="primary"
          [disabled]="state==='sending'"
          mat-raised-button
          >
    OK
  </button>
</div>

<app-edit-attachments
    (attachmentsMessages)="attachmentsMessages = $event"
    (fileListOutput)="fileInfoList = $event"
    id="attachments-{{comment.id}}"
    [oldAttachments]="comment.liitteet"
    [uploadClicks]="uploadClick.asObservable()"
    >
</app-edit-attachments>

</ng-template>

</mat-card>
