<mat-card>

  <mat-card-title>Opettajille lähettämäsi kysymykset</mat-card-title>

  <mat-card-content>
    <p><button mat-raised-button color="primary" (click)="goSendTicket()">Uusi Kysymys</button></p>


    <table mat-table [dataSource]="dataSource" matSort matSortActive="aikaleima" matSortDirection="desc"
      class="mat-elevation-z1">

      <ng-container matColumnDef="otsikko">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Järjestä otsikon mukaan">
          Otsikko
        </th>
        <td mat-cell *matCellDef="let element" (click)="goTicketView(element.id)">
          {{ (element.otsikko.length > maxTicketTitleLength)? (element.otsikko | slice:0:maxTicketTitleLength) + '...':(element.otsikko) }}
        </td>
        <!-- <td mat-cell *matCellDef="let element" [routerLink]="'/' + [ticketViewLink + element.id]">{{element.otsikko}}</td> -->
      </ng-container>

      <ng-container matColumnDef="aikaleima">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="timeStampHeader"
          sortActionDescription="Järjestä aikaleiman mukaan">
          Päivämäärä
        </th>
        <td mat-cell *matCellDef="let element" (click)="goTicketView(element.id)"> {{element.aikaleima | date: 'short'
          }}</td>
      </ng-container>

      <ng-container matColumnDef="aloittajanNimi">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Järjestä aloittajan mukaan">
          Aloittaja
        </th>
        <td mat-cell *matCellDef="let element" (click)="goTicketView(element.id)">{{element.aloittajanNimi}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" *ngIf="tableLength > 5" showFirstLastButtons
      aria-label="Valitse kysymysten sivu">
    </mat-paginator>

  </mat-card-content>

</mat-card>