@import '/variables.scss';

#firstTitle { margin-bottom: 1em; }

h3 {
    margin-top: 1em;
    padding-left: 1em;
}

button {
    text-transform: uppercase;
    // margin-top: 1em;
    // margin: 1em 0.5em 0.5em;
    // margin-left: 1em;
}

mat-card-actions {
  padding-top: 1em;
  padding-right: 0.5em;
}

table {
  td { cursor: pointer;
    line-height: 1.5;}
  .mat-mdc-header-row {
    background-color: #D3D3D3;
  }
  .mat-mdc-row:hover { background-color: $hoverBG !important; }
  // td.mat-mdc-cell  {
  //   padding-left: 1em;
  //   padding-right: 1em;
  //   text-align: left;
  // }
  // .mat-mdc-header-cell {
  //   padding-left: 1em;
  //   padding-right: 1em;
  //   text-align: left;
  // }
  tr > :first-child {
    padding-left: 25px;
  }

  tr > :last-child {
    padding-right: 50px;
  }
  .mat-column-aloittajanNimi,
  .mat-column-aikaleima,
  .mat-column-tyyppi {
    text-align: right;
  }

  .td-align-right {
    padding-right: 34px;
  }
  //  {
  //   padding-right: 3em;
  // }
}

// th.mat-column-aloittajanNimi {
//   text-align: right;
// }

@media (min-width: $small) {
  tr.mat-mdc-row > td {
    // padding: 22px
    padding-top: 20px;
    padding-bottom: 20px;

  }
}

:host ::ng-deep .align-right > .mat-sort-header-container {
  justify-content: flex-end;
}


:host ::ng-deep .mat-sort-header-content {
  color: #595959;
}

:host ::ng-deep .mat-sort-header-sorted > .mat-sort-header-content {
  color: #5379FC;
}


[hidden] { display: none !important; }

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card {
    margin: auto;
    padding-left: 2em;
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
}

.noItemsMessage {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2.5em;
    margin: 1em 1em;
}

#submitButton {
  margin-top: 1em;
    color: white;
}

// .mat-header-cell {
//     padding-left: 1em;
//     padding-right: 1em;
//     text-align: left;
// }
