<mat-progress-bar class="theme-progress-bar" mode="indeterminate" *ngIf="!isLoaded">
</mat-progress-bar>

  <!----------- Tiketit ------------------------------------------------------->

  <div class="view-header">
    <!-- Span-tagit tarvitsee otsikon ympärille, että teemassa muotoillaan oikein. -->
    <h1 class="main-header"
        id="courseName"
        *ngIf="courseName.length > 0 && !isInIframe">
      <span>{{courseName}}</span>
    </h1>

    <div class="spacer"></div>

      <button (click)="openInNewTab()"
              class="embedded-button"
              mat-raised-button
              *ngIf="isInIframe">
        <a target="_blank" i18n="@@Avaa uuteen välilehteen">
          Avaa uuteen välilehteen
        </a>
      </button>

    <button aria-label="Kurssin asetukset"
            i18n-aria-label="@@Kurssin asetukset"
            class="settings-button"
            mat-icon-button
            *ngIf="(user.asema === 'opettaja' || user.asema === 'admin') && isParticipant"
            [routerLink]="'/course/' + courseID + '/settings'"
            >
      <mat-icon class="settings-icon">settings</mat-icon>
    </button>

    <button aria-label="Profiili"
            (click)="stopPolling()"
            i18n-aria-label="@@Profiili"
            class="settings-button"
            mat-icon-button
            *ngIf="isParticipant && isInIframe"
            [routerLink]="'/course/' + courseID + '/profile'">
      <mat-icon class="settings-icon">account_circle</mat-icon>
    </button>
  </div>

  <section *ngIf="isLoaded && isParticipant">

  <!-- Upotuksessa jos ei otsikkoa ja näytetään kirjautumisen ilmaisin, niin
    hakukentälle tilaa. -->
  <!-- <div *ngIf="isInIframe && numberOfQuestions > 0" class="vertical-spacer"></div> -->
  <div class="input-field-wrapper">
    <h2 id="tickets-header" class="sub-header" *ngIf="headline.length > 0">
      {{headline}}
    </h2>
    <!--Hakutoiminto-->
    <mat-form-field class="filteringField" *ngIf="numberOfQuestions !== 0">
      <mat-label i18n="@@Suodata kysymyksiä">Suodata kysymyksiä</mat-label>
      <input matInput (keyup)="applyFilter($event, true)" placeholder="" #input>
    </mat-form-field>
  </div>

  <table class="theme-table mat-elevation-z1" mat-table [dataSource]="dataSource"
      [hidden]="dataSource.filteredData.length === 0" matSort matSortActive="aikaleima"
        matSortDirection="desc" #sortQuestions="matSort">

    <ng-container matColumnDef="tila">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          i18n-sortActionDescription="@@Järjestä tilan mukaan" i18n="@@Tila"
          sortActionDescription="Järjestä tilan mukaan">
        Tila
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- Muut kuin otsikko-kentässä olevat linkit eivät ole ARIA-käytössä. -->
        <a aria-disabled="true"
          [routerLink]="'/course/' + courseID + '/ticket-view/' + element.id"
          tabindex="-1"
          >
          <div class="ticket-state-wrapper">
            <div class="icon-wrapper">
              <img alt=""
                  class="icon"
                  height="100%"
                  src="../../../assets/icons/{{iconFile[element.tilaID]}}.svg"
                  width="100%"
              >
            </div>
            <div>{{ element.tila }}</div>
          </div>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="otsikko">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          i18n-sortActionDescription="@@Järjestä otsikon mukaan" i18n="@@Otsikko"
          sortActionDescription="Järjestä otsikon mukaan">
        Otsikko
      </th>
      <!-- <td mat-cell *matCellDef="let element" (clik)="goTicketView(element.id)"> -->
      <td mat-cell *matCellDef="let element" >
        <a class="a-left-padding"
            [routerLink]="'/course/' + courseID + '/ticket-view/' + element.id">
            {{ (element.otsikko.length > maxItemTitleLength)? (element.otsikko |
            slice:0:maxItemTitleLength) + '...':(element.otsikko) }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="aloittajanNimi">
      <th class="align-right" mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription="Järjestä lähettäjän mukaan"
          i18n-sortActionDescription="@@Järjestä lähettäjän mukaan"
          i18n="@@Lähettäjä">
        Lähettäjä
      </th>
      <td class="cell-align-right" mat-cell *matCellDef="let element">
        <a  aria-disabled="true" disabled
            class="cell-align-right"
            [routerLink]="'/course/' + courseID + '/ticket-view/' + element.id"
            tabindex="-1"
            >
          {{ element.aloittajanNimi }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="aikaleima">
      <th class="align-right" mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription="Järjestä luodun päivämäärän mukaan"
          i18n-sortActionDescription="@@Järjestä luodun mukaan"
          i18n="@@Luotu">
        Luotu
      </th>
      <td mat-cell *matCellDef="let element" class="cell-align-right">
        <a  aria-disabled="true"
            class="cell-align-right"
            [routerLink]="'/course/' + courseID + '/ticket-view/' + element.id"
            tabindex="-1"
            >
          {{element.aikaleima | date: 'shortDate' }}
        </a>
      </td>
    </ng-container>

    <!--  ***** Rivit **** -->

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumn()"></tr>

    <tr mat-row *matRowDef="let row; columns: getDisplayedColumn()">
      <!-- <a [routerLink]="'/course/' + courseID + '/ticket-view/' + row.id"></a> -->
    </tr>

  </table>

  <p  class="no-items-message" i18n="@@Ei tuloksia"
      *ngIf="dataSource.filteredData.length === 0 && numberOfQuestions > 0">
    Suodattimella ei löytynyt tuloksia.
  </p>

    <div class="no-items-box" *ngIf="numberOfQuestions === 0" mat-elevation-z1>
      <p i18n="@@Ei yhtään kysymystä esitetty"
        *ngIf="user.asema === 'opettaja' || user.asema === 'admin';
            else noTicketsStudent" >
        Yhtään kysymystä ei ole esitetty.
      </p>
      <ng-template #noTicketsStudent>
        <p i18n="@@Et ole lähettänyt yhtään kysymystä.">
        Et ole lähettänyt yhtään kysymystä.
      </p>
      </ng-template>
    </div>

  <!-------------- Arkistoidut ------------------------------------------------>

  <h2 class="sub-header" *ngIf="archivedCount > 0">Arkistoidut kysymykset</h2>

  <table class="theme-table mat-elevation-z1" mat-table [dataSource]="dataSourceArchived"
    [hidden]="dataSourceArchived.filteredData.length === 0" matSort matSortActive="aikaleima"
    matSortDirection="desc"
    #sortArchived="matSort">

<ng-container matColumnDef="tila">
  <th mat-header-cell *matHeaderCellDef mat-sort-header
      i18n-sortActionDescription="@@Järjestä tilan mukaan" i18n="@@Tila"
      sortActionDescription="Järjestä tilan mukaan">
    Tila
  </th>
  <td mat-cell *matCellDef="let element">
    <!-- Muut kuin otsikko-kentässä olevat linkit eivät ole ARIA-käytössä. -->
    <a aria-disabled="true"
      [routerLink]="'/course/' + courseID + '/ticket-view/' + element.id"
      tabindex="-1"
      >
      <div class="ticket-state-wrapper">
        <div class="icon-wrapper">
          <img alt=""
              class="icon"
              height="100%"
              src="../../../assets/icons/{{iconFile[element.tilaID]}}.svg"
              width="100%"
          >
        </div>
        <div>{{ element.tila }}</div>
      </div>
    </a>
  </td>
</ng-container>

<ng-container matColumnDef="otsikko">
  <th mat-header-cell *matHeaderCellDef mat-sort-header
      i18n-sortActionDescription="@@Järjestä otsikon mukaan" i18n="@@Otsikko"
      sortActionDescription="Järjestä otsikon mukaan">
    Otsikko
  </th>
  <!-- <td mat-cell *matCellDef="let element" (clik)="goTicketView(element.id)"> -->
  <td mat-cell *matCellDef="let element" >
    <a class="a-left-padding"
        [routerLink]="'/course/' + courseID + '/ticket-view/' + element.id">
        {{ (element.otsikko.length > maxItemTitleLength)? (element.otsikko |
        slice:0:maxItemTitleLength) + '...':(element.otsikko) }}
    </a>
  </td>
</ng-container>

<ng-container matColumnDef="aloittajanNimi">
  <th class="align-right" mat-header-cell *matHeaderCellDef mat-sort-header
      sortActionDescription="Järjestä lähettäjän mukaan"
      i18n-sortActionDescription="@@Järjestä lähettäjän mukaan"
      i18n="@@Lähettäjä">
    Lähettäjä
  </th>
  <td class="cell-align-right" mat-cell *matCellDef="let element">
    <a  aria-disabled="true" disabled
        class="cell-align-right"
        [routerLink]="'/course/' + courseID + '/ticket-view/' + element.id"
        tabindex="-1"
        >
      {{ element.aloittajanNimi }}
    </a>
  </td>
</ng-container>

<ng-container matColumnDef="aikaleima">
  <th class="align-right" mat-header-cell *matHeaderCellDef mat-sort-header
      sortActionDescription="Järjestä luodun päivämäärän mukaan"
      i18n-sortActionDescription="@@Järjestä luodun mukaan"
      i18n="@@Luotu">
    Luotu
  </th>
  <td mat-cell *matCellDef="let element" class="cell-align-right">
    <a  aria-disabled="true"
        class="cell-align-right"
        [routerLink]="'/course/' + courseID + '/ticket-view/' + element.id"
        tabindex="-1"
        >
      {{element.aikaleima | date: 'shortDate' }}
    </a>
  </td>
</ng-container>

<!--  ***** Rivit **** -->

<tr mat-header-row *matHeaderRowDef="getDisplayedColumn()"></tr>

<tr mat-row *matRowDef="let row; columns: getDisplayedColumn()">
  <!-- <a [routerLink]="'/course/' + courseID + '/ticket-view/' + row.id"></a> -->
</tr>

</table>

<p  class="no-items-message" i18n="@@Ei tuloksia"
    *ngIf="dataSource.filteredData.length === 0 && numberOfQuestions > 0">
    Suodattimella ei löytynyt tuloksia.
</p>

  <!--------------------------------------------------------------------------->


  <!-- Jos halutaan paginator -->
  <!-- <mat-paginator [pageSizeOptions]="[10, 15, 20]" [hidden]="numberOfQuestions < 10"
          #paginatorQuestions showFirstLastButtons
      aria-label="Valitse kysymysten sivu"></mat-paginator> -->

  <div  class="buttons-wrapper theme-actions"
        [ngStyle]="numberOfQuestions === 0 ?
        {'justify-content': 'flex-start'} : {'justify-content': 'flex-end'}"
        >

    <ng-template *ngIf="user.asema !== 'opiskelija'">

      <button class="button"
              (click)="fetchArchivedTickets()"
              i18n="@@Arkistoitu"
              mat-raised-button
              *ngIf="archivedCount === 0;
                  else hideArchivedBtn"
              >
          Näytä arkistoidut
      </button>

      <ng-template #hideArchivedBtn>
        <button class="button"
                (click)="hideArchived()"
                mat-raised-button
                >
            Piilota arkistoidut
        </button>
      </ng-template>

    </ng-template>

    <div class="spacer"></div>

    <button class="button"
            (click)="saveRedirectUrl()"
            color="primary"
            mat-raised-button
            [routerLink]="'/course/' + this.courseID + '/submit'"
            target="_blank"
            >
      <a  i18n="@@Kysy opettajilta"
          [routerLink]="'/course/' + this.courseID + '/submit'"
          >
        Kysy opettajilta
      </a>
    </button>
  </div>

  </section>

    <app-error-card
        i18n-title="{{ ticketsError.title }}"
        (clickEvent)="ticketErrorClickEvent($event)"
        message="{{ ticketsError.message }}"
        *ngIf="isLoaded && ticketsError.title.length > 0"
        #ticketError
        title="{{ ticketsError.title }}"
        >
    </app-error-card>

<!------------ UKK:t ---------------------------------------------------------->

<section *ngIf="FAQisLoaded">

<div class="input-field-wrapper">
  <h2 class="sub-header" i18n="@@Usein kysytyt kysymykset">
    Usein kysytyt kysymykset
  </h2>
  <!--Hakutoiminto-->
  <mat-form-field class="filteringField filter-FAQ" *ngIf="numberOfFAQ !== 0">
    <mat-label i18n="@@Suodata kysymyksiä">Suodata kysymyksiä</mat-label>
    <input matInput (keyup)="applyFilter($event, false)" placeholder="" #input>
  </mat-form-field>
</div>

  <div class="no-items-box" *ngIf="numberOfFAQ === 0">
    <p i18n="@@Ei yhtään UKK">
      Yhtään usein kysyttyä kysymystä ei ole lisätty.
    </p>
  </div>

<table id="faqTable" mat-table class="theme-table mat-elevation-z1" [dataSource]="dataSourceFAQ"
    [hidden]="dataSourceFAQ.filteredData.length === 0"
    matSort #sortFaq="matSort" matSortActive="tyyppi" matSortDirection="desc">

  <ng-container matColumnDef="otsikko">
    <th mat-header-cell *matHeaderCellDef mat-sort-header
        i18n-sortActionDescription="@@Järjestä otsikon mukaan" i18n="@@Otsikko"
        sortActionDescription="Järjestä otsikon mukaan"
        >
      Otsikko
    </th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="'/course/' + courseID + '/faq-view/' + element.id">
        {{ (element.otsikko.length > maxItemTitleLength)?
          (element.otsikko | slice:0:maxItemTitleLength) + '...':(element.otsikko) }}
      </a>
    </td>
  </ng-container>

  <ng-container i18n-sortActionDescription="@@Järjestä päivämäärän mukaan"
                matColumnDef="aikaleima"
                >
    <th class="align-right" mat-header-cell *matHeaderCellDef mat-sort-header
      sortActionDescription="Järjestä päivämäärän mukaan" i18n="@@Päivämäärä">
      Päivämäärä
    </th>
    <td class="cell-align-right" mat-cell *matCellDef="let element">
      <a  class="cell-align-right"
          [routerLink]="'/course/' + courseID + '/faq-view/' + element.id"
          tabindex="-1"
          >
        {{element.aikaleima | date: 'shortDate'}}
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumnFAQ()"></tr>

  <tr mat-row *matRowDef="let row; columns: getDisplayedColumnFAQ()"></tr>

</table>

  <p class="no-items-message" i18n="@@Ei tuloksia"
      *ngIf="dataSourceFAQ.filteredData.length === 0 && numberOfFAQ > 0">
    Suodattimella ei löytynyt tuloksia.
  </p>
<!-- <mat-paginator [pageSizeOptions]="[10, 15, 20]" #paginatorFaq [hidden]="numberOfFAQ < 10"
        showFirstLastButtons aria-label="Valitse kysymysten sivu"></mat-paginator> -->


  <div  class=" buttons-wrapper theme-actions"
        *ngIf="user.asema === 'opettaja' || user.asema === 'admin'"
        [ngStyle]="numberOfFAQ === 0 ? {'justify-content': 'flex-start'} :
            {'justify-content': 'flex-end'}">
    <button class="submit-faq-btn"
            (click)="saveRedirectUrl('-faq')"
            color="primary"
            justify-content="flex-end"
            mat-raised-button
            tabindex="-1"
            >
      <a  i18n="@@Uusi UKK"
          [routerLink]="'/course/' + this.courseID + '/submit-faq'">
        Uusi UKK
      </a>
    </button>
  </div>

</section>

<app-error-card *ngIf="errorMessage.length > 0" i18n-title="@@Virhe" title="Virhe"
    message="{{ errorMessage }}" [styles]="{ margin: '1em 20% 1em 20%' }">
</app-error-card>

<!-- <div class="theme-actions">
  <button mat-raised-button *ngIf="isLoaded && isInIframe" color="primary"
  [routerLink]="'/submit/'">Avaa kurssinäkymä</button>
</div> -->

<!-- Anna palautetta osio. Ohjaa käyttäjän ulkoiselle sivulle, jossa on palautelomake. -->
<section class="feedback">
  <h2 class="sub-header" i18n="@@Onko sinulla ongelmia tämän järjestelmän kanssa?">Onko sinulla ongelmia tämän järjestelmän kanssa?</h2>
  <p i18n="@@Entä uusia ideoita, miten voisimme jatkokehittää tätä järjestelmää? Tai herännyt muita ajatuksia liittyen tähän järjestelmään?">
    Entä uusia ideoita, miten voisimme jatkokehittää tätä järjestelmää? Tai herännyt muita ajatuksia liittyen tähän järjestelmään?
  </p>
  <p i18n="@@Palautteen antaminen on täysin vapaaehtoista. Kiitos!">
    Palautteen antaminen on täysin vapaaehtoista. Kiitos!
  </p>
  <div class="theme-actions" [ngStyle]="{ 'justify-content': 'flex-start' }">
    <button mat-raised-button color="primary" onClick="window.open('https://link.webropolsurveys.com/S/6D1CD4B0D938E765')"
      i18n="@@Anna meille palautetta">Anna meille palautetta</button>
  </div>
</section>
