@import '/variables.scss';

mat-card-actions {
  // padding-top: 1em;
  padding-right: 0.5em;
}

.mdc-card__actions {
  min-height: 30px;
}

#questionTable {
  margin-right: -15px;
}

// FIXME: jostain syystä tämä taulukko on muutoin pienempi.
#faqTable {
  width: 103%;
  margin-right: -15px;
}

table {
    margin-left: -15px;
  td {
    cursor: pointer;
    line-height: 1.5;
  }
  .mat-mdc-header-row {
    background-color: #D3D3D3;
  }
  .mat-mdc-row:hover { background-color: $hoverBG !important; }
  // td.mat-mdc-cell  {
  //   padding-left: 1em;
  //   padding-right: 1em;
  //   text-align: left;
  // }
  // .mat-mdc-header-cell {
  //   padding-left: 1em;
  //   padding-right: 1em;
  //   text-align: left;
  // }

  .mat-column-aloittajanNimi,
  .mat-column-aikaleima,
  .mat-column-tyyppi {
    text-align: right;
  }

  .mat-column-aloittajanNimi {
    min-width: 12em;
  }

  .td-align-right {
    padding-right: 34px;
  }
  //  {
  //   padding-right: 3em;
  // }

}

// th.mat-column-aloittajanNimi {
//   text-align: right;
// }

@media (min-width: $small) {

  mat-card {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }

  tr > :first-child {
    padding-left: 25px;
  }

  mat-row > :last-child {
    padding-right: 50px;
  }

  .mdc-data-table__header-row {
    height: 3em;
  }

  tr.mat-mdc-row > td {
    // padding: 22px
    padding-top: 0.66em;
    padding-bottom: 0.66em;
  }
}

// Ainakin tätä kirjoitettaessa ng-deep oli tarvittava keino muuttaa näitä.

:host ::ng-deep .align-right > .mat-sort-header-container {
  justify-content: flex-end;
}

:host ::ng-deep .mat-sort-header-content {
  color: #595959;
}

:host ::ng-deep .mat-sort-header-sorted > .mat-sort-header-content {
  color: #5379FC;
}

[hidden] { display: none !important; }

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card {
    margin: auto;
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
}

.input-field-wrapper {
      justify-content: space-between;
    flex-wrap: wrap;
}

h2 {
  padding-right: 2rem;
}

.filteringField {
  align-self: flex-end;
  max-width: 220px;
  margin-right: -22px;
  margin-top: 30px;
  margin-bottom: -10px;
  // margin-left: -15px;

  // mat-label, input {
  //   padding-left: 8px;
  // }
}

.noData-td { padding-top: 1em; padding-bottom: 1em; }

.noItemsMessage {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2.5em;
    margin: 1em 1em;
}

#submitButton {
  color: white;
  margin-top: 1em;
  margin-right: -22px;
}

.mat-mdc-form-field {
  width: 97%;
}

// .mat-header-cell {
//     padding-left: 1em;
//     padding-right: 1em;
//     text-align: left;
// }
