<div class="vertical-spacer"></div>

<app-headline class="headline" [appHeadline]="true"></app-headline>

<div class="content">
  <h2 class="theme-subheading" i18n="@@Sisäänkirjautuminen">
    Sisäänkirjautuminen
  </h2>
  <form action="">

    <mat-form-field>
      <input matInput
            i18n-placeholder="@@Käyttäjätunnus"
            name="email"
            [(ngModel)]="email"
            ng-change="validateEmail()"
            placeholder="Käyttäjätunnus"
            required
            />
      <mat-error i18n="@@Käyttäjätunnus tarvitaan.">
        Käyttäjätunnus tarvitaan.
      </mat-error>
      <!-- <mat-icon matSuffix>email</mat-icon> -->
    </mat-form-field>

    <mat-form-field>
      <input  i18n-placeholder="@@Salasana"
              matInput
              minlength="1"
              name="password"
              [(ngModel)]="password"
              placeholder="Salasana"
              required
              type="password"
      />
      <mat-error i18n="@@Salasana tarvitaan">
        Salasana tarvitaan.
      </mat-error>
      <!-- <mat-icon matSuffix>lock</mat-icon> -->
    </mat-form-field>

    <!-- Custom-komponentti shared-moduulista. -->
    <app-error
        i18n-title="@@Kirjautuminen ei onnistunut"
        message="{{ errorMessage }}"
        *ngIf="errorMessage.length > 0"
        [styles]="{ margin: '1em 10% 1em 10%;'}"
        title="Kirjautuminen ei onnistunut"
        >
    </app-error>

    <button (click)="login()"
            color="primary"
            [disabled]="!email|| !password"
            i18n="@@Kirjaudu"
            mat-raised-button
            >
      Kirjaudu
    </button>

    <!-- TODO: Jostain toiminnallisuutta tälle. -->
    <!--- <button mat-raised-button i18n="@@Kirjautumisongelmia?">
      Kirjautumisongelmia?
    </button>  -->
  </form>
</div>
