<div class="vertical-spacer"></div>

<app-headline [appHeadline]="true"></app-headline>

<div class="content">
  <h2 class="theme-subheading" i18n="@@Sisäänkirjautuminen">
    Sisäänkirjautuminen
  </h2>

  <form data-testid="form" [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field>
      <input  data-testid="email"
              formControlName="email"
              matInput
              name="email"
              >
      <!-- i18n-placeholder="@@Käyttäjätunnus" -->
      <!-- placeholder="Käyttäjätunnus" -->
      <mat-label i18n="@@Käyttäjätunnus">
        Käyttäjätunnus
      </mat-label>
      <mat-error  i18n="@@Käyttäjätunnus tarvitaan."
                  *ngIf="email?.errors?.['required']"
                  >
        Käyttäjätunnus tarvitaan.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input  data-testid="password"
              formControlName="password"
              i18n-placeholder="@@Salasana"
              matInput
              type="password"
              >
              <!-- name="password"
              placeholder="Salasana" -->
      <mat-label i18n="@@Salasana">
        Salasana
      </mat-label>
      <mat-error  i18n="@@Salasana tarvitaan"
                  *ngIf="password?.errors?.['required']"
                  >
        Salasana tarvitaan.
      </mat-error>
    </mat-form-field>

    <!-- Custom-komponentti shared-moduulista. -->
    <app-error  i18n-title="@@Kirjautuminen ei onnistunut"
                message="{{ errorMessage }}"
                *ngIf="errorMessage.length > 0"
                [styles]="{ margin: '1em 10% 1em 10%;'}"
                title="Kirjautuminen ei onnistunut"
                >
    </app-error>

    <button color="primary"
            data-testid="submit"
            [disabled]="!form.valid"
            i18n="@@Kirjaudu"
            mat-raised-button
            type="submit"
            >
      Kirjaudu
    </button>

  </form>
</div>
