@import "/src/variables.scss";

.vertical-spacer {
  height: 4.5rem;
}

.content {
  // border: red dotted 1px;
  max-width: 21em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  mat-form-field {
    margin-bottom: 0;
  }
}

button, mat-form-field {
  width: 100%;
}

button {
  margin: 0 auto 1em auto;
}

.required-wrapper {
  display: flex;
  justify-content: flex-end;
  span {
    display: inline-block;
  }
  margin-bottom: 0.5rem;
}

@media screen and (max-width: $XSmall) {
  .content {
    max-width: 100%;
  }
  // mat-form-field {
  //   width: 95%;
  // }
}
