
<app-headline [showInIframe]="true"></app-headline>

<div class="view-wrapper">

  <p>
    <span i18n='@@Sinut on kutsuttu'>
      Sinut on kutsuttu osallistumaan kurssille
    </span>

    <strong>{{ courseName }}</strong>.
    <span i18n="@@Jos et halua liittyä kurssille">
      Jos et halua liittyä kurssille, sinun ei tarvitse tehdä mitään.
    </span>
  </p>

  <ng-container *ngIf="user">

    <p i18n="@@Olet kirjautunut käyttäjänä">
      Olet tällä hetkellä kirjautunut käyttäjänä:
    </p>

    <div class="user-info-container">
      <app-sender-info
          [alignLeft]="true"
          aikaleima="now"
          [user]="user"
          >
      </app-sender-info>
    </div>

  </ng-container>

  <app-error-card
      message="{{ errorMessage }}"
      *ngIf="errorMessage"
      [styles]="{ 'margin-top': '1rem' }"
      >
  </app-error-card>

  <div class="buttons-wrapper">
    <button (click)="joinCourse()"
            color="primary"
            i18n="@@Kieltäydy kutsusta"
            mat-raised-button
            >
      Kieltäydy kutsusta
    </button>
    <button (click)="joinCourse()"
            color="primary"
            i18n="@@Liity kurssille"
            mat-raised-button
            >
      Liity kurssille
    </button>
  </div>

</div>