@import '/src/variables.scss';

.view-wrapper {
  padding-right: right-padding;
  margin-top: 2rem;
  margin-bottom: 0.5em;
}

.user-info-container {
  display: flex;
  align-items: flex-start;
}

.buttons-wrapper {
  margin-top: 3rem;
  // outline: 1px gray solid;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

@media (max-width: 800px) {
  .user-info-container {
    gap: 2rem;
  }
  .view-wrapper {
    padding-right: 0;
  }
}

@media (max-width: $XSmall) {
  .user-info-container {
    gap: 1rem;
  }
  .buttons-wrapper {
    row-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    flex-direction: column;
  }
}