@import '/src/variables.scss';

.view-wrapper {
  padding-right: calc($right-padding * 2);
  margin-top: 2rem;
  margin-bottom: 0.5em;
  max-width: 40rem;
}

.courseName {
  font-size: larger;
}

.buttons-wrapper {
  margin-top: 2rem;
  // outline: 1px gray solid;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .view-wrapper {
    padding-right: 0;
  }
}

@media (max-width: $XSmall) {
  .buttons-wrapper {
    gap: 4%;
    row-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}