@use "@angular/material" as mat;
@import "./variables.scss";

// Tarvitseeko alla olevaa johonkin?
// @import "@angular/material/theming";
@import url("https://fonts.googleapis.com/css?family=Montserrat:800,600,500,400");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@include mat.core();

/* ======== Angular material custom theme ======== */

$custom-primary-palette: (
  50: #e0f4fa,
  100: #b0e2f3,
  200: #7dceeb,
  300: #4bbbe3,
  400: #23addf,
  500: #009dd7,
  600: #008fca,
  700: #007db7,
  800: #006ca3,
  900: #004e84,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$custom-accent-palette: (
  50: #f9eae8,
  100: #fbcdbe,
  200: #f9ae94,
  300: #f78f6a,
  400: #f6774a,
  500: #f5612b,
  600: #ea5b27,
  700: #dc5423,
  800: #ce4e20,
  900: #b4421a,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

// $custom-palette: mat.$custom-primary-palette;

// accent: DC5323
$custom-primary: mat.define-palette($custom-primary-palette, 500);
$custom-accent: mat.define-palette($custom-accent-palette, 700);

// $custom-primary: mat-palette($custom-primary-palette);

// $custom-accent: mat-palette($mat-pink, 100, 500, A100);
// $custom-warn: mat-palette($mat-lime);
// $custom-theme: mat-light-theme($custom-primary-palette);

// $headline-1: mat.define-typography-level(35px, 35px, 700, $displayFont),
// $headline-2: mat.define-typography-level(20px, 20px, 500, $displayFont),
// $headline-6: mat.define-typography-level(50px, 50px, 800, $displayFont),

$displayFont: Montserrat;
$textFont: Roboto;

// FIXME: Nämä fonttimäärittelyt ei jostain syystä tee mitään.

$custom-typography-config: mat.define-typography-config(
  $headline-3: mat.define-typography-level(35px, 35px, 700, $displayFont, normal),
  $headline-5: mat.define-typography-level(50px, 50px, 800, $displayFont, normal),
  $body-1: mat.define-typography-level(15px, 15px, 400, $textFont, normal),
  $body-2: mat.define-typography-level(15px, 15px, 400, $textFont, normal),
);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
    ),
    typography: $custom-typography-config,
  )
);

// @mixin custom-theme($theme) {
//   $primary: map-get($theme, primary);
// }

// Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($custom-theme);

// @include mat-core($custom-typography-config);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
// @include mat.button-theme($custom-theme);

// @include mat.toolbar-theme($custom-theme);

// @include mat.core-theme($custom-theme);

@include mat.button-theme($custom-theme);

// TODO: laita tämän sijaan vain niille komponenteille, mitä käytetään.
@include mat.all-component-themes($custom-theme);

/* ================================================= */

// Skaalaus UI-suunnitelman kokoihin.
$scale-factor: 0.95;

body {
  font-family: $textFont;
  font-size: 15px;
  line-height: 1.45;
  margin: 0;
}

main {
  background-color: #ffffff;
}

.theming-footer {
  background-color: mat.get-color-from-palette($custom-primary-palette, 500);
}

// FIXME: Jos tässä määritelee font-weightin, niin ei tee mitään. On nyt määritelty templateissa.
.theme-header-text {
  font-family: $displayFont;
  font-size: calc(35px * $scale-factor);
}

.theme-header-text-small {
  font-family: $displayFont;
  font-size: 20px;
}

// Käytössä kirjautumissivulla.
.theme-main-headline {
  display: inline-block;
  font-family: $displayFont;
  font-size: calc(50px * $scale-factor);
  font-weight: 900;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  // margin: 70px auto 0 auto;
  text-align: center;
  z-index: 0;
}

// Viiva otsikon alle.
.theme-main-headline::after {
  //  margin-left: auto;
  //  margin-right: auto;
  background: mat.get-color-from-palette($custom-accent-palette, 700);
  content: "";
  display: block;
  height: 3px;
  // margin-left: auto;
  // margin-right: auto;
  position: relative;
  top: -14px;
  left: -6%;
  width: 112%;
  // width: 630px;
  z-index: -1;
}


.theme-h1 {
  font-family: $displayFont;
  font-size: calc(50px * $scale-factor);
  font-weight: 900;
  line-height: 1.2;
  position: relative;
  z-index: 0;
  // border-style: dotted;
  // border-color:#7dceeb;
  overflow: hidden;
}

// H1 -tagien ja otsikon tekstin välinen elementti. Tarvitaan pituuden mukaan muuttuva
// inline-elementti alla olevan otsikon alla olevan viivan pituuden määrittelyyn.
.theme-h1 span {
  width: 100%;
  position: relative;
  // border-style: dotted;
  // border-color: green;
}

// Otsikon viimeisen rivin alla oleva viiva.
.theme-h1 span:after {
  content: "";
  background: mat.get-color-from-palette($custom-accent-palette, 700);
  bottom: 5px;
  height: 3px;
  left: 0;
  padding-right: 5.05em;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.theme-h2 {
  font-family: $displayFont;
  font-size: calc(32px * $scale-factor);
  font-weight: 900;
  margin-block-end: 30px;
  // margin-left: 12px;
}

.theme-profile-name {
  font-size: 20px;
  font-weight: 500;
}

// @include angular-material-theme($custom-primary);

// html {
  // height: 100%;
// }

// app-login {
//   display: flex;
//   flex-grow: 1;
//   flex-direction: column;
// }

.mdc-button {
  text-transform: uppercase;
  font-weight: 600;
}

.theme-label {
  // color: rgba(0, 0, 0, 0.6);
  color: #757575;
  font-size: 75%;
  // line-height: 0.75em;
  margin-bottom: -1em;
}

.theme-p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  white-space: pre-wrap;
}

.theme-divider {
  border-top-color: mat.get-color-from-palette($custom-accent-palette, 700);
  border-top-width: 3px;
  border-top-style: solid;
  display: block;
  margin: 5em auto;
  width: 94%;
}

.ticket-header {
  display: flex;
  .sender-info {
    display: flex;
    gap: 0px;
    flex-direction: column;
    margin-top: 26px;
    margin-left: 15px;
    margin-right: 10px;
    min-width: 10em;
    text-align: right;
    .theme-profile-name {
      line-height: 1.15;
      display: block;
    }
  }
  img {
    flex-shrink: 1;
    height: 40px;
    margin-top: 25px;
    object-fit: cover;
    width: 40px;
  }
}

// Syntaksin korostuksen väriteema.
// TODO: toteuta paremmin ja suoraan message komponentissa.
.ͼ5 {color: #404740;}
.ͼ6 {text-decoration: underline;}
.ͼ7 {text-decoration: underline; font-weight: bold;}
.ͼ8 {font-style: italic;}
.ͼ9 {font-weight: bold;}
.ͼa {text-decoration: line-through;}
.ͼb {color: #708;}
.ͼc {color: #219;}
.ͼd {color: #164;}
.ͼe {color: #a11;}
.ͼf {color: #e40;}
.ͼg {color: #00f;}
.ͼh {color: #30a;}
.ͼi {color: #085;}
.ͼj {color: #167;}
.ͼk {color: #256;}
.ͼl {color: #00c;}
.ͼm {color: #940;}
.ͼn {color: #f00;}
