@use "@angular/material" as mat;
@import "./variables.scss";

// Tarvitseeko?
@import "@angular/material/theming";
@import url("https://fonts.googleapis.com/css?family=Montserrat:800,600,500,400");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@include mat.core();

/* ======== Angular material custom theme ======== */

$custom-primary-palette: (
  50: #e0f4fa,
  100: #b0e2f3,
  200: #7dceeb,
  300: #4bbbe3,
  400: #23addf,
  500: #009dd7,
  600: #008fca,
  700: #007db7,
  800: #006ca3,
  900: #004e84,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$custom-accent-palette: (
  50: #f9eae8,
  100: #fbcdbe,
  200: #f9ae94,
  300: #f78f6a,
  400: #f6774a,
  500: #f5612b,
  600: #ea5b27,
  700: #dc5423,
  800: #ce4e20,
  900: #b4421a,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

// $custom-palette: mat.$custom-primary-palette;

// accent: DC5323

$custom-primary: mat.define-palette($custom-primary-palette, 500);
$custom-accent: mat.define-palette($custom-accent-palette, 700);
// $custom-primary: mat-palette($custom-primary-palette);

// $custom-accent: mat-palette($mat-pink, 100, 500, A100);
// $custom-warn: mat-palette($mat-lime);
// $custom-theme: mat-light-theme($custom-primary-palette);

// $headline-1: mat.define-typography-level(35px, 35px, 700, Montserrat),
// $headline-2: mat.define-typography-level(20px, 20px, 500, Montserrat),
// $headline-6: mat.define-typography-level(50px, 50px, 800, Montserrat),

$custom-typography-config: mat.define-typography-config(
  $headline-3: mat.define-typography-level(35px, 1, 700, Montserrat, normal),
  $headline-5: mat.define-typography-level(50px, 1, 800, Montserrat, normal),
  $body-1: mat.define-typography-level(15px, 1, 400, Roboto, normal),
  $body-2: mat.define-typography-level(15px, 1, 400, Roboto, normal),
);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
    ),
    typography: $custom-typography-config,
  )
);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($custom-theme);

// @include mat-core($custom-typography-config);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($custom-theme);

// @include mat.toolbar-theme($custom-theme);

@include mat.all-component-themes($custom-theme);

// Skaalaus UI-suunnitelman kokoihin.
$scale-factor: 0.95;

// FIXME: tässä määritelty font-weight ei tee mitään.
.theme-header-text {
  font-family: Montserrat;
  font-size: calc(35px * $scale-factor);
}

.theme-header-text-small {
  font-family: Montserrat;
  font-size: 20px;
}


.theme-main-headline::after {
  display: block;
  content: "";
  width: 630px;
  height: 2px;
  background: #dc5323;
  position: relative;
  top: -9px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;

  //  margin-right: auto;
  //  margin-left: auto;
}

.theme-main-headline {
  font-family: Montserrat;
  font-size: calc(50px * $scale-factor);
  font-weight: 900;
  position: relative;
  margin: 70px auto 0 auto;
  text-align: center;
  z-index: 0;
}

.theme-h1 {
  font-family: Montserrat;
  font-size: calc(50px * $scale-factor);
  font-weight: 900;
  position: relative;
  z-index: 0;
  // border-style: dotted;
  // border-color:#7dceeb;
  overflow: hidden;
}

.theme-h1 span {
  width: 100%;
  position: relative;
  // border-style: dotted;
  // border-color: green;
}

.theme-h1 span:after {
  content: "";
  height: 2px;
  background: #dc5323;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  padding-right: 5.05em;
  z-index: -1;
}

.theme-h2 {
  font-family: Montserrat;
  font-size: calc(32px * $scale-factor);
  font-weight: 800;
  margin-block-end: 30px;
  // margin-left: 12px;
}

// .mat-mdc-raised-button {
//     color: white !important;
// }

// @include angular-material-theme($custom-primary);

html {
  height: 100%;
}

body {
  // FIXME: ei toimi.
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
}

app-login {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mdc-button {
  text-transform: uppercase;
  font-weight: 600;
}
