@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat-core();

/* ======== Angular material custom theme ======== */ 

$custom-primary-palette: (
    50:  #e0f4fa,
    100: #b0e2f3,
    200: #7dceeb,
    300: #4bbbe3,
    400: #23addf,
    500: #009dd7,
    600: #008fca,
    700: #007db7,
    800: #006ca3,
    900: #004e84,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white
    )
);

// $custom-palette: mat.$custom-primary-palette;

// accent: DC5323

$custom-primary: mat.define-palette(mat.$custom-primary-palette, 500);
// $custom-primary: mat-palette($custom-primary-palette);

// $custom-accent: mat-palette($mat-pink, 100, 500, A100);
// $custom-warn: mat-palette($mat-lime);
// $custom-theme: mat-light-theme($custom-primary-palette);


$custom-theme: mat.define-light-theme((
    color: (
        primary: $custom-primary,
    ),
    density: 0,
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($custom-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($custom-theme);
@include mat.toolbar-theme($custom-theme);

@include angular-material-theme($custom-primary);