@import '/src/variables.scss';

.top-buttons-wrapper {
  // Käytetään, vaikka ei olisi upotuksessa.
  margin-top: var(--margin-top-embedded);
}

.button-wrapper {
  display: flex;
  margin-top: 2em;
  padding-right: 3em;
}

.spacer {
  display: block;
  flex: 1 1 auto;
}

button {
  min-width: 8em
}

h2 { margin-top: 3rem }

h3 { margin-bottom: 2.5rem }
