@import '/src/variables.scss';

// .login-page {
    // border: {
  //     style: solid;
  //     color: green;
  //     width: 2px;
  // }
  // flex-grow: 5;

  // padding: 0;
  // width: 100%;

  // min-height: calc(100vh - 2 * 64px);

  // overflow: hidden;

  // background: {
  //   position: center
  //   repeat: no-repeat;
  //   size: cover;
  // }
  /*   TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  /*   TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/

  #login {

    text-align: center;
    // flex-grow: 1;
    // height: 70vh;
    // max-width: 800px;
    // min-width: 320px;
    // width: 30%;
    #content {
      // border-color: gray dotted 1px;
      max-width: 27em;
      margin-left: auto;
      margin-right: auto;
      mat-form-field {
        margin-bottom: 0;
      }
    }
    button {
      // display: block;
      margin: 0 auto 14px auto;
      width: 80%;
    }
    #loginButton {
      color: white;
    }
    #loginProblemsButton {
      color: black;
    }
  }

mat-form-field {
  width: 80%;
  display: block;
  margin: auto;
}

@media screen and (max-width: $XSmall) {
  #login {
    width: 100%;
    }
  // mat-form-field {
  //   width: 95%;
  // }
  }
