<h1 class="theme-h1 centered-h1"><span>DVV-tikettijärjestelmä</span></h1>

<div class="content">
  <h2 class="theme-h2" i18n="@@Sisäänkirjautuminen">Sisäänkirjautuminen</h2>
  <form action="">
    <mat-form-field>
      <input
        matInput
        i18n-placeholder="@@Käyttäjätunnus"
        placeholder="Käyttäjätunnus"
        required
        name="email"
        [(ngModel)]="email"
        ng-change="validateEmail()"
      />
      <mat-error i18n="@@Käyttäjätunnus tarvitaan."
        >Käyttäjätunnus tarvitaan.</mat-error
      >
      <!-- <mat-icon matSuffix>email</mat-icon> -->
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        i18n-placeholder="@@Salasana"
        placeholder="Salasana"
        type="password"
        required
        minlength="8"
        name="password"
        [(ngModel)]="password"
      />
      <mat-error i18n="@@Salasanan pituus">
        Vähintään {{ passwordMinLength }} pitkä salasana tarvitaan.
      </mat-error>
      <!-- <mat-icon matSuffix>lock</mat-icon> -->
    </mat-form-field>

    <!-- <div class="line-container">
              <mat-divider></mat-divider>
              <div class="mat-typography" i18n="@@tai">tai</div>
              <mat-divider></mat-divider>
            </div>

            <button
              mat-raised-button
              (click)="loginWithoutAuth()"
              class="login-button"
              style="color: gray"
              i18n="@@Sisään kirjautumatta"
            >
              Sisään kirjautumatta (!)
            </button> -->

    <!-- <p>{{isLoginRemembered}}</p> -->
    <!-- <mat-checkbox [(ngModel)]="isLoginRemembered" name="checkbox" i18n="@@Muista minut" >Muista minut</mat-checkbox> -->

    <!-- Custom-komponentti shared-moduulista. -->
    <app-error-card
      *ngIf="serverErrorMessage.length > 0"
      i18n-title="@@Kirjautuminen ei onnistunut"
      title="Kirjautuminen ei onnistunut"
      message="{{ serverErrorMessage }}"
      [styles]="{ margin: '1em 10% 1em 10%' }"
    >
    </app-error-card>

    <button
      mat-raised-button
      [disabled]="email.length < 3 || password.length < passwordMinLength"
      color="primary"
      (click)="login()"
      i18n="@@Kirjaudu"
    >
      Kirjaudu
    </button>

    <button mat-raised-button>
      Kirjautumisongelmia?
    </button>
  </form>
</div>
