// .login-page {
    // border: {
  //     style: solid;
  //     color: green;
  //     width: 2px;
  // }
  // flex-grow: 5;

  // padding: 0;
  // width: 100%;

  // min-height: calc(100vh - 2 * 64px);

  // overflow: hidden;

  // background: {
  //   position: center;
  //   repeat: no-repeat;
  //   size: cover;
  // }
  /*   TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  /*   TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  mat-card {
    /*   TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
    mat-card-title {
      margin-top: 0.5em;
      text-align: center;
    }
    border-radius: 8px;
    margin: 20% auto;
    max-width: 500px;
    min-width: 320px;
    width: 30%;
  }
  /*   TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  mat-card.is-phone-portrait {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0px;
    width: 94%;
  }
// }

// .custom-error {
//   display: block;
//   color: #f44336;
//   line-height: 1.125;
//   font: {
//     size: 75%;
//     weight: 400;
//   }
// }

/*   TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
mat-form-field,
mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}

/*   TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card-content {
  margin-top: 20px;
}

.login-button {
  display: block;
  margin: 1em auto 1em auto;
  text-transform: uppercase;
  width: 80%;
}

.line-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  mat-divider {
    flex: 1;
  }
  .mat-typography {
    padding: {
      left: 10px;
      right: 10px;
    }
  }
}
