.login-page {
  //   border: {
  //     style: solid;
  //     color: green;
  //     width: 2px;
  // }
  // flex-grow: 5;

  // padding: 0;
  width: 100%;

  // min-height: calc(100vh - 2 * 64px);

  overflow: hidden;

  background: {
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  mat-card {
    border-radius: 8px;
    margin: 7% auto;
    max-width: 500px;
    min-width: 320px;
    width: 30%;
  }
  mat-card.is-phone-portrait {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0px;
    width: 94%;
  }
}

.custom-error {
  display: block;
  color: #f44336;
  line-height: 1.125;
  font: {
    size: 75%;
    weight: 400;
  }
}

// Titleä jos käyttää.
.spacer {
  flex: 1 1 auto;
}

mat-form-field,
mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}

mat-card-content {
  margin-top: 20px;
}

.login-button {
  display: block;
  margin: 20px auto;
  width: 80%;
}

.line-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  mat-divider {
    flex: 1;
  }
  .mat-typography {
    padding: {
      left: 10px;
      right: 10px;
    }
  }
}
