<h1 class="main-header centered-h1"><span>DVV-tikettijärjestelmä</span></h1>

<div class="content">
  <h2 class="sub-header" i18n="@@Sisäänkirjautuminen">Sisäänkirjautuminen</h2>
  <form action="">
    <mat-form-field>
      <input matInput
            i18n-placeholder="@@Käyttäjätunnus"
            name="email"
            [(ngModel)]="email"
            ng-change="validateEmail()"
            placeholder="Käyttäjätunnus"
            required
            />
      <mat-error i18n="@@Käyttäjätunnus tarvitaan."
        >Käyttäjätunnus tarvitaan.</mat-error
>
      <!-- <mat-icon matSuffix>email</mat-icon> -->
    </mat-form-field>

    <mat-form-field>
      <input  i18n-placeholder="@@Salasana"
              matInput
              minlength="8"
              name="password"
              [(ngModel)]="password"
              placeholder="Salasana"
              required
              type="password"
      />
      <mat-error i18n="@@Salasanan pituus">
        Vähintään {{ passwordMinLength }} pitkä salasana tarvitaan.
      </mat-error>
      <!-- <mat-icon matSuffix>lock</mat-icon> -->
    </mat-form-field>

    <!-- Custom-komponentti shared-moduulista. -->
    <app-error-card
        i18n-title="@@Kirjautuminen ei onnistunut"
        message="{{ errorMessage }}"
        *ngIf="errorMessage.length > 0"
        [styles]="{ margin: '1em 10% 1em 10%;'}"
        title="Kirjautuminen ei onnistunut"
        >
    </app-error-card>

    <button (click)="login()"
            color="primary"
            [disabled]="email.length < 3 || password.length < passwordMinLength"
            i18n="@@Kirjaudu"
            mat-raised-button
            >
      Kirjaudu
    </button>

    <!-- TODO: Jostain toiminnallisuutta tälle. -->
    <!--- <button mat-raised-button i18n="@@Kirjautumisongelmia?">
      Kirjautumisongelmia?
    </button>  -->
  </form>
</div>
