<h1 class="main-header" >
  <span>Kurssialuetta ei ole luotu</span>
</h1>

<div class="content-wrapper">

  <p>
    Olet kieltäytynyt tietojen luovuttamisesta tikettijärjestelmän käyttöön.
    Kurssialuetta ei ole vielä luotu eikä siten ole vielä sisältöä näytettäväksi
    kirjautumattomalle käyttäjälle.
    Voit halutessasi siirtyä luvan antamiseen tietojen luovuttamiseen painamalla
    alla olevaa painiketta. Tällöin myös uusi kurssialue luodaan.
  </p>

  <div class="buttons-wrapper">
    <button (click)="giveConsent()"
            color="primary"
            i18n="@@Hyväksyn"
            mat-raised-button
            >
      Siirry luvan antamiseen
    </button>
  </div>

</div>