.file-input {
  display: none;
}

// .mat-mdc-list-item {
//   padding-left: 0;
// }

.file-list {
  margin-top: 1em;
}

// .mdc-list-item.mdc-list-item--with-one-line {
  .list-item {
    // height: 2.3em;
    background-color: #F5F5F5;
    margin-bottom: 0.5rem;
    position: relative;
    max-width: 30rem;
    padding: 0.6em 0.6em 0.2em 1em;
  }

.filename {
  display: inline-block;
  // outline: blue 1px solid;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 96%;
}

.remove-file-button {
  color: #7B7B7B;
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  margin: auto;
  // top: 0;
  right: 0.3rem;


  mat-icon {
    font-size: 1rem;
    position: absolute;
    // top: 35%;
    // bottom: 0;
    top: 15%;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}
