<mat-progress-bar class="theme-progress-bar" mode="indeterminate" *ngIf="!isLoaded">
</mat-progress-bar>

<div class="faq-view" *ngIf="isLoaded">

  <h1 class="main-header" *ngIf="courseName.length > 0 && !isInIframe">
    <!-- Jos käytetään kirjautumisen tunnistinta. -->
    <!-- <h1 class="main-header" *ngIf="courseName.length > 0 && !isInIframe; 
      lse verticalSpacer"> -->
    <span>{{ courseName }}</span>
  </h1>

  <div class="vertical-spacer" *ngIf="isInIframe"></div>

  <div id="top-buttons">
    <app-to-beginning-button></app-to-beginning-button>

    <!-- Tiketin tilan tarkastamalla tietää, saatiinko tiedot haettua. -->
    <div class="edit-buttons-wrapper">
      <button (click)="editFaq()"
              i18n="@@Muokkaa"
              mat-raised-button
              *ngIf="(user.asema === 'opettaja' || user.asema === 'admin') &&
                  ticket.tila > 0"
              >
        Muokkaa
      </button>

      <button class="remove-btn"
              (click)="changeArchiveButton()"
              i18n="@@Poista"
              mat-raised-button
              *ngIf="isArchivePressed === false && (user.asema === 'opettaja' ||
                  user.asema === 'admin') && ticket.tila > 0"
              >
        Poista
      </button>

      <button class="remove-btn"
              (click)="archiveFaq()"
              color="accent"
              i18n="@@Vahvista poisto"
              mat-raised-button
              *ngIf="isArchivePressed === true"
              >
        Vahvista poisto
      </button>

      <button class="copy-link-btn"
              (click)="isCopyToClipboardPressed = true"
              i18n="@@Kopioi linkki"
              mat-raised-button
              *ngIf="isCopyToClipboardPressed === false"
              onclick="navigator.clipboard.writeText(window.location.href)"
              >
        Kopioi linkki
      </button>

      <button mat-raised-button
              i18n="@@Kopioitu leikepöydälle"
              onclick="navigator.clipboard.writeText(window.location.href)"
              *ngIf="isCopyToClipboardPressed === true"
              >
        Kopioitu leikepöydälle
      </button>

    </div>

  </div>

  <section *ngIf="ticket.viesti !== undefined">

    <h2 class="sub-header">{{ ticket.otsikko }}</h2>

    <!----------- Kysymys ----------->

    <div *ngFor="let kentta of ticket.kentat">
      <p class="theme-label" >{{ kentta.otsikko }}</p>
      <p class="short-field-value">{{ kentta.arvo }}</p>
    </div>

    <h3 class="sub-header" i18n="@@Kysymys">Kysymys</h3>

    <app-message class="message" [messageHtml]=ticket.viesti></app-message>

    <app-view-attachments
        [files]="ticket.liitteet"
        *ngIf="ticket.liitteet"
        [ticketID]="ticket.id"
        >
    </app-view-attachments>

    <hr class="theme-divider">

    <!----------- Vastaus ----------->

    <h3 class="sub-header" i18n="@@Vastaus">Vastaus</h3>

    <div class="short-vertical-spacer"></div>

    <div *ngFor="let comment of ticket.kommentit">
        <app-message [messageHtml]=comment.viesti></app-message>
        <app-view-attachments
            [files]="comment.liitteet"
            *ngIf="comment.liitteet"
            [ticketID]="ticket.id"
            >
      </app-view-attachments>
    </div>

  </section>

  <mat-card-content *ngIf="errorMessage.length > 0">
    <app-error-card
        i18n-title="@@Virhe"
        message="{{ errorMessage }}"
        [styles]="{ margin: '1em 0' }"
        title="Virhe"
        >
    </app-error-card>
  </mat-card-content>

</div>
