<mat-progress-bar class="theme-progress-bar" mode="indeterminate" *ngIf="!isLoaded"></mat-progress-bar>

<div class="faq-view" *ngIf="isLoaded">

  <h1 class="main-header" *ngIf="courseName.length > 0 && !isInIframe">
    <!-- Jos käytetään kirjautumisen tunnistinta. -->
    <!-- <h1 class="main-header" *ngIf="courseName.length > 0 && !isInIframe; else verticalSpacer"> -->
    <span>{{ courseName }}</span>
  </h1>

  <div class="vertical-spacer" *ngIf="isInIframe"></div>

  <div id="top-buttons">
    <app-to-beginning-button></app-to-beginning-button>

    <!-- Tiketin tilan tarkastamalla tietää, saatiinko tiedot haettua. -->
    <div class="edit-buttons-wrapper">
      <button *ngIf="(user.asema === 'opettaja' || user.asema === 'admin') && ticket.tila > 0" mat-raised-button i18n="@@Muokkaa"
        (click)="editFaq()">
        Muokkaa
      </button>

      <button mat-raised-button *ngIf="isArchivePressed === false && (user.asema === 'opettaja' || user.asema === 'admin') && ticket.tila > 0"
        i18n="@@Poista" (click)="changeArchiveButton()">
        Poista
      </button>

      <button mat-raised-button (click)="archiveFaq()" *ngIf="isArchivePressed === true" color="accent" i18n="@@Vahvista poisto">
        Vahvista poisto
      </button>

      <button mat-raised-button
        i18n="@@Kopioi linkki"
        onclick="navigator.clipboard.writeText(window.location.href)"
        *ngIf="isCopyToClipboardPressed === false"
        (click)="isCopyToClipboardPressed = true"
      >
        Kopioi linkki
      </button>

      <button mat-raised-button
        i18n="@@Kopioitu leikepöydälle"
        onclick="navigator.clipboard.writeText(window.location.href)"
        *ngIf="isCopyToClipboardPressed === true"
      >
        Kopioitu leikepöydälle
      </button>

    </div>

  </div>

  <section *ngIf="ticket.viesti !== undefined">

    <h3 class="sub-header">{{ ticket.otsikko }}</h3>

    <!----------- Kysymys ----------->

    <div *ngFor="let kentta of ticket.kentat">
      <p class="theme-label" >{{ kentta.otsikko }}</p>
      <p class="short-field-value">{{ kentta.arvo }}</p>
    </div>

    <h4 class="sub-header" i18n="@@Kysymys">Kysymys</h4>

    <app-message class="message" [messageHtml]=ticket.viesti></app-message>

    <app-view-attachments *ngIf="ticket.liitteet" [ticketID]="ticket.id" [files]="ticket.liitteet">
    </app-view-attachments>

    <hr class="theme-divider">

    <!----------- Vastaus ----------->

    <h4 class="sub-header" i18n="@@Vastaus">Vastaus</h4>

    <div class="short-vertical-spacer"></div>

    <div *ngFor="let comment of ticket.kommentit">
        <app-message [messageHtml]=comment.viesti></app-message>
        <app-view-attachments *ngIf="comment.liitteet" [ticketID]="ticket.id" [files]="comment.liitteet">
      </app-view-attachments>
    </div>

  </section>

  <mat-card-content *ngIf="errorMessage.length > 0">
    <app-error-card
      i18n-title="@@Virhe"
      title="Virhe"
      message="{{ errorMessage }}"
      [styles]="{ margin: '1em 0' }"
    >
    </app-error-card>
  </mat-card-content>

</div>
