.faq-view-card {
    margin: auto;

    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card {
        margin: 0 auto 1em;
    }


}

button {
  text-transform: uppercase;
}

#backButton {
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

.faqTitle {
    // margin-bottom: 1em;
}

#viewTitle {
    margin-bottom: 1em;
}

mat-divider {
  margin-top: 2em;
  padding-bottom: 2em;
}

#question {
  // margin-left: 1em;
  margin-top: 1em;
}

#answer {
  margin-bottom: 0.5em;
}

.message {
  white-space: pre-wrap;
}
